﻿<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/app-assets/images/ico/softserve-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/app-assets/images/ico/softserve-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/app-assets/images/ico/softserve-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/app-assets/images/ico/softserve-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/app-assets/images/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/Content/app-assets/images/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- Theme CSS -->
    @Styles.Render("~/Content/themecss")
    <!-- Theme Modernizr -->
    @Scripts.Render("~/bundles/modernizr")
    <!-- Added Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,400,500,700" rel="stylesheet">

</head>

@* ** -- HIDE SHOW MENU WITH 'vertical-compact-menu' -- ***@
@*<body id="bdMainBody" class="vertical-layout 2-columns menu-expanded vertical-compact-menu fixed-navbar"
      data-open="click" data-menu="vertical-compact-menu" data-col="2-columns">*@
@* ** -- HIDE SHOW MENU WITH 'vertical-compact-menu' -- ***@

    @if (ViewBag.bIsClientLoggedIn == true || ViewBag.bIsUserLoggedIn == true)
    {
        <body id="bdMainBody" class="vertical-layout 2-columns menu-expanded fixed-navbar vertical-compact-menu"
              data-open="click" data-menu="vertical-compact-menu" data-col="2-columns">
            <!-- fixed-top-->
            <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark bg-primary navbar-shadow navbar-brand-center">
                <div class="navbar-wrapper">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav flex-row">
                            <li class="nav-item mobile-menu d-md-none mr-auto">
                                <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Home")" class="navbar-brand nav-link">
                                    <img alt="Softserve Digital Developement" style="width:180px;" src="../../Content/app-assets/images/logo/imgSDD-Logo.png"
                                         data-expand="../Content/app-assets/images/logo/robust-logo-light.png"
                                         data-collapse="../Content/app-assets/images/logo/robust-logo-small.png"
                                         class="brand-logo">
                                </a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-container content">
                        <div class="collapse navbar-collapse" id="navbar-mobile">
                            <ul class="nav navbar-nav mr-auto float-left">

                                @if (ViewBag.bIsClientLoggedIn == true || ViewBag.bIsUserLoggedIn == true)
                                {
                                    @Html.Action("_MainMenuTogglePartial", "LayoutPartialViews")
                                }

                                <li class="dropdown nav-item mega-dropdown">
                                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">MENU</a>
                                    <ul class="mega-dropdown-menu dropdown-menu row mega-dropdown-menu-z-index">
                                        <li class="col-md-2">
                                            <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="fa fa-newspaper-o"></i> Our Latest News and Articles</h6>
                                            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                                                    <li data-target="#carousel-example" data-slide-to="1"></li>
                                                    <li data-target="#carousel-example" data-slide-to="2"></li>
                                                </ol>
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <img src="../../Content/app-assets/images/slider/slider-2.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mb-0">Poster Frame PSD</a>
                                                        <p class="news-content"><span class="font-small-2">January 26, 2016</span></p>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="../../Content/app-assets/images/slider/slider-2.png" alt="Second slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mb-0">Header MockUp</a>
                                                        <p class="news-content"><span class="font-small-2">January 15, 2016</span></p>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="../../Content/app-assets/images/slider/slider-2.png" alt="Third slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mb-0">2 Poster PSD</a>
                                                        <p class="news-content"><span class="font-small-2">January 15, 2016</span></p>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="col-md-3">
                                            <h6 class="dropdown-menu-header text-uppercase"><i class="icon-pacman"></i> Get some Flavour Today!</h6>
                                            <ul class="drilldown-menu">
                                                <li class="menu-list">
                                                    <ul>

                                                        <li>
                                                            <a href="#"><i class="icon-icecream"></i> Our Tasty Solutions</a>
                                                            <ul>
                                                                <li><a href="#" class="dropdown-item"><i class="icon-ios-game-controller-b"></i>  Gamification - to add game like qualities</a></li>
                                                                <li><a href="#" class="dropdown-item"><i class="icon-ios-pricetag"></i> Wanting to sell your goods online?</a></li>
                                                                <li><a href="#" class="dropdown-item"><i class="icon-watch"></i> On-demand data</a></li>
                                                                <li><a href="#" class="dropdown-item"><i class="icon-help2"></i> How can we help?</a></li>
                                                                <li>
                                                                    <a href="#"><i class="icon-umbrella3"></i> Second level menu</a>
                                                                    <ul>
                                                                        <li><a href="#" class="dropdown-item"><i class="icon-microphone2"></i>  Third level</a></li>
                                                                        <li><a href="#" class="dropdown-item"><i class="icon-head"></i> Third level</a></li>
                                                                        <li><a href="#" class="dropdown-item"><i class="icon-signal2"></i> Third level</a></li>
                                                                        <li><a href="#" class="dropdown-item"><i class="icon-camera8"></i> Third level</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="layout-2-columns.html" class="dropdown-item"><i class="icon-bowtie"></i> Meet our awesome team</a></li>
                                                        <li><a href="@Url.Action("Contact", "Home")" class="dropdown-item"><i class="icon-ios-telephone"></i> Contact Us</a></li>
                                                        <li><a href="sk-2-columns.html" class="dropdown-item"><i class="icon-edit2"></i> Page starter kit</a></li>
                                                        <li><a href="changelog.html" class="dropdown-item"><i class="icon-files-empty"></i> Change log</a></li>
                                                        <li><a href="http://support.pixinvent.com/" class="dropdown-item"><i class="icon-tencent-weibo"></i> Customer support center</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3 navbar-col-3-spacing">
                                            <h6 class="dropdown-menu-header text-uppercase"><i class="icon-bubble"></i> Lets get Social</h6>
                                            <div>
                                                INSTAGRAM<br />
                                                PINTREST<br />
                                                FACEBOOK<br />
                                            </div>
                                            @*<div id="accordionWrap" role="tablist" aria-multiselectable="true">
                                                    <div class="card border-0 box-shadow-0 collapse-icon accordion-icon-rotate">
                                                        <div class="card-header p-0 pb-2 border-0" id="headingOne" role="tab">
                                                            <a data-toggle="collapse" data-parent="#accordionWrap" href="#accordionOne"
                                                               aria-expanded="true" aria-controls="accordionOne">Accordion Item #1</a>
                                                        </div>
                                                        <div class="card-collapse collapse show" id="accordionOne" role="tabpanel" aria-labelledby="headingOne"
                                                             aria-expanded="true">
                                                            <div class="card-content">
                                                                <p class="accordion-text text-small-3">
                                                                    Caramels dessert chocolate cake pastry jujubes bonbon.
                                                                    Jelly wafer jelly beans. Caramels chocolate cake liquorice
                                                                    cake wafer jelly beans croissant apple pie.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="card-header p-0 pb-2 border-0" id="headingTwo" role="tab">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionWrap"
                                                               href="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">Accordion Item #2</a>
                                                        </div>
                                                        <div class="card-collapse collapse" id="accordionTwo" role="tabpanel" aria-labelledby="headingTwo"
                                                             aria-expanded="false">
                                                            <div class="card-content">
                                                                <p class="accordion-text">
                                                                    Sugar plum bear claw oat cake chocolate jelly tiramisu
                                                                    dessert pie. Tiramisu macaroon muffin jelly marshmallow
                                                                    cake. Pastry oat cake chupa chups.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="card-header p-0 pb-2 border-0" id="headingThree" role="tab">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionWrap"
                                                               href="#accordionThree" aria-expanded="false" aria-controls="accordionThree">Accordion Item #3</a>
                                                        </div>
                                                        <div class="card-collapse collapse" id="accordionThree" role="tabpanel" aria-labelledby="headingThree"
                                                             aria-expanded="false">
                                                            <div class="card-content">
                                                                <p class="accordion-text">
                                                                    Candy cupcake sugar plum oat cake wafer marzipan jujubes
                                                                    lollipop macaroon. Cake dragée jujubes donut chocolate
                                                                    bar chocolate cake cupcake chocolate topping.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </li>
                                        <li class="col-md-4">
                                            <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="icon-mail6"></i> Contact Us</h6>
                                            <form class="form form-horizontal">
                                                <div class="form-body">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 form-control-label" for="inputName1">Name</label>
                                                        <div class="col-sm-9">
                                                            <div class="position-relative has-icon-left">
                                                                <input class="form-control" type="text" id="inputName1" placeholder="Your Name">
                                                                <div class="form-control-position pl-1"><i class="icon-head"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 form-control-label" for="inputEmail1">Email</label>
                                                        <div class="col-sm-9">
                                                            <div class="position-relative has-icon-left">
                                                                <input class="form-control" type="email" id="inputEmail1" placeholder="john@example.com">
                                                                <div class="form-control-position pl-1"><i class="icon-mail6"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 form-control-label" for="inputMessage1">Message</label>
                                                        <div class="col-sm-9">
                                                            <div class="position-relative has-icon-left">
                                                                <textarea class="form-control" id="inputMessage1" rows="2" placeholder="Your Text Message"></textarea>
                                                                <div class="form-control-position pl-1"><i class="icon-file-text"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 mb-1">
                                                            <button class="btn btn-info float-right" type="button"><i class="icon-send-o"></i> Send </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="@Url.Action("Home", "Solutions")" class="nav-link">SOLUTIONS</a></li>
                                <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                                <li class="nav-item nav-search">
                                    <a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>
                                    <div class="search-input">
                                        <input class="input" type="text" placeholder="Explore Softserve...">
                                    </div>
                                </li>

                            </ul>
                            <ul class="nav navbar-nav float-right">
                                <li class="nav-item"><a href="@Url.Action("Showcase", "Solutions")" class="nav-link">SHOWCASE</a></li>
                                <li class="nav-item"><a href="@Url.Action("About", "Home")" class="nav-link">ABOUT</a></li>

                                @if (ViewBag.bIsClientLoggedIn == true || ViewBag.bIsUserLoggedIn == true)
                                {
                                    @*@Html.Action("_LoginInfoPartial", "LayoutPartialViews")*@
                                    @Html.Action("_LogoutPartial", "LayoutPartialViews")
                                }
                                else
                                {
                                    @Html.Action("_LoginPartial", "LayoutPartialViews")
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- ////////////////////////////////////////////////////////////////////////////-->
            <!-- main menu-->

            @if (ViewBag.bIsUserLoggedIn == true)
            {
                @Html.Action("_MainMenuUserPartial", "LayoutPartialViews")
            }
            else if (ViewBag.bIsClientLoggedIn == true)
            {
                @Html.Action("_MainMenuClientPartial", "LayoutPartialViews")
            }

            <!-- / main menu-->
            <div class="app-content content">
                <div class="content-wrapper">
                    <!-- ** -- MAIN CONTENT -- ** -->
                    @RenderBody()
                    <!-- ** -- END MAIN CONTENT -- ** -->
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////////-->
            <footer class="footer footer-static footer-dark navbar-border navbar-shadow">
                <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
                    <span class="float-md-left d-block d-md-inline-block">
                        Copyright &copy; 2018 <a href="#" target="_blank" class="text-bold-400 blue ">Softserve Digital Development</a>,
                        All rights reserved.
                    </span>
                    <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made with <i class="ft-heart pink"></i></span>
                </p>
            </footer>

            <!-- GOOGLE MAPS JS-->
            @*<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBDkKetQwosod2SZ7ZGCpxuJdxY3kxo5Po"
                type="text/javascript"></script>*@
            <!-- GOOGLE MAPS JS-->
            <!-- Theme Scripts -->
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/themescripts")
            @RenderSection("scripts", required: false)

            @*<script type="text/javascript">

            function jsLoadMenuClass() {
                var bIsUserLoggedIn = '@ViewBag.bIsUserLoggedIn';
                var bIsClientLoggedIn = '@ViewBag.bIsClientLoggedIn';

                if (bIsUserLoggedIn != null && bIsUserLoggedIn != "") {
                    if (bIsUserLoggedIn.toString().toLowerCase() == "true") {
                        $("#bdMainBody").addClass("vertical-compact-menu");
                    }
                }

                if (bIsClientLoggedIn != null && bIsClientLoggedIn != "") {
                    if (bIsClientLoggedIn.toString().toLowerCase() == "true") {
                        $("#bdMainBody").addClass("vertical-compact-menu");
                    }
                }
            }
            </script>*@

        </body>
    }
    else
    {
        <body id="bdMainBody" class="vertical-layout 2-columns menu-expanded fixed-navbar"
              data-open="click" data-menu="vertical-compact-menu" data-col="2-columns">
            <!-- fixed-top-->
            <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark bg-primary navbar-shadow navbar-brand-center">
                <div class="navbar-wrapper">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav flex-row">
                            <li class="nav-item mobile-menu d-md-none mr-auto">
                                <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Home")" class="navbar-brand nav-link">
                                    <img alt="Softserve Digital Developement" style="width:180px;" src="../../Content/app-assets/images/logo/imgSDD-Logo.png"
                                         data-expand="../Content/app-assets/images/logo/robust-logo-light.png"
                                         data-collapse="../Content/app-assets/images/logo/robust-logo-small.png"
                                         class="brand-logo">
                                </a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-container content">
                        <div class="collapse navbar-collapse" id="navbar-mobile">
                            <ul class="nav navbar-nav mr-auto float-left">

                                @if (ViewBag.bIsClientLoggedIn == true || ViewBag.bIsUserLoggedIn == true)
                                {
                                    @Html.Action("_MainMenuTogglePartial", "LayoutPartialViews")
                                }

                                <li class="dropdown nav-item mega-dropdown">
                                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">MENU</a>
                                    <ul class="mega-dropdown-menu dropdown-menu row mega-dropdown-menu-z-index">
                                        <li class="col-md-2">
                                            <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="fa fa-newspaper-o"></i> Our Latest News and Articles</h6>
                                            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                                                    <li data-target="#carousel-example" data-slide-to="1"></li>
                                                    <li data-target="#carousel-example" data-slide-to="2"></li>
                                                </ol>
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <img src="../../Content/app-assets/images/slider/slider-2.png" alt="First slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mb-0">Poster Frame PSD</a>
                                                        <p class="news-content"><span class="font-small-2">January 26, 2016</span></p>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="../../Content/app-assets/images/slider/slider-2.png" alt="Second slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mb-0">Header MockUp</a>
                                                        <p class="news-content"><span class="font-small-2">January 15, 2016</span></p>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="../../Content/app-assets/images/slider/slider-2.png" alt="Third slide" class="rounded img-fluid mb-1"><a href="#" class="news-title mb-0">2 Poster PSD</a>
                                                        <p class="news-content"><span class="font-small-2">January 15, 2016</span></p>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="col-md-3">
                                            <h6 class="dropdown-menu-header text-uppercase"><i class="icon-pacman"></i> Get some Flavour Today!</h6>
                                            <ul class="drilldown-menu">
                                                <li class="menu-list">
                                                    <ul>

                                                        <li>
                                                            <a href="#"><i class="icon-icecream"></i> Our Tasty Solutions</a>
                                                            <ul>
                                                                <li><a href="#" class="dropdown-item"><i class="icon-ios-game-controller-b"></i>  Gamification - to add game like qualities</a></li>
                                                                <li><a href="#" class="dropdown-item"><i class="icon-ios-pricetag"></i> Wanting to sell your goods online?</a></li>
                                                                <li><a href="#" class="dropdown-item"><i class="icon-watch"></i> On-demand data</a></li>
                                                                <li><a href="#" class="dropdown-item"><i class="icon-help2"></i> How can we help?</a></li>
                                                                <li>
                                                                    <a href="#"><i class="icon-umbrella3"></i> Second level menu</a>
                                                                    <ul>
                                                                        <li><a href="#" class="dropdown-item"><i class="icon-microphone2"></i>  Third level</a></li>
                                                                        <li><a href="#" class="dropdown-item"><i class="icon-head"></i> Third level</a></li>
                                                                        <li><a href="#" class="dropdown-item"><i class="icon-signal2"></i> Third level</a></li>
                                                                        <li><a href="#" class="dropdown-item"><i class="icon-camera8"></i> Third level</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="layout-2-columns.html" class="dropdown-item"><i class="icon-bowtie"></i> Meet our awesome team</a></li>
                                                        <li><a href="@Url.Action("Contact", "Home")" class="dropdown-item"><i class="icon-ios-telephone"></i> Contact Us</a></li>
                                                        <li><a href="sk-2-columns.html" class="dropdown-item"><i class="icon-edit2"></i> Page starter kit</a></li>
                                                        <li><a href="changelog.html" class="dropdown-item"><i class="icon-files-empty"></i> Change log</a></li>
                                                        <li><a href="http://support.pixinvent.com/" class="dropdown-item"><i class="icon-tencent-weibo"></i> Customer support center</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-md-3 navbar-col-3-spacing">
                                            <h6 class="dropdown-menu-header text-uppercase"><i class="icon-bubble"></i> Lets get Social</h6>
                                            <div>
                                                INSTAGRAM<br />
                                                PINTREST<br />
                                                FACEBOOK<br />
                                            </div>
                                            @*<div id="accordionWrap" role="tablist" aria-multiselectable="true">
                                                    <div class="card border-0 box-shadow-0 collapse-icon accordion-icon-rotate">
                                                        <div class="card-header p-0 pb-2 border-0" id="headingOne" role="tab">
                                                            <a data-toggle="collapse" data-parent="#accordionWrap" href="#accordionOne"
                                                               aria-expanded="true" aria-controls="accordionOne">Accordion Item #1</a>
                                                        </div>
                                                        <div class="card-collapse collapse show" id="accordionOne" role="tabpanel" aria-labelledby="headingOne"
                                                             aria-expanded="true">
                                                            <div class="card-content">
                                                                <p class="accordion-text text-small-3">
                                                                    Caramels dessert chocolate cake pastry jujubes bonbon.
                                                                    Jelly wafer jelly beans. Caramels chocolate cake liquorice
                                                                    cake wafer jelly beans croissant apple pie.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="card-header p-0 pb-2 border-0" id="headingTwo" role="tab">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionWrap"
                                                               href="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">Accordion Item #2</a>
                                                        </div>
                                                        <div class="card-collapse collapse" id="accordionTwo" role="tabpanel" aria-labelledby="headingTwo"
                                                             aria-expanded="false">
                                                            <div class="card-content">
                                                                <p class="accordion-text">
                                                                    Sugar plum bear claw oat cake chocolate jelly tiramisu
                                                                    dessert pie. Tiramisu macaroon muffin jelly marshmallow
                                                                    cake. Pastry oat cake chupa chups.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="card-header p-0 pb-2 border-0" id="headingThree" role="tab">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionWrap"
                                                               href="#accordionThree" aria-expanded="false" aria-controls="accordionThree">Accordion Item #3</a>
                                                        </div>
                                                        <div class="card-collapse collapse" id="accordionThree" role="tabpanel" aria-labelledby="headingThree"
                                                             aria-expanded="false">
                                                            <div class="card-content">
                                                                <p class="accordion-text">
                                                                    Candy cupcake sugar plum oat cake wafer marzipan jujubes
                                                                    lollipop macaroon. Cake dragée jujubes donut chocolate
                                                                    bar chocolate cake cupcake chocolate topping.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </li>
                                        <li class="col-md-4">
                                            <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="icon-mail6"></i> Contact Us</h6>
                                            <form class="form form-horizontal">
                                                <div class="form-body">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 form-control-label" for="inputName1">Name</label>
                                                        <div class="col-sm-9">
                                                            <div class="position-relative has-icon-left">
                                                                <input class="form-control" type="text" id="inputName1" placeholder="Your Name">
                                                                <div class="form-control-position pl-1"><i class="icon-head"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 form-control-label" for="inputEmail1">Email</label>
                                                        <div class="col-sm-9">
                                                            <div class="position-relative has-icon-left">
                                                                <input class="form-control" type="email" id="inputEmail1" placeholder="john@example.com">
                                                                <div class="form-control-position pl-1"><i class="icon-mail6"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 form-control-label" for="inputMessage1">Message</label>
                                                        <div class="col-sm-9">
                                                            <div class="position-relative has-icon-left">
                                                                <textarea class="form-control" id="inputMessage1" rows="2" placeholder="Your Text Message"></textarea>
                                                                <div class="form-control-position pl-1"><i class="icon-file-text"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 mb-1">
                                                            <button class="btn btn-info float-right" type="button"><i class="icon-send-o"></i> Send </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="@Url.Action("Home", "Solutions")" class="nav-link">SOLUTIONS</a></li>
                                <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                                <li class="nav-item nav-search">
                                    <a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>
                                    <div class="search-input">
                                        <input class="input" type="text" placeholder="Explore Softserve...">
                                    </div>
                                </li>

                            </ul>
                            <ul class="nav navbar-nav float-right">
                                <li class="nav-item"><a href="@Url.Action("Showcase", "Solutions")" class="nav-link">SHOWCASE</a></li>
                                <li class="nav-item"><a href="@Url.Action("About", "Home")" class="nav-link">ABOUT</a></li>

                                @if (ViewBag.bIsClientLoggedIn == true || ViewBag.bIsUserLoggedIn == true)
                                {
                                    @*@Html.Action("_LoginInfoPartial", "LayoutPartialViews")*@
                                    @Html.Action("_LogoutPartial", "LayoutPartialViews")
                                }
                                else
                                {
                                    @Html.Action("_LoginPartial", "LayoutPartialViews")
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- ////////////////////////////////////////////////////////////////////////////-->
            <!-- main menu-->

            @if (ViewBag.bIsUserLoggedIn == true)
            {
                @Html.Action("_MainMenuUserPartial", "LayoutPartialViews")
            }
            else if (ViewBag.bIsClientLoggedIn == true)
            {
                @Html.Action("_MainMenuClientPartial", "LayoutPartialViews")
            }

            <!-- / main menu-->
            <div class="app-content content">
                <div class="content-wrapper">
                    <!-- ** -- MAIN CONTENT -- ** -->
                    @RenderBody()
                    <!-- ** -- END MAIN CONTENT -- ** -->
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////////-->
            <footer class="footer footer-static footer-dark navbar-border navbar-shadow">
                <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
                    <span class="float-md-left d-block d-md-inline-block">
                        Copyright &copy; 2018 <a href="#" target="_blank" class="text-bold-400 blue ">Softserve Digital Development</a>,
                        All rights reserved.
                    </span>
                    <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made with <i class="ft-heart pink"></i></span>
                </p>
            </footer>

            <!-- GOOGLE MAPS JS-->
            @*<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBDkKetQwosod2SZ7ZGCpxuJdxY3kxo5Po"
                type="text/javascript"></script>*@
            <!-- GOOGLE MAPS JS-->
            <!-- Theme Scripts -->
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/themescripts")
            @RenderSection("scripts", required: false)

            @*<script type="text/javascript">

            function jsLoadMenuClass() {
                var bIsUserLoggedIn = '@ViewBag.bIsUserLoggedIn';
                var bIsClientLoggedIn = '@ViewBag.bIsClientLoggedIn';

                if (bIsUserLoggedIn != null && bIsUserLoggedIn != "") {
                    if (bIsUserLoggedIn.toString().toLowerCase() == "true") {
                        $("#bdMainBody").addClass("vertical-compact-menu");
                    }
                }

                if (bIsClientLoggedIn != null && bIsClientLoggedIn != "") {
                    if (bIsClientLoggedIn.toString().toLowerCase() == "true") {
                        $("#bdMainBody").addClass("vertical-compact-menu");
                    }
                }
            }
            </script>*@

        </body>
    }
    
</html>