﻿
@{
    ViewBag.Title = "OurTeam";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Our Team
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Our Team</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>

<div class="content-body">
    <!-- Card overlay section start -->
    <section id="card-overlay">
        <div class="row match-height">
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <div class="card-block">
                            <h4 class="card-title">Member 1</h4>
                            <p class="card-text">
                                Info
                            </p>
                            <p class="card-text">
                                Info 2
                            </p>
                            <p class="card-text mt-1">
                                <small class="text-muted">Bio</small>
                            </p>
                        </div>
                        <img class="card-img-bottom img-fluid" src="../Content/app-assets/images/carousel/15.jpg"
                             alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <div class="card-block">
                            <h4 class="card-title">Member 2</h4>
                            <p class="card-text">
                                Info
                            </p>
                            <p class="card-text">
                                Info 2
                            </p>
                            <p class="card-text mt-1">
                                <small class="text-muted">Bio</small>
                            </p>
                        </div>
                        <img class="card-img-bottom img-fluid" src="../Content/app-assets/images/carousel/15.jpg"
                             alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <div class="card-block">
                            <h4 class="card-title">Member 3</h4>
                            <p class="card-text">
                                Info
                            </p>
                            <p class="card-text">
                                Info 2
                            </p>
                            <p class="card-text mt-1">
                                <small class="text-muted">Bio</small>
                            </p>
                        </div>
                        <img class="card-img-bottom img-fluid" src="../Content/app-assets/images/carousel/15.jpg"
                             alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <div class="card-block">
                            <h4 class="card-title">Member 4</h4>
                            <p class="card-text">
                                Info
                            </p>
                            <p class="card-text">
                                Info 2
                            </p>
                            <p class="card-text mt-1">
                                <small class="text-muted">Bio</small>
                            </p>
                        </div>
                        <img class="card-img-bottom img-fluid" src="../Content/app-assets/images/carousel/15.jpg"
                             alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <div class="card-block">
                            <h4 class="card-title">Member 5</h4>
                            <p class="card-text">
                                Info
                            </p>
                            <p class="card-text">
                                Info 2
                            </p>
                            <p class="card-text mt-1">
                                <small class="text-muted">Bio</small>
                            </p>
                        </div>
                        <img class="card-img-bottom img-fluid" src="../Content/app-assets/images/carousel/15.jpg"
                             alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <div class="card-block">
                            <h4 class="card-title">Member 6</h4>
                            <p class="card-text">
                                Info
                            </p>
                            <p class="card-text">
                                Info 2
                            </p>
                            <p class="card-text mt-1">
                                <small class="text-muted">Bio</small>
                            </p>
                        </div>
                        <img class="card-img-bottom img-fluid" src="../Content/app-assets/images/carousel/15.jpg"
                             alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
        <div class="row match-height">
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="../Content/app-assets/images/carousel/06.jpg"
                             alt="Card image">
                        <div class="card-img-overlay overlay-yellow">
                            <h4 class="card-title">Card Image Overlay</h4>
                            <p class="card-text">
                                Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy
                                chupa chups.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="../Content/app-assets/images/carousel/05.jpg"
                             alt="Card image">
                        <div class="card-img-overlay overlay-orange overlay-lighten-2">
                            <h4 class="card-title">Card Image Overlay</h4>
                            <p class="card-text">
                                Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy
                                chupa chups.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="card card-inverse no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="../Content/app-assets/images/carousel/05.jpg"
                             alt="Card image">
                        <div class="card-img-overlay overlay-warning">
                            <h4 class="card-title">Inverse Text</h4>
                            <p class="card-text">
                                Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy
                                chupa chups.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="card card-inverse no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="../Content/app-assets/images/carousel/09.jpg"
                             alt="Card image">
                        <div class="card-img-overlay overlay-brown">
                            <h4 class="card-title">Inverse Text</h4>
                            <p class="card-text">
                                Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy
                                chupa chups.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Card overlay section end -->
</div>