﻿@model IEnumerable<SoftservePortalNew.Models.clsNotificationTypes>

@{
    ViewBag.Title = "Notification Types";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Notification Types
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Notification Types</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <!-- Section start -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Notification Types</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <p class="card-text">
                                List of Notification Types
                            </p>
                            <form class="form form-horizontal">
                                <div class="form-body">
                                    <table id="tblNotificationTypes" class="table table-striped table-bordered dom-jQuery-events">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() > 0)
                                            {
                                                foreach (var NotificationType in Model)
                                                {
                                                    <tr id="@NotificationType.iNotificationTypeID">
                                                        <td class="table-cell-center">@NotificationType.strTitle</td>
                                                        <td class="table-cell-center">@NotificationType.strDescription</td>
                                                        <td class="table-action-cell-center" style="font-size:1.8em;">
                                                            <a href="@Url.Action("NotificationTypeEdit", "NotificationTypes", new { @id = @NotificationType.iNotificationTypeID })"><i class="fa fa-pencil"></i></a>
                                                            &nbsp;&nbsp;&nbsp;
                                                            <a id="@NotificationType.iNotificationTypeID" href="#" data-toggle="modal" data-target="#ConfirmNotificationTypeDelete" onclick="deleteItemConfirm(@NotificationType.iNotificationTypeID)"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="form-actions right">
                                    <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    <a href="@Url.Action("NotificationTypeAdd", "NotificationTypes")" type="button" class="btn btn-primary">
                                        <i class="icon-plus"></i> Add
                                    </a>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section end -->

    <!-- Confirmation Modal -->
    <!-- Modal -->
    <div class="modal fade text-left" id="ConfirmNotificationTypeDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel18">Confirm Delete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this item?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="jsDeleteNotificationType()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <input class="form-control" id="inNotificationTypeID" style="display:none" readonly="readonly" />
</div>

@section scripts {
    @Scripts.Render("~/bundles/datatablesscripts")

    @*Confirm Delete*@
<script type="text/javascript">
    
    function deleteItemConfirm(NotificationTypeID) {
        $("#inNotificationTypeID").val(NotificationTypeID);
    }
</script>

    @*Delete*@
<script type="text/javascript">

    function jsDeleteNotificationType() {
        var iNotificationTypeID = $("#inNotificationTypeID").val();

        var selectedTable = $('#tblNotificationTypes').DataTable();
        selectedTable.row('#' + iNotificationTypeID).remove().draw(false);

        $.ajax({
            url: '@Url.Action("DeleteNotificationType", "NotificationTypes")',
            type: "POST",
            data: {"iNotificationTypeID": iNotificationTypeID},
            success: function (data) {
                //Do nothing
            }
        });
    }
</script>
}