﻿@model SoftservePortalNew.View_Models.ClientLinks.clsClientLinkAdd

@{
    ViewBag.Title = "Add Client Link";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Add Client Link
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Add Client Link</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Client Link Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmClientLinkAdd", @name = "frmClientLinkAdd", @class = "form form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Client Link Info</h4>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="lstClients">Clients</label>
                                        <div class="col-md-9">
                                            @if (Model.lstClients.Count > 0)
                                            {
                                                @Html.DropDownListFor(Model => Model.clsClientLink.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- Select Client --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.clsClientLink.iClientID, "", new { @class = "text-danger" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(Model => Model.clsClientLink.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- No Clients Available --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.clsClientLink.iClientID, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strTitle">Client Link Title</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsClientLink.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Client Link Title", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsClientLink.strTitle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strDescription">Client Link Description</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsClientLink.strDescription, new { htmlAttributes = new { @id = "strDescription", @placeholder = "Client Link Description", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsClientLink.strDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strLink">Client Link</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsClientLink.strLink, new { htmlAttributes = new { @id = "strLink", @placeholder = "http://", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsClientLink.strLink, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <a href="@Url.Action("ClientLinks", "ClientLinks")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="icon-plus"></i> Add
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>