﻿@model SoftservePortalNew.View_Models.Notifications.clsNotificationAdd

@{
    ViewBag.Title = "Add Notification";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Add Notification
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Add Notification</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Notification Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmNotificationAdd", @name = "frmNotificationAdd", @class = "form form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Notification Info</h4>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="lstClients">Client</label>
                                        <div class="col-md-9">
                                            @if (Model.lstClients.Count > 0)
                                            {
                                                @Html.DropDownListFor(Model => Model.clsNotification.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- Select Client --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.clsNotification.iClientID, "", new { @class = "text-danger" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(Model => Model.clsNotification.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- No Clients Available --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.clsNotification.iClientID, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strTitle">Title</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsNotification.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Notification Title", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsNotification.strTitle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strDescription">Description</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsNotification.strDescription, new { htmlAttributes = new { @id = "strDescription", @placeholder = "Notification Description", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsNotification.strDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="lstNotificationTypes">Notification Type</label>
                                        <div class="col-md-9">
                                            @if (Model.lstClients.Count > 0)
                                            {
                                                @Html.DropDownListFor(Model => Model.clsNotification.iNotificationTypeID, new SelectList(Model.lstNotificationTypes, "iNotificationTypeID", "strTitle"), "-- Select Notification Type --", new { @id = "lstNotificationTypes", @name = "lstNotificationTypes", @class = "select2 hide-search form-control block" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.clsNotification.iNotificationTypeID, "", new { @class = "text-danger" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(Model => Model.clsNotification.iNotificationTypeID, new SelectList(Model.lstNotificationTypes, "iNotificationTypeID", "strTitle"), "-- No Notification Types Available --", new { @id = "lstNotificationTypes", @name = "lstNotificationTypes", @class = "select2 hide-search form-control block" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.clsNotification.iNotificationTypeID, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="chkbIsRead">Notification Read</label>
                                        <div class="col-md-9">
                                            <fieldset>
                                                <input type="checkbox" id="chkbIsRead" onclick="jsSetbIsRead()">
                                            </fieldset>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(Model => Model.clsNotification.bIsRead)
                                </div>
                                <div class="form-actions right">
                                    <a href="@Url.Action("Notifications", "Notifications")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="icon-plus"></i> Add
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>

@section scripts {
    <script type="text/javascript">

        function jsSetbIsRead() {

            if ($('#chkbIsRead').is(':checked')) {
            $("#clsNotification_bIsRead").val(true);
        }
        else {
            $("#clsNotification_bIsRead").val(false);
        }
    }
</script>
}