﻿@model SoftservePortalNew.Models.clsClients

@{
    ViewBag.Title = "ClientDetails";
}

<div class="content-header row">
    <div class="breadcrumb-wrapper col-xs-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Client Details</a>
            </li>
        </ol>
    </div>
    <div class="content-header-left col-md-6 col-xs-12">
        <h2 class="content-header-title mb-0">Client Details</h2>
        <p class="text-muted mb-0">Company Details</p>
    </div>
    <div class="content-header-right text-md-right col-md-6 col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-round btn-primary"><i class="icon-cog3 pr-1"></i> Settings</button>
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-round btn-primary dropdown-toggle">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a>
                <a href="#" class="dropdown-item">Something else here</a>
                <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
            </div>
        </div>
    </div>
    <div class="content-header-lead col-xs-12 mt-2">
        <p class="lead">
            View Client's details
        </p>
    </div>
</div>
<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-colored-form-control">Company's Details</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="card-text">
                                <p>
                                    Company Information
                                </p>
                            </div>
                            <form class="form">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-info"></i> Company Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="strCompanyName">Company Name</label>
                                                @Html.EditorFor(Model => Model.strCompanyName, new { htmlAttributes = new { @id = "strCompanyName", @placeholder = "Company Name", @class = "form-control border-primary", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="strCompanyLandline">Registration Name</label>
                                                @Html.EditorFor(Model => Model.strRegisteredName, new { htmlAttributes = new { @id = "strRegisteredName", @placeholder = "Registration Name", @class = "form-control border-primary", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="strRegistrationNumber">Registration Number</label>
                                                @Html.EditorFor(Model => Model.strRegistrationNumber, new { htmlAttributes = new { @id = "strRegistrationNumber", @placeholder = "Registration Number", @class = "form-control border-primary", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="strVATNumber">VAT Number</label>
                                                @Html.EditorFor(Model => Model.strVATNumber, new { htmlAttributes = new { @id = "strVATNumber", @placeholder = "VAT Number", @class = "form-control border-primary", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="icon-mail6"></i> Contact Info</h4>
                                    <div class="form-group">
                                        <label for="strCompanyLandline">Company Landline</label>
                                        @Html.EditorFor(Model => Model.strCompanyLandline, new { htmlAttributes = new { @id = "strCompanyLandline", @placeholder = "Company Landline", @class = "form-control border-primary", @readonly = "readonly" } })
                                    </div>
                                    <div class="form-group">
                                        <label for="strURL">Company URL</label>
                                        @Html.EditorFor(Model => Model.strURL, new { htmlAttributes = new { @id = "strURL", @placeholder = "Company URL", @class = "form-control border-primary", @readonly = "readonly" } })
                                    </div>
                                    <div class="form-group">
                                        <label for="strPhysicalAddress">Physical Address</label>
                                        @Html.TextAreaFor(Model => Model.strPhysicalAddress, new { @id = "strPhysicalAddress", @placeholder = "Physical Address", @class = "form-control border-primary", @rows = "5", @readonly = "readonly" } )
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-colored-form-control">Primary Contact Details</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="card-text">
                                <p>
                                    Contact Details
                                </p>
                            </div>
                            <form class="form">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i> Client Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="strPrimaryContactName">Name</label>
                                                @Html.EditorFor(Model => Model.strPrimaryContactName, new { htmlAttributes = new { @id = "strPrimaryContactName", @placeholder = "Name", @class = "form-control border-primary", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="strCompanyName">Company Name</label>
                                                @Html.EditorFor(Model => Model.strCompanyName, new { htmlAttributes = new { @id = "strCompanyName", @placeholder = "Company Name", @class = "form-control border-primary", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="icon-mail6"></i> Contact Info</h4>
                                    <div class="form-group">
                                        <label for="strPrimaryContactEmail">Email</label>
                                        @Html.EditorFor(Model => Model.strPrimaryContactEmail, new { htmlAttributes = new { @id = "strPrimaryContactEmail", @placeholder = "Email", @class = "form-control border-primary", @readonly = "readonly" } })
                                    </div>
                                    <div class="form-group">
                                        <label for="strPrimaryContactNumber">Contact Number</label>
                                        @Html.EditorFor(Model => Model.strPrimaryContactNumber, new { htmlAttributes = new { @id = "strPrimaryContactNumber", @placeholder = "Contact Number", @class = "form-control border-primary", @readonly = "readonly" } })
                                    </div>
                                </div>
                                
                            </form>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="form-actions">
            <a class="btn btn-warning mr-1" href="@Url.Action("Index", "Home")"><i class="icon-arrow-circle-left"></i> Back</a>
        </div>

    </section>
    <!-- // Basic form layout section end -->
</div>

