﻿@model SoftservePortalNew.View_Models.Clients.clsClientEdit

@{
    ViewBag.Title = "ClientEdit";
}

@*Crop Slim Stylesheet*@
@Styles.Render("~/Content/slimCropStylesheets")

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Add Client
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Add Client</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts basic-selectize">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Client Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                                <form class="form form-horizontal">
                                    <div class="form-body">
                                        <h4 class="form-section"><i class="ft-user"></i> Client Info</h4>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <h4>Client Logo</h4>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <section class="panel">
                                                    <div class="thumb-info mb-md">
                                                        <div id="cropImageDiv" class="image-size">
                                                            @if (Model.strFullImagePath != null && Model.strFullImagePath != "")
                                                            {
                                                                <img id="imgCrop" src="../../../@Model.strFullImagePath" class="rounded img-responsive" alt="Logo">
                                                            }
                                                            else
                                                            {
                                                                <img id="imgCrop" src="../../../Documents/Default_Images/default_imageNoTrans.png" class="rounded img-responsive" alt="Logo">
                                                            }
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="col-md-9">
                                                <h4>Client Information</h4>
                                                <div class="form-group row col-md-12"></div>
                                                <div class="form-group row col-md-12">
                                                    <label class="col-md-3 label-control" for="strCompanyName">Company Name</label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(Model => Model.clsClient.strCompanyName, new { htmlAttributes = new { @id = "strCompanyName", @placeholder = "Company Name", @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.clsClient.strCompanyName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="strCompanyLandline">Company Number</label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(Model => Model.clsClient.strCompanyLandline, new { htmlAttributes = new { @id = "strCompanyLandline", @placeholder = "Company Number", @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.clsClient.strCompanyLandline, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="strRegisteredName">Registered Company Name</label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(Model => Model.clsClient.strRegisteredName, new { htmlAttributes = new { @id = "strRegisteredName", @placeholder = "Registered Company Name", @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.clsClient.strRegisteredName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="strRegistrationNumber">Registration Number</label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(Model => Model.clsClient.strRegistrationNumber, new { htmlAttributes = new { @id = "strRegistrationNumber", @placeholder = "Registration Number", @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.clsClient.strRegistrationNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="strUsername">User Name</label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(Model => Model.strUsername, new { htmlAttributes = new { @id = "strUsername", @placeholder = "User Name", @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.strUsername, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="strEmail">Email Address</label>
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(Model => Model.strEmail, new { htmlAttributes = new { @id = "strEmail", @placeholder = "Email", @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.strEmail, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-group row col-md-12"></div>
                                        <h4>General Information</h4>
                                        <div class="form-group row col-md-12"></div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strVATNumber">VAT Number</label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(Model => Model.clsClient.strVATNumber, new { htmlAttributes = new { @id = "strVATNumber", @placeholder = "VAT Number", @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.clsClient.strVATNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strPhysicalAddress">Physical Address</label>
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(Model => Model.clsClient.strPhysicalAddress, new { @id = "strPhysicalAddress", @placeholder = "Physical Address", @class = "form-control", @readonly = "readonly", @rows = "5" })
                                                @Html.ValidationMessageFor(model => model.clsClient.strPhysicalAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strPostalAddress">Postal Address</label>
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(Model => Model.clsClient.strPostalAddress, new { @id = "strPostalAddress", @placeholder = "Postal Address", @class = "form-control", @readonly = "readonly", @rows = "5" })
                                                @Html.ValidationMessageFor(model => model.clsClient.strPostalAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="dblBillingRate">Billing Rate</label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(Model => Model.clsClient.dblBillingRate, new { htmlAttributes = new { @id = "dblBillingRate", @placeholder = "Billing Rate", @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.clsClient.dblBillingRate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strURL">Company URL</label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(Model => Model.clsClient.strURL, new { htmlAttributes = new { @id = "strURL", @placeholder = "http://", @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.clsClient.strURL, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-group row col-md-12"></div>
                                        <h4>Contact Information</h4>
                                        <div class="form-group row col-md-12"></div>
                                        <div class="row match-height">
                                            <div class="col-md-6">
                                                <h4 class="form-section"><i class="fa fa-eye"></i> Primary Contact Info</h4>
                                                <div class="form-group">
                                                    <label class="label-control" for="strContactName">Contact Name</label>
                                                    @Html.EditorFor(Model => Model.clsClientContactDetails.strContactName, new { htmlAttributes = new { @id = "strContactName", @placeholder = "Contact Name", @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.clsClientContactDetails.strContactName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-control" for="strContactEmail">Contact Email</label>
                                                    @Html.EditorFor(Model => Model.clsClientContactDetails.strContactEmail, new { htmlAttributes = new { @id = "strContactEmail", @placeholder = "Contact Email", @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.clsClientContactDetails.strContactEmail, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-control" for="strContactNumber">Contact Number</label>
                                                    @Html.EditorFor(Model => Model.clsClientContactDetails.strContactNumber, new { htmlAttributes = new { @id = "strContactNumber", @placeholder = "Contact Number", @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.clsClientContactDetails.strContactNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h4 class="form-section"><i class="fa fa-eye"></i> Secondary Contact Info</h4>
                                                <div class="form-group">
                                                    <label class="label-control" for="clsClientSecondaryContactDetails_strContactName">Contact Name</label>
                                                    @Html.EditorFor(Model => Model.clsClientSecondaryContactDetails.strContactName, new { htmlAttributes = new { @id = "clsClientSecondaryContactDetails_strContactName", @placeholder = "Contact Name", @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.clsClientSecondaryContactDetails.strContactName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-control" for="clsClientSecondaryContactDetails_strContactEmail">Contact Email</label>
                                                    @Html.EditorFor(Model => Model.clsClientSecondaryContactDetails.strContactEmail, new { htmlAttributes = new { @id = "clsClientSecondaryContactDetails_strContactEmail", @placeholder = "Contact Email", @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.clsClientSecondaryContactDetails.strContactEmail, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label class="label-control" for="clsClientSecondaryContactDetails_strContactNumber">Contact Number</label>
                                                    @Html.EditorFor(Model => Model.clsClientSecondaryContactDetails.strContactNumber, new { htmlAttributes = new { @id = "clsClientSecondaryContactDetails_strContactNumber", @placeholder = "Contact Number", @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.clsClientSecondaryContactDetails.strContactNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-warning mr-1">
                                            <i class="icon-arrow-circle-left"></i> Back
                                        </a>
                                        <a href="@Url.Action("ClientProfileEdit", "Clients")" class="btn btn-primary">
                                            <i class="icon-check2"></i> Edit
                                        </a>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section scripts {

}