﻿@model SoftservePortalNew.View_Models.Clients.clsClientSocialMediaReport

@{
    ViewBag.Title = "Social Media Report";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Social Media Report
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Social Media Report</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
@if (Model.lstSocialCalendarEvents.Count > 0)
{
    <section id="timeline" class="timeline-left timeline-wrapper">   
        <ul class="timeline">
                    <li class="timeline-line"></li>
                    <li class="timeline-item">
                        <div class="timeline-badge">
                            <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Social Media Report"><i class="icon-sound"></i></span>
                        </div>
                        <div class="timeline-card card border-grey border-lighten-2">
                            <div class="card-header">
                                <h4 class="card-title"><a href="#">Social Media Report</a></h4>
                                <p class="card-subtitle text-muted pt-1">
                                </p>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline pt-1">
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                                
                            </div>
                            
                            <div class="card-content" aria-expanded="true">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8 dt-buttons btn-group">
                                            <a class="btn btn-secondary" onclick="jsDownloadPDF()">DOWNLOAD PDF</a>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-8">
                                            @{
                                                int count = 1;
                                                DateTime dtCurrentDateTime = Model.dtCurrentDate;

                                                foreach (var SocialCalendarEvent in Model.lstSocialCalendarEvents)
                                                {
                                                    string SocialCalendarEventDayID = "SocialCalendarEventDay" + count.ToString();
                                                    string DropDownHeaderItemID = "DropDownHeaderItem" + count.ToString();
                                                    string DropDownItemID = "DropDownItem" + count.ToString();

                                                    if (SocialCalendarEvent.dtStartDate != dtCurrentDateTime)
                                                    {
                                                        <h4>@SocialCalendarEvent.dtStartDate.DayOfWeek (@SocialCalendarEvent.dtStartDate.ToString("dd MMM yyy"))</h4>

                                                        if (SocialCalendarEvent.clsSocialCalendarEventsType != null)
                                                        {
                                                            if (SocialCalendarEvent.clsSocialCalendarEventsType.strTitle == "Facebook")
                                                            {
                                                                <div class="card collapse-icon left accordion-icon-rotate">
                                                                    <div id="@DropDownHeaderItemID" class="card-header sce-border-facebook mt-1">
                                                                        <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                           class="card-title lead sce-facebook collapsed">@SocialCalendarEvent.strTitle <span class="sce-facebook"><b> (@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle)</b></span></a>
                                                                    </div>
                                                                    <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse sce-border-facebook"
                                                                         aria-expanded="false">
                                                                        <div class="card-content">
                                                                            <div class="card-body">
                                                                                <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                {
                                                                                    <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p>Description: ** NONE **</p>
                                                                                }
                                                                                @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                {
                                                                                    <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p>Keywords: ** NONE **</p>
                                                                                }
                                                                                @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                {
                                                                                    <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p>Link: ** NONE **</p>
                                                                                }
                                                                                @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                {

                                                                                    if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                    {
                                                                                        <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p><b>ALL DAY EVENT</b></p>
                                                                                }
                                                                                @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                {
                                                                                    <p><b>REPEAT EVENT</b></p>
                                                                                }
                                                                                <p>Event Type: <span class="sce-facebook"><b>@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle</b></span></p>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else if (SocialCalendarEvent.clsSocialCalendarEventsType.strTitle == "Instagram")
                                                            {
                                                                <div class="card collapse-icon left accordion-icon-rotate">
                                                                    <div id="@DropDownHeaderItemID" class="card-header sce-border-instagram mt-1">
                                                                        <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                           class="card-title lead sce-instagram collapsed">@SocialCalendarEvent.strTitle <span class="sce-instagram"><b> (@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle)</b></span></a>
                                                                    </div>
                                                                    <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse sce-border-instagram"
                                                                         aria-expanded="false">
                                                                        <div class="card-content">
                                                                            <div class="card-content">
                                                                                <div class="card-body">
                                                                                    <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                    @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                    {
                                                                                        <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Description: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                    {
                                                                                        <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Keywords: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                    {
                                                                                        <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Link: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                    {

                                                                                        if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                        {
                                                                                            <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p><b>ALL DAY EVENT</b></p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                    {
                                                                                        <p><b>REPEAT EVENT</b></p>
                                                                                    }
                                                                                    <p>Event Type: <span class="sce-instagram"><b>@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle</b></span></p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else if (SocialCalendarEvent.clsSocialCalendarEventsType.strTitle == "Twitter")
                                                            {
                                                                <div class="card collapse-icon left accordion-icon-rotate">
                                                                    <div id="@DropDownHeaderItemID" class="card-header sce-border-twitter mt-1">
                                                                        <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                           class="card-title lead sce-twitter collapsed">@SocialCalendarEvent.strTitle <span class="sce-twitter"><b> (@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle)</b></span></a>
                                                                    </div>
                                                                    <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse sce-border-twitter"
                                                                         aria-expanded="false">
                                                                        <div class="card-content">
                                                                            <div class="card-content">
                                                                                <div class="card-body">
                                                                                    <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                    @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                    {
                                                                                        <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Description: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                    {
                                                                                        <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Keywords: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                    {
                                                                                        <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Link: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                    {

                                                                                        if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                        {
                                                                                            <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p><b>ALL DAY EVENT</b></p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                    {
                                                                                        <p><b>REPEAT EVENT</b></p>
                                                                                    }
                                                                                    <p>Event Type: <span class="sce-twitter"><b>@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle</b></span></p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else if (SocialCalendarEvent.clsSocialCalendarEventsType.strTitle == "Google Plus")
                                                            {
                                                                <div class="card collapse-icon left accordion-icon-rotate">
                                                                    <div id="@DropDownHeaderItemID" class="card-header sce-border-googleplus mt-1">
                                                                        <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                           class="card-title lead sce-googleplus collapsed">@SocialCalendarEvent.strTitle <span class="sce-googleplus"><b> (@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle)</b></span></a>
                                                                    </div>
                                                                    <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse sce-border-googleplus"
                                                                         aria-expanded="false">
                                                                        <div class="card-content">
                                                                            <div class="card-content">
                                                                                <div class="card-body">
                                                                                    <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                    @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                    {
                                                                                        <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Description: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                    {
                                                                                        <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Keywords: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                    {
                                                                                        <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Link: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                    {

                                                                                        if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                        {
                                                                                            <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p><b>ALL DAY EVENT</b></p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                    {
                                                                                        <p><b>REPEAT EVENT</b></p>
                                                                                    }
                                                                                    <p>Event Type: <span class="sce-googleplus"><b>@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle</b></span></p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="card collapse-icon left accordion-icon-rotate">
                                                                    <div id="@DropDownHeaderItemID" class="card-header border-info mt-1">
                                                                        <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                           class="card-title lead info collapsed">@SocialCalendarEvent.strTitle</a>
                                                                    </div>
                                                                    <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse border-info"
                                                                         aria-expanded="false">
                                                                        <div class="card-content">
                                                                            <div class="card-content">
                                                                                <div class="card-body">
                                                                                    <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                    @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                    {
                                                                                        <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Description: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                    {
                                                                                        <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Keywords: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                    {
                                                                                        <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Link: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                    {

                                                                                        if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                        {
                                                                                            <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p><b>ALL DAY EVENT</b></p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                    {
                                                                                        <p><b>REPEAT EVENT</b></p>
                                                                                    }
                                                                                    <p>Event Type: <b>** NONE **</b></p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="card collapse-icon left accordion-icon-rotate">
                                                                <div id="@DropDownHeaderItemID" class="card-header border-info mt-1">
                                                                    <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                       class="card-title lead info collapsed">@SocialCalendarEvent.strTitle</a>
                                                                </div>
                                                                <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse border-info"
                                                                     aria-expanded="false">
                                                                    <div class="card-content">
                                                                        <div class="card-body">
                                                                            <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                            @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                            {
                                                                                <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p>Description: ** NONE **</p>
                                                                            }
                                                                            @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                            {
                                                                                <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p>Keywords: ** NONE **</p>
                                                                            }
                                                                            @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                            {
                                                                                <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                            }
                                                                            else
                                                                            {
                                                                                <p>Link: ** NONE **</p>
                                                                            }
                                                                            @if (@SocialCalendarEvent.dtStartDate != null)
                                                                            {

                                                                                if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                {
                                                                                    <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <p><b>ALL DAY EVENT</b></p>
                                                                            }
                                                                            @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                            {
                                                                                <p><b>REPEAT EVENT</b></p>
                                                                            }
                                                                            <p>Event Type: <b>** NONE **</b></p>

                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        }

                                                        count++;
                                                        dtCurrentDateTime = SocialCalendarEvent.dtStartDate;
                                                    }
                                                    else
                                                    {
                                                        if (SocialCalendarEvent.clsSocialCalendarEventsType != null)
                                                        {
                                                            if (SocialCalendarEvent.clsSocialCalendarEventsType.strTitle == "Facebook")
                                                            {
                                                                <div class="card collapse-icon left accordion-icon-rotate">
                                                                    <div id="@DropDownHeaderItemID" class="card-header sce-border-facebook mt-1">
                                                                        <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                           class="card-title lead sce-facebook collapsed">@SocialCalendarEvent.strTitle <span class="sce-facebook"><b> (@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle)</b></span></a>
                                                                    </div>
                                                                    <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse sce-border-facebook"
                                                                         aria-expanded="false">
                                                                        <div class="card-content">
                                                                            <div class="card-content">
                                                                                <div class="card-body">
                                                                                    <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                    @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                    {
                                                                                        <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Description: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                    {
                                                                                        <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Keywords: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                    {
                                                                                        <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Link: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                    {

                                                                                        if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                        {
                                                                                            <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p><b>ALL DAY EVENT</b></p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                    {
                                                                                        <p><b>REPEAT EVENT</b></p>
                                                                                    }
                                                                                    <p>Event Type: <span class="sce-facebook"><b>@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle</b></span></p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else if (SocialCalendarEvent.clsSocialCalendarEventsType.strTitle == "Instagram")
                                                            {
                                                                <div class="card collapse-icon left accordion-icon-rotate">
                                                                    <div id="@DropDownHeaderItemID" class="card-header sce-border-instagram mt-1">
                                                                        <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                           class="card-title lead sce-instagram collapsed">@SocialCalendarEvent.strTitle <span class="sce-instagram"><b> (@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle)</b></span></a>
                                                                    </div>
                                                                    <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse sce-border-instagram"
                                                                         aria-expanded="false">
                                                                        <div class="card-content">
                                                                            <div class="card-content">
                                                                                <div class="card-body">
                                                                                    <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                    @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                    {
                                                                                        <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Description: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                    {
                                                                                        <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Keywords: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                    {
                                                                                        <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Link: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                    {

                                                                                        if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                        {
                                                                                            <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p><b>ALL DAY EVENT</b></p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                    {
                                                                                        <p><b>REPEAT EVENT</b></p>
                                                                                    }
                                                                                    <p>Event Type: <span class="sce-instagram"><b>@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle</b></span></p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else if (SocialCalendarEvent.clsSocialCalendarEventsType.strTitle == "Twitter")
                                                            {
                                                                <div class="card collapse-icon left accordion-icon-rotate">
                                                                    <div id="@DropDownHeaderItemID" class="card-header sce-border-twitter mt-1">
                                                                        <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                           class="card-title lead sce-twitter collapsed">@SocialCalendarEvent.strTitle <span class="sce-twitter"><b> (@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle)</b></span></a>
                                                                    </div>
                                                                    <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse sce-border-twitter"
                                                                         aria-expanded="false">
                                                                        <div class="card-content">
                                                                            <div class="card-content">
                                                                                <div class="card-body">
                                                                                    <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                    @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                    {
                                                                                        <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Description: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                    {
                                                                                        <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Keywords: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                    {
                                                                                        <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Link: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                    {

                                                                                        if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                        {
                                                                                            <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p><b>ALL DAY EVENT</b></p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                    {
                                                                                        <p><b>REPEAT EVENT</b></p>
                                                                                    }
                                                                                    <p>Event Type: <span class="sce-twitter"><b>@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle</b></span></p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else if (SocialCalendarEvent.clsSocialCalendarEventsType.strTitle == "Google Plus")
                                                            {
                                                                <div class="card collapse-icon left accordion-icon-rotate">
                                                                    <div id="@DropDownHeaderItemID" class="card-header sce-border-googleplus mt-1">
                                                                        <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                           class="card-title lead sce-googleplus collapsed">@SocialCalendarEvent.strTitle <span class="sce-googleplus"><b> (@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle)</b></span></a>
                                                                    </div>
                                                                    <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse sce-border-googleplus"
                                                                         aria-expanded="false">
                                                                        <div class="card-content">
                                                                            <div class="card-content">
                                                                                <div class="card-body">
                                                                                    <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                    @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                    {
                                                                                        <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Description: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                    {
                                                                                        <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Keywords: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                    {
                                                                                        <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Link: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                    {

                                                                                        if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                        {
                                                                                            <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p><b>ALL DAY EVENT</b></p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                    {
                                                                                        <p><b>REPEAT EVENT</b></p>
                                                                                    }
                                                                                    <p>Event Type: <span class="sce-googleplus"><b>@SocialCalendarEvent.clsSocialCalendarEventsType.strTitle</b></span></p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="card collapse-icon left accordion-icon-rotate">
                                                                    <div id="@DropDownHeaderItemID" class="card-header border-info mt-1">
                                                                        <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                           class="card-title lead info collapsed">@SocialCalendarEvent.strTitle</a>
                                                                    </div>
                                                                    <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse border-info"
                                                                         aria-expanded="false">
                                                                        <div class="card-content">
                                                                            <div class="card-content">
                                                                                <div class="card-body">
                                                                                    <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                    @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                    {
                                                                                        <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Description: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                    {
                                                                                        <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Keywords: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                    {
                                                                                        <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Link: ** NONE **</p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                    {

                                                                                        if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                        {
                                                                                            <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                        }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p><b>ALL DAY EVENT</b></p>
                                                                                    }
                                                                                    @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                    {
                                                                                        <p><b>REPEAT EVENT</b></p>
                                                                                    }
                                                                                    <p>Event Type: <b>** NONE **</b></p>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="card collapse-icon left accordion-icon-rotate">
                                                                <div id="@DropDownHeaderItemID" class="card-header border-info mt-1">
                                                                    <a data-toggle="collapse" href="#@DropDownItemID" aria-expanded="false" aria-controls="collapse52"
                                                                       class="card-title lead info collapsed">@SocialCalendarEvent.strTitle</a>
                                                                </div>
                                                                <div id="@DropDownItemID" role="tabpanel" aria-labelledby="@SocialCalendarEvent.strTitle" class="card-collapse collapse border-info"
                                                                     aria-expanded="false">
                                                                    <div class="card-content">
                                                                        <div class="card-content">
                                                                            <div class="card-body">
                                                                                <p>Title: @SocialCalendarEvent.strTitle</p>
                                                                                @if (@SocialCalendarEvent.strDescription != null && @SocialCalendarEvent.strDescription != "")
                                                                                {
                                                                                    <p>Description: @SocialCalendarEvent.strDescription</p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p>Description: ** NONE **</p>
                                                                                }
                                                                                @if (@SocialCalendarEvent.strKeywords != null && @SocialCalendarEvent.strKeywords != "")
                                                                                {
                                                                                    <p>Keywords: @SocialCalendarEvent.strKeywords</p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p>Keywords: ** NONE **</p>
                                                                                }
                                                                                @if (@SocialCalendarEvent.strLinks != null && @SocialCalendarEvent.strLinks != "")
                                                                                {
                                                                                    <p>Link: @SocialCalendarEvent.strLinks</p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p>Link: ** NONE **</p>
                                                                                }
                                                                                @if (@SocialCalendarEvent.dtStartDate != null)
                                                                                {

                                                                                    if (@SocialCalendarEvent.dtStartDate.ToString("HH:mm") != "00:00")
                                                                                    {
                                                                                        <p>Time: @SocialCalendarEvent.dtStartDate.ToString("HH:mm")</p>
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p><b>ALL DAY EVENT</b></p>
                                                                                }
                                                                                @if (@SocialCalendarEvent.bIsRepeatEvent == true)
                                                                                {
                                                                                    <p><b>REPEAT EVENT</b></p>
                                                                                }
                                                                                <p>Event Type: <b>** NONE **</b></p>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }

                                                        count++;
                                                    }
                                                }
                                            }
                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
    </section>
}
else
{
    <section id="timeline" class="timeline-left timeline-wrapper">   
        <ul class="timeline">
                    <li class="timeline-line"></li>
                    <li class="timeline-item">
                        <div class="timeline-badge">
                            <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Events"><i class="icon-sound"></i></span>
                        </div>
                        <div class="timeline-card card border-grey border-lighten-2">
                            <div class="card-header">
                                <h4 class="card-title"><a href="#">Report</a></h4>
                                <p class="card-subtitle text-muted pt-1">
                                </p>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline pt-1">
                                        <li><a data-action="reload"><i class="icon-repeat2"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content" aria-expanded="true">
                                <div class="card-body">
                                    <div class="row">
                                       <div class="col-md-12">
                                           <h3>No Events To Display</h3>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
    </section>
    
}
</div>

@section scripts {
    @Scripts.Render("~/bundles/datatablesscripts")

<script type="text/javascript">

    function jsDownloadPDF() {
        var btnPDF = document.getElementsByClassName("buttons-pdf");
        if (btnPDF != null)
        {
            if (btnPDF.length > 0)
            {
                btnPDF[0].click();
            }
        }
    }
</script>
    
}
