﻿@model SoftservePortalNew.View_Models.Clients.clsClientSocialMediaReport

@{
    ViewBag.Title = "Social Media Report";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Social Media Report
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Social Media Report</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="timeline" class="timeline-left timeline-wrapper">
        @*<h3 class="page-title text-xs-center text-lg-left">Timeline</h3>*@
        @*<ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-group">
                <a href="#" class="btn btn-primary"><i class="icon-calendar3"></i> Today</a>
            </li>
        </ul>*@
        @if (Model.lstSocialCalendarEventsInstagram.Count > 0)
        {
            <ul class="timeline">
                <li class="timeline-line"></li>
                <li class="timeline-item">
                    <div class="timeline-badge">
                        <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Instagram"><i class="icon-instagram"></i></span>
                    </div>
                    <div class="timeline-card card border-grey border-lighten-2">
                        <div class="card-header">
                            <h4 class="card-title"><a href="#">Instagram Report</a></h4>
                            <p class="card-subtitle text-muted pt-1">
                                @*<span class="font-small-3">V1.2 [16/03/2017]</span>*@
                            </p>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline pt-1">
                                    <li><a data-action="reload"><i class="icon-repeat2"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content" aria-expanded="true">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="img-fluid" src="../../../Documents/SocialMediaImages/InstagramImage.png"
                                             alt="Facebook">
                                        @*<ul class="list-inline mb-1">
                                                <li class="pr-1">
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-ei-heart"></span> Like
                                                    </a>
                                                </li>
                                                <li class="pr-1">
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-chat2"></span> Comment
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-share4"></span> Share
                                                    </a>
                                                </li>
                                            </ul>*@
                                    </div>
                                    <div class="col-md-6">
                                        @*<h3 class="my-1">Instagram Social Media Report</h3>*@
                                        @foreach (var SocialMediaItem in Model.lstSocialCalendarEventsInstagram)
                                        {
                                            <h4>@SocialMediaItem.strTitle</h4>
                                            <ul>
                                                <li>Date: @SocialMediaItem.dtStartDate.ToString("dd MMM yyy")</li>
                                                <li>@SocialMediaItem.strDescription</li>
                                            </ul>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
        @if (Model.lstSocialCalendarEventsFacebook.Count > 0)
        {
            <ul class="timeline">
                <li class="timeline-line"></li>
                <li class="timeline-item">
                    <div class="timeline-badge">
                        <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="icon-facebook"></i></span>
                    </div>
                    <div class="timeline-card card border-grey border-lighten-2">
                        <div class="card-header">
                            <h4 class="card-title"><a href="#">Facebook Report</a></h4>
                            <p class="card-subtitle text-muted pt-1">
                                @*<span class="font-small-3">V1.2 [16/03/2017]</span>*@
                            </p>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline pt-1">
                                    <li><a data-action="reload"><i class="icon-repeat2"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content" aria-expanded="true">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="img-fluid" src="../../../Documents/SocialMediaImages/FacebookImage.jpg"
                                             alt="Facebook">
                                        @*<ul class="list-inline mb-1">
                                            <li class="pr-1">
                                                <a href="#" class="text-muted">
                                                    <span class="icon-ei-heart"></span> Like
                                                </a>
                                            </li>
                                            <li class="pr-1">
                                                <a href="#" class="text-muted">
                                                    <span class="icon-chat2"></span> Comment
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="text-muted">
                                                    <span class="icon-share4"></span> Share
                                                </a>
                                            </li>
                                        </ul>*@
                                    </div>
                                    <div class="col-md-6">
                                        @*<h3 class="my-1">Instagram Social Media Report</h3>*@
                                        @foreach (var SocialMediaItem in Model.lstSocialCalendarEventsFacebook)
                                        {
                                            <h4>@SocialMediaItem.strTitle</h4>
                                            <ul>
                                                <li>Date: @SocialMediaItem.dtStartDate.ToString("dd MMM yyy")</li>
                                                <li>@SocialMediaItem.strDescription</li>
                                            </ul>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
        @if (Model.lstSocialCalendarEventsTwitter.Count > 0)
        {
            <ul class="timeline">
                <li class="timeline-line"></li>
                <li class="timeline-item">
                    <div class="timeline-badge">
                        <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="icon-twitter"></i></span>
                    </div>
                    <div class="timeline-card card border-grey border-lighten-2">
                        <div class="card-header">
                            <h4 class="card-title"><a href="#">Twitter Report</a></h4>
                            <p class="card-subtitle text-muted pt-1">
                                @*<span class="font-small-3">V1.2 [16/03/2017]</span>*@
                            </p>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline pt-1">
                                    <li><a data-action="reload"><i class="icon-repeat2"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content" aria-expanded="true">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="img-fluid" src="../../../Documents/SocialMediaImages/TwitterImage.png"
                                             alt="Twitter">
                                        @*<ul class="list-inline mb-1">
                                                <li class="pr-1">
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-ei-heart"></span> Like
                                                    </a>
                                                </li>
                                                <li class="pr-1">
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-chat2"></span> Comment
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-share4"></span> Share
                                                    </a>
                                                </li>
                                            </ul>*@
                                    </div>
                                    <div class="col-md-6">
                                        @*<h3 class="my-1">Instagram Social Media Report</h3>*@
                                        @foreach (var SocialMediaItem in Model.lstSocialCalendarEventsTwitter)
                                        {
                                            <h4>@SocialMediaItem.strTitle</h4>
                                            <ul>
                                                <li>Date: @SocialMediaItem.dtStartDate.ToString("dd MMM yyy")</li>
                                                <li>@SocialMediaItem.strDescription</li>
                                            </ul>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
        @if (Model.lstSocialCalendarEventsGooglePlus.Count > 0)
        {
            <ul class="timeline">
                <li class="timeline-line"></li>
                <li class="timeline-item">
                    <div class="timeline-badge">
                        <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Google Plus"><i class="icon-google-plus"></i></span>
                    </div>
                    <div class="timeline-card card border-grey border-lighten-2">
                        <div class="card-header">
                            <h4 class="card-title"><a href="#">Google Plus Report</a></h4>
                            <p class="card-subtitle text-muted pt-1">
                                @*<span class="font-small-3">V1.2 [16/03/2017]</span>*@
                            </p>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline pt-1">
                                    <li><a data-action="reload"><i class="icon-repeat2"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content" aria-expanded="true">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="img-fluid" src="../../../Documents/SocialMediaImages/GooglePlusImage.jpg"
                                             alt="GooglePlus">
                                        @*<ul class="list-inline mb-1">
                                                <li class="pr-1">
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-ei-heart"></span> Like
                                                    </a>
                                                </li>
                                                <li class="pr-1">
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-chat2"></span> Comment
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-share4"></span> Share
                                                    </a>
                                                </li>
                                            </ul>*@
                                    </div>
                                    <div class="col-md-6">
                                        @*<h3 class="my-1">Instagram Social Media Report</h3>*@
                                        @foreach (var SocialMediaItem in Model.lstSocialCalendarEventsGooglePlus)
                                        {
                                            <h4>@SocialMediaItem.strTitle</h4>
                                            <ul>
                                                <li>Date: @SocialMediaItem.dtStartDate.ToString("dd MMM yyy")</li>
                                                <li>@SocialMediaItem.strDescription</li>
                                            </ul>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
        @if (Model.lstSocialCalendarEventsOther.Count > 0)
        {
            <ul class="timeline">
                <li class="timeline-line"></li>
                <li class="timeline-item">
                    <div class="timeline-badge">
                        <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Other"><i class="icon-sound"></i></span>
                    </div>
                    <div class="timeline-card card border-grey border-lighten-2">
                        <div class="card-header">
                            <h4 class="card-title"><a href="#">Other Social Media Report</a></h4>
                            <p class="card-subtitle text-muted pt-1">
                                @*<span class="font-small-3">V1.2 [16/03/2017]</span>*@
                            </p>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline pt-1">
                                    <li><a data-action="reload"><i class="icon-repeat2"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content" aria-expanded="true">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img class="img-fluid" src="../../../Documents/SocialMediaImages/OtherImage.jpeg"
                                             alt="Social Media">
                                        @*<ul class="list-inline mb-1">
                                                <li class="pr-1">
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-ei-heart"></span> Like
                                                    </a>
                                                </li>
                                                <li class="pr-1">
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-chat2"></span> Comment
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="text-muted">
                                                        <span class="icon-share4"></span> Share
                                                    </a>
                                                </li>
                                            </ul>*@
                                    </div>
                                    <div class="col-md-6">
                                        @*<h3 class="my-1">Instagram Social Media Report</h3>*@
                                        @foreach (var SocialMediaItem in Model.lstSocialCalendarEventsOther)
                                        {
                                            <h4>@SocialMediaItem.strTitle</h4>
                                            <ul>
                                                <li>Date: @SocialMediaItem.dtStartDate.ToString("dd MMM yyy")</li>
                                                <li>@SocialMediaItem.strDescription</li>
                                            </ul>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
        

    </section>
</div>
