﻿@model SoftservePortalNew.Models.clsClients

@{
    ViewBag.Title = "CompanyDetails";
}

<div class="content-header row">
    <div class="breadcrumb-wrapper col-xs-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Company Details</a>
            </li>
        </ol>
    </div>
    <div class="content-header-left col-md-6 col-xs-12">
        <h2 class="content-header-title mb-0">Company Details</h2>
        <p class="text-muted mb-0">Company Details</p>
    </div>
    <div class="content-header-right text-md-right col-md-6 col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-round btn-primary"><i class="icon-cog3 pr-1"></i> Settings</button>
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-round btn-primary dropdown-toggle">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a>
                <a href="#" class="dropdown-item">Something else here</a>
                <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
            </div>
        </div>
    </div>
    <div class="content-header-lead col-xs-12 mt-2">
        <p class="lead">
            View Company's main details
        </p>
    </div>
</div>
<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Company's Details</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="card-text">
                                <p>
                                    Company Information
                                </p>
                            </div>
                            <form class="form form-horizontal">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-info"></i> Company Info</h4>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strCompanyName">Company Name</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.strCompanyName, new { htmlAttributes = new { @id = "strCompanyName", @placeholder = "Company Name", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strCompanyLandline">Company Landline</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.strCompanyLandline, new { htmlAttributes = new { @id = "strCompanyLandline", @placeholder = "Company Landline", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strRegistrationNumber">Registration Number</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.strRegistrationNumber, new { htmlAttributes = new { @id = "strRegistrationNumber", @placeholder = "Registration Number", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strVATNumber">VAT Number</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.strVATNumber, new { htmlAttributes = new { @id = "strVATNumber", @placeholder = "VAT Number", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strPhysicalAddress">Physical Address</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.strPhysicalAddress, new { htmlAttributes = new { @id = "strPhysicalAddress", @placeholder = "Physical Address", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strURL">Company URL</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.strURL, new { htmlAttributes = new { @id = "strURL", @placeholder = "Company URL", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <a class="btn btn-warning mr-1" href="@Url.Action("Index", "Home")"><i class="icon-arrow-circle-left"></i> Back</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- // Basic form layout section end -->
</div>

