﻿@model SoftservePortalNew.View_Models.Management.clsClientChangeLog

<section id="timeline" class="timeline-left timeline-wrapper">
    <h3 class="page-title text-xs-center text-lg-left">@Model.clsClient.strCompanyName</h3>
    @if (Model.lstProjects.Count > 0)
    {
        foreach (var Project in Model.lstProjects)
        {
            if (Project.lstTasks.Count > 0)
            {
                <ul class="timeline">
                    <li class="timeline-line"></li>
                    <li class="timeline-item">
                        <div class="timeline-badge">
                            <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="@Project.strTitle"><i class="icon-file-add"></i></span>
                        </div>
                        <div class="timeline-card card border-grey border-lighten-2">
                            <div class="card-header">
                                <h4 class="card-title"><a href="#">Project: @Project.strTitle</a></h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline pt-1">
                                        <li><a data-action="reload"><i class="icon-repeat2"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content" aria-expanded="true">
                                <form class="form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3 class="my-1" id="strMonthTaskTitle">@Model.strTasksMonthTitle</h3>
                                                <h4>[Tasks]</h4>
                                                <ul>
                                                    @foreach (var Task in Project.lstTasks)
                                                    {
                                                        <li>
                                                            @Task.strTaskName
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-actions right">
                                        <a class="btn btn-primary mr-1" onclick="jsSendClientProjectTasksEmail(@Model.clsClient.iClientID, @Project.iProjectID)">
                                            <i class="icon-email2"></i> Email Tasks
                                        </a>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </li>
                </ul>
            }
        }

    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><a href="#"></a>No Projects to Display</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            </div>
        </div>
    }

</section>