﻿@model SoftservePortalNew.View_Models.Management.clsClientChangeLog

<section id="timeline" class="timeline-left timeline-wrapper">
    <h3 class="page-title text-xs-center text-lg-left">@Model.clsClient.strCompanyName</h3>
    @if (Model.lstProjects.Count > 0)
    {
        for (var i = 0; i < Model.lstProjects.Count; i++)
        {
                <ul class="timeline">
                    <li class="timeline-line"></li>
                    <li class="timeline-item">
                        <div class="timeline-badge">
                            <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="@Model.lstProjects[i].strTitle"><i class="icon-file-add"></i></span>
                        </div>
                        <div class="timeline-card card border-grey border-lighten-2">
                            <div class="card-header">
                                <h4 class="card-title"><a href="#">Project: @Model.lstProjects[i].strTitle</a></h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline pt-1">
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content" aria-expanded="true">
                                <form class="form">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3 class="my-1" id="strMonthTaskTitle">@Model.strTasksMonthTitle</h3>
                                                <h4>[Tasks]</h4>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        
                                                        <fieldset>
                                                            <div class="input-group">
                                                                <a id="btnSelectAllTasks" class="btn btn-primary mr-1" onclick="jsSelectAllTasks()">Select All Tasks</a>
                                                                <select id="inBulkTaskTagSelect" class="select2 hide-search form-control block">
                                                                    <option value="">-- Select Bulk Task Type Update --</option>
                                                                    <option value="New">New</option>
                                                                    <option value="Enhancement">Enhancement</option>
                                                                    <option value="Fixed">Fixed</option>
                                                                    <option value="Removed">Removed</option>
                                                                </select>
                                                                <div class="input-group-append">
                                                                    <a class="btn btn-primary mr-1" onclick="jsBulkTaskUpdate()">
                                                                        Update Tasks
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a id="btnAddTask" class="btn btn-primary mr-1" onclick="jsAddTask(@Model.lstProjects[i].iProjectID)">Add Task</a>
                                                    </div>
                                                </div>
                                                <p></p>
                                                <table id="@Model.lstProjects[i].iProjectID" class="table table-striped table-bordered dom-jQuery-events">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Selected</th>
                                                            <th>Task</th>
                                                            <th>Completed</th>
                                                            <th>Task Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.lstProjects[i].lstTasks.Count > 0)
                                                        {
                                                           for (var j = 0; j < Model.lstProjects[i].lstTasks.Count; j++)
                                                           {
                                                            <tr id="@Model.lstProjects[i].lstTasks[j].iTaskID">
                                                                <td class="table-action-cell-center"><input type="checkbox" id="@Model.lstProjects[i].lstTasks[j].iTaskID" class="checkbox-input-size-1 selected-tasks" /></td>
                                                                <td class="table-cell-center" id="cTaskTitleCell@(Model.lstProjects[i].lstTasks[j].iTaskID)" onclick="jsEditTaskName(this)">@Model.lstProjects[i].lstTasks[j].strTaskName</td>
                                                                <td class="table-cell-center">@Model.lstProjects[i].lstTasks[j].bIsTaskcompleted</td>
                                                                <td class="table-cell-center">
                                                                    @if (Model.lstTaskTags.Count > 0)
                                                                    {
                                                                        @Html.DropDownListFor(Model => Model.lstProjects[i].lstTasks[j].iTaskTagID, new SelectList(Model.lstTaskTags, "iTaskTagID", "strTitle"), "-- Select Task Type --", new { @id = "lstTaskTags" + Model.lstProjects[i].lstTasks[j].iTaskID, @name = "lstTaskTags" + Model.lstProjects[i].lstTasks[j].iTaskID, @class = "select2 hide-search form-control block", @onchange = "jsUpdateSelectedTaskTagID(" + Model.lstProjects[i].lstTasks[j].iTaskID + ", this)" })
                                                                   }
                                                                    else
                                                                    {
                                                                         @Html.DropDownListFor(Model => Model.lstProjects[i].lstTasks[j].iTaskTagID, new SelectList(Model.lstTaskTags, "iTaskTagID", "strTitle"), "-- No Task Types Available --", new { @id = "lstTaskTags" + Model.lstProjects[i].lstTasks[j].iTaskID, @name = "lstTaskTags" + Model.lstProjects[i].lstTasks[j].iTaskID, @class = "select2 hide-search form-control block" })
                                                                    }
                                                                </td>
                                                            </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-actions right">
                                        <a class="btn btn-primary mr-1" onclick="jsSendClientProjectTasksEmail(@Model.clsClient.iClientID, @Model.lstProjects[i].iProjectID)">
                                            <i class="icon-email2"></i> Email Tasks
                                        </a>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </li>
                </ul>
        }

    }
    else
    {
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><a href="#"></a>No Projects to Display</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            </div>
        </div>
    }

</section>