﻿
@{
    ViewBag.Title = "Change Log";
}


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Change Log
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Change Log</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="timeline" class="timeline-left timeline-wrapper">
        <h3 class="page-title text-xs-center text-lg-left">Timeline</h3>
        <ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-group">
                <a href="#" class="btn btn-primary"><i class="icon-calendar3"></i> Today</a>
            </li>
        </ul>
        <ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-item">
                <div class="timeline-badge">
                    <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Portfolio project work"><i class="icon-file-add"></i></span>
                </div>
                <div class="timeline-card card border-grey border-lighten-2">
                    <div class="card-header">
                        <h4 class="card-title"><a href="#">Robust</a></h4>
                        <p class="card-subtitle text-muted pt-1">
                            <span class="font-small-3">V1.2 [16/03/2017]</span>
                        </p>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline pt-1">
                                <li><a data-action="reload"><i class="icon-repeat2"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content" aria-expanded="true">
                        <div class="card-body">
                             <div class="row">
                                 <div class="col-md-6">
                                     <img class="img-fluid" src="~/Content/app-assets/images/portfolio/width-1200/portfolio-1.jpg"
                                          alt="Timeline Image 1">
                                     <ul class="list-inline mb-1">
                                         <li class="pr-1">
                                             <a href="#" class="text-muted">
                                                 <span class="icon-ei-heart"></span> Like
                                             </a>
                                         </li>
                                         <li class="pr-1">
                                             <a href="#" class="text-muted">
                                                 <span class="icon-chat2"></span> Comment
                                             </a>
                                         </li>
                                         <li>
                                             <a href="#" class="text-muted">
                                                 <span class="icon-share4"></span> Share
                                             </a>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="col-md-6">
                                     <h3 class="my-1">Major Release: Structural changes and enhancements</h3>
                                     <h4>[New]</h4>
                                     <ul>
                                         <li>ssAdded Gulp support for template generation</li>
                                         <li>Optimized and distributed grunt file</li>
                                         <li>Include csscomb for beautiful css code.</li>
                                         <li>
                                             New JADE structure &b variables for better performance
                                             and template generation.
                                         </li>
                                     </ul>
                                     <h4>[Enhancement]</h4>
                                     <ul>
                                         <li>CSS & JS Optimization for better performance and speed.</li>
                                         <li>
                                             Created new src folder for sourcs files and moved jade,
                                             scss and core js files in it.
                                         </li>
                                         <li>Renamed folder robust-assets to app-assets</li>
                                         <li>Renamed folder robust-builder to template-builder</li>
                                         <li>Renamed demo-data folder to data</li>
                                         <li>Vendor CSS and JS files moved to app-assets/vendors folder</li>
                                         <li>Folder locales moved to data</li>
                                         <li>Folder ico moved to images</li>
                                         <li>Folder doc-images moved to images</li>
                                         <li>
                                             Renamed components.scss, robust-variables.scss file to
                                             app.scss, app-variables.scss
                                         </li>
                                         <li>Renamed bootstrap-robust.scss file to bootstrap-extended.scss</li>
                                         <li>Renamed robust.js & robust-menu.js to app.js & app-menu.js</li>
                                         <li>
                                             Renamed robust to app everywhare in css and js classes
                                             (.robust-content, .robust-shape changesd to .app-content,
                                             .app-shape).
                                         </li>
                                     </ul>
                                     <h4>[Fixed]</h4>
                                     <ul>
                                         <li>Active menu class for compact menu items and sub menu items.</li>
                                         <li>Open selected menu by default for compact menu.</li>
                                         <li>jQuery dialog</li>
                                         <li>Advance cards menu</li>
                                         <li>jQuery file upload console error</li>
                                         <li>echarts console error</li>
                                         <li>Table components console error</li>
                                     </ul>
                                     <h4>[Removed]</h4>
                                     <ul>
                                         <li>
                                             Removed page & plugin scss includes from old components.scss
                                             and include only required CSS and JS on page specific
                                             only to improve speed.
                                         </li>
                                         <li>
                                             Removed base64 encoding from font css file icomoon.css
                                             for and adde FF warning
                                         </li>
                                         <li>
                                             Removed hamburgers plugins, and provided scss support for
                                             it.
                                         </li>
                                     </ul>
                                 </div>
                             </div>
                           
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-6 col-xs-12">
                                    <img class="img-fluid" src="~/Content/app-assets/images/portfolio/width-1200/portfolio-1.jpg"
                                         alt="Timeline Image 1">
                                    <ul class="list-inline mb-1">
                                        <li class="pr-1">
                                            <a href="#" class="text-muted">
                                                <span class="icon-ei-heart"></span> Like
                                            </a>
                                        </li>
                                        <li class="pr-1">
                                            <a href="#" class="text-muted">
                                                <span class="icon-chat2"></span> Comment
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="text-muted">
                                                <span class="icon-share4"></span> Share
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-xs-12">
                                    <h3 class="my-1">Major Release: Structural changes and enhancements</h3>
                                    <h4>[New]</h4>
                                    <ul>
                                        <li>Added Gulp support for template generation</li>
                                        <li>Optimized and distributed grunt file</li>
                                        <li>Include csscomb for beautiful css code.</li>
                                        <li>
                                            New JADE structure &b variables for better performance
                                            and template generation.
                                        </li>
                                    </ul>
                                    <h4>[Enhancement]</h4>
                                    <ul>
                                        <li>CSS & JS Optimization for better performance and speed.</li>
                                        <li>
                                            Created new src folder for sourcs files and moved jade,
                                            scss and core js files in it.
                                        </li>
                                        <li>Renamed folder robust-assets to app-assets</li>
                                        <li>Renamed folder robust-builder to template-builder</li>
                                        <li>Renamed demo-data folder to data</li>
                                        <li>Vendor CSS and JS files moved to app-assets/vendors folder</li>
                                        <li>Folder locales moved to data</li>
                                        <li>Folder ico moved to images</li>
                                        <li>Folder doc-images moved to images</li>
                                        <li>
                                            Renamed components.scss, robust-variables.scss file to
                                            app.scss, app-variables.scss
                                        </li>
                                        <li>Renamed bootstrap-robust.scss file to bootstrap-extended.scss</li>
                                        <li>Renamed robust.js & robust-menu.js to app.js & app-menu.js</li>
                                        <li>
                                            Renamed robust to app everywhare in css and js classes
                                            (.robust-content, .robust-shape changesd to .app-content,
                                            .app-shape).
                                        </li>
                                    </ul>
                                    <h4>[Fixed]</h4>
                                    <ul>
                                        <li>Active menu class for compact menu items and sub menu items.</li>
                                        <li>Open selected menu by default for compact menu.</li>
                                        <li>jQuery dialog</li>
                                        <li>Advance cards menu</li>
                                        <li>jQuery file upload console error</li>
                                        <li>echarts console error</li>
                                        <li>Table components console error</li>
                                    </ul>
                                    <h4>[Removed]</h4>
                                    <ul>
                                        <li>
                                            Removed page & plugin scss includes from old components.scss
                                            and include only required CSS and JS on page specific
                                            only to improve speed.
                                        </li>
                                        <li>
                                            Removed base64 encoding from font css file icomoon.css
                                            for and adde FF warning
                                        </li>
                                        <li>
                                            Removed hamburgers plugins, and provided scss support for
                                            it.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="timeline">
            <li class="timeline-line"></li>
            <li class="timeline-group">
                <a href="#" class="btn btn-primary"><i class="icon-calendar3"></i> Founded in 2017</a>
            </li>
        </ul>
    </section>
</div>

