﻿@model SoftservePortalNew.View_Models.Management.clsClientChangeLog

@{
    ViewBag.Title = "Client Change Log";
}


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Client Change Log
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Client Change Log</h3>
    </div>
</div>
<div class="content-body">
    <div class="card">
        <div class="card-header text-center">
            <h4 class="card-title" id="horz-layout-basic">Select a Client And Month</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 col-sm-12">

                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group mb-3">
                        <h5 class="text-center">Client</h5>
                        @if (Model.lstClients.Count > 0)
                        {
                            @Html.DropDownListFor(Model => Model.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- Select A Client --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })  <br />
                            @Html.ValidationMessageFor(model => model.iClientID, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.DropDownListFor(Model => Model.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- No Clients Available --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                            <br />
                            @Html.ValidationMessageFor(model => model.iClientID, "", new { @class = "text-danger" })
                        }
                    </div>

                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="form-group mb-3">
                        <h5 class="text-center">Date</h5>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fa fa-calendar-o"></span>
                                </span>
                            </div>
                            @Html.EditorFor(Model => Model.strSelectedDate, new { htmlAttributes = new { @id = "strSelectedDate", @placeholder = "Select Date", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.strSelectedDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">

                </div>
                
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="#" type="button" class="btn btn-primary mr-1" onclick="jsUpdateClientChangeLog()">
                 SELECT
            </a>
        </div>
    </div>

    @Html.Action("_ClientChangeLogPartialView", "Management")
</div>

@section scripts {
    @Scripts.Render("~/bundles/datetimescripts")
    @Scripts.Render("~/bundles/selectizescripts")
    @Scripts.Render("~/bundles/datetimedropperscripts")
    @Scripts.Render("~/bundles/sweetalertsscripts")   

<!-- Add Task Modal -->
<!-- Button trigger modal -->
<button id="btnAddNewTask" type="button" class="btn btn-outline-primary block btn-lg" style="display:none;" data-toggle="modal"
        data-target="#NewTaskAdd">
    Add Task
</button>
<!-- Modal -->
<div class="modal fade text-left" id="NewTaskAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel34">Add Task</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#">
                <div class="modal-body">
                    <input id="inProjectID" type="hidden" class="form-control" readonly>
                    <label>Task Title: </label>
                    <div class="form-group">
                        <input id="inTaskTitle" type="text" placeholder="Task Title" class="form-control">
                    </div>
                    <label>Task Start (Date/Time): </label>
                    <div class="form-group">
                        <input id="inTaskStartDate" type="text" placeholder="Task Start Date" class="form-control" readonly >
                        <input id="inTaskStartTime" type="text" placeholder="Task Start Time" class="form-control" readonly>
                    </div>
                    <label>Task End (Date/Time): </label>
                    <div class="form-group">
                        <input id="inTaskEndDate" type="text" placeholder="Task End Date" class="form-control" readonly>
                        <input id="inTaskEndTime" type="text" placeholder="Task End Time" class="form-control" readonly>
                    </div>
                    <label>Task Type: </label>
                    <div class="form-group">
                        <select class="select2 hide-search form-control block" id="selTaskType" style="width: 100%">
                            <option value="">-- Select Task Type --</option>
                            @if (Model.lstTaskTags.Count > 0)
                            {
                                foreach (var TaskTag in Model.lstTaskTags)
                                {
                                    <option value="@TaskTag.iTaskTagID">@TaskTag.strTitle</option>
                                }
                            }
                            else
                            {
                                <option value="">-- No Task Types Available --</option>
                            }
                        </select>

                    </div>
                    <label>Task Assignee: </label>
                    <div class="form-group">
                        <select class="select2 hide-search form-control block" id="selTaskAssignee" style="width: 100%">
                            <option value="">-- Select Task Assignee --</option>
                            @if (Model.lstTimeTrackUsers.Count > 0)
                            {
                                foreach (var TimeTrackUser in Model.lstTimeTrackUsers)
                                {
                                    <option value="@TimeTrackUser.iTimeTrackUserID">@TimeTrackUser.strFirstName @TimeTrackUser.strSurname</option>
                                }
                            }
                            else
                            {
                                <option value="">-- No Task Assignees Available --</option>
                            }
                        </select>

                    </div>
                </div>
                <div class="modal-footer">
                    <input id="inCloseModal" type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" onclick="jsClearAddNewTask()"
                           value="close">
                    <input id="inAddNewTask" class="btn btn-outline-primary btn-lg" value="Add" onclick="jsAddNewTask()">
                </div>
            </form>
        </div>
    </div>
</div>

@*Start and End Date Dropper Format*@
<script type="text/javascript">
    $('#inTaskStartDate').dateDropper({
        dropWidth: 200,
        format: 'j F Y'
    });

    $('#inTaskEndDate').dateDropper({
        dropWidth: 200,
        format: 'j F Y'
    });
</script>

@*Start and End Time Dropper Format*@
<script type="text/javascript">
    
    //format: 'HH:mm A'

    $('#inTaskStartTime').timeDropper({
        format: 'HH:mm'
    });

    $('#inTaskEndTime').timeDropper({
        format: 'HH:mm'
    });
</script>

@*Date Format*@
<script type="text/javascript">
    $(function() {
        $('#strSelectedDate').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) {
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        }
        });
    });
</script>

    
<script type="text/javascript">
    function jsUpdateClientChangeLog() {

        var iClientID = $("#lstClients").val();
        var strSelectedDate = $("#strSelectedDate").val();

        if (iClientID != null && iClientID != "" && strSelectedDate != null && strSelectedDate != "")
        {
            $.ajax({
                url: '@Url.Action("UpdateClientChangeLog", "Management")',
                type: "POST",
                data: { "iClientID": iClientID, "strSelectedDate": strSelectedDate },
                success: function (data) {
                    // states is your JSON array
                    if (data.bClientChangeLogUpdated == true) {
                        window.location.href = "/Management/ClientChangeLog";
                    }
                    else {
                        window.location.href = "/Management/ClientChangeLogs";
                    }
                }
            });
        }
    }
</script>

<script type="text/javascript">
    function jsSendClientProjectTasksEmail(iClientID, iProjectID) {

        var strSelectedTasks = $("input[class='checkbox-input-size-1 selected-tasks']:checked").map(function () { return this.id; }).get().join(",");

        if (iClientID != null && iClientID != "" && iProjectID != null && iProjectID != "" && strSelectedTasks != null && strSelectedTasks != "") {
            $.ajax({
                url: '@Url.Action("EmailClientChangeLogInfo", "Management")',
                type: "POST",
                data: { "iClientID": iClientID, "iProjectID": iProjectID, "strSelectedTasks": strSelectedTasks },
                success: function (data) {
                    // states is your JSON array
                    if (data.bEmailClientChangeLogUpdated == true) {
                        window.location.href = "/Management/EmailClientChangeLog";
                    }
                    else {
                        window.location.href = "/Management/ClientChangeLogs";
                    }
                }
            });
        }
    }
</script>

<script type="text/javascript">
    function jsUpdateSelectedTaskTagID(iTaskID, iSelectedTaskTagID) {

        var iSelectedTaskID = iTaskID;
        var iNewSelectedTaskTagID = iSelectedTaskTagID.value;

        if (iSelectedTaskID != null && iSelectedTaskID != "" && iNewSelectedTaskTagID != null && iNewSelectedTaskTagID != "") {
            $.ajax({
                url: '@Url.Action("UpdateSelectedTaskTagID", "Management")',
                type: "POST",
                data: { "iSelectedTaskID": iSelectedTaskID, "iNewSelectedTaskTagID": iNewSelectedTaskTagID },
                success: function (data) {
                    // states is your JSON array
                    //Do nothing
                }
            });
        }

    }
</script>

<script type="text/javascript">
    function jsSelectAllTasks() {

        var selectAllTasksText = $("#btnSelectAllTasks").text();

        if (selectAllTasksText == "Select All Tasks") {
            $('input[class="checkbox-input-size-1 selected-tasks"]').prop("checked", true).trigger('change');
            $("#btnSelectAllTasks").text("Unselect All Tasks");
        }
        else {
            $('input[class="checkbox-input-size-1 selected-tasks"]').prop("checked", false).trigger('change');
            $("#btnSelectAllTasks").text("Select All Tasks");
        }

    }
</script>    

<script type="text/javascript">
    function jsBulkTaskUpdate() {

        var strSelectedTaskTag = $("#inBulkTaskTagSelect").val();
        var strSelectedTasks = $("input[class='checkbox-input-size-1 selected-tasks']:checked").map(function () { return this.id; }).get().join(",");

        if (strSelectedTaskTag != null && strSelectedTaskTag != "" && strSelectedTasks != null && strSelectedTasks != "") {
            $.ajax({
                url: '@Url.Action("UpdateTasksTagsBulk", "Management")',
                type: "POST",
                data: { "strSelectedTaskTag": strSelectedTaskTag, "strSelectedTasks": strSelectedTasks },
                success: function (data) {
                    // states is your JSON array
                    if (data.bTasksUpdated == true) {

                        var aTaskIDList = strSelectedTasks.split(',');

                        for (var i = 0; i < aTaskIDList.length; i++)
                        {
                            var strListID = "lstTaskTags" + aTaskIDList[i].toString();

                            $("#" + strListID + " option").each(function () {
                                if ($(this).text() == $('#inBulkTaskTagSelect').val()) {
                                    $(this).attr('selected', 'selected');
                                }
                            });
                        }

                        swal("Success!", "Tasks Updated", "success");
                    }
                    else {
                        swal("Error!", "Tasks could not be updated.", "error");
                    }
                }
            });
        }

    }
</script>
    
<script type="text/javascript">
    function jsAddTask(iProjectID) {

        $('#NewTaskAdd').modal('show');
        $('#inProjectID').val(iProjectID);

    }
</script>

<script type="text/javascript">
    function jsClearAddNewTask() {

        $('#inProjectID').val("");
        $('#inTaskTitle').val("");
        $('#inTaskStartDate').val("");
        $('#inTaskStartTime').val("");
        $('#inTaskEndDate').val("");
        $('#inTaskEndTime').val("");
        $("#selTaskType").prop("selectedIndex", 0).change();
        $("#selTaskAssignee").prop("selectedIndex", 0).change();

    }
</script>
    

<script type="text/javascript">
    function jsAddNewTask() {

        var iProjectID = $('#inProjectID').val();
        var strTaskTitle = $('#inTaskTitle').val();

        var strTaskStartDate = $('#inTaskStartDate').val();
        var strTaskStartTime = $('#inTaskStartTime').val();
        var strTaskEndDate = $('#inTaskEndDate').val();
        var strTaskEndTime = $('#inTaskEndTime').val();

        var iTaskTypeID = $('#selTaskType').val();
        var iTaskAssigneeID = $('#selTaskAssignee').val();

        if (iProjectID != null && iProjectID != ""
            && strTaskTitle != null && strTaskTitle != ""
            && strTaskStartDate != null && strTaskStartDate != ""
            && strTaskStartTime != null && strTaskStartTime != ""
            && strTaskEndDate != null && strTaskEndDate != ""
            && strTaskEndTime != null && strTaskEndTime != ""
            && iTaskTypeID != null && iTaskTypeID != ""
            && iTaskAssigneeID != null && iTaskAssigneeID != "") {

            $.ajax({
                url: '@Url.Action("AddNewTask", "Management")',
                type: "POST",
                data: {
                    "iProjectID": iProjectID,
                    "strTaskTitle": strTaskTitle,
                    "strTaskStartDate": strTaskStartDate,
                    "strTaskStartTime": strTaskStartTime,
                    "strTaskEndDate": strTaskEndDate,
                    "strTaskEndTime": strTaskEndTime,
                    "iTaskTypeID": iTaskTypeID,
                    "iTaskAssigneeID": iTaskAssigneeID
                },
                success: function (data) {
                    // states is your JSON array
                    if (data.bNewTaskAdded == true) {

                        $('#inProjectID').val("");
                        $('#inTaskTitle').val("");
                        $('#inTaskStartDate').val("");
                        $('#inTaskStartTime').val("");
                        $('#inTaskEndDate').val("");
                        $('#inTaskEndTime').val("");
                        $("#selTaskType").prop("selectedIndex", 0).change();
                        $("#selTaskAssignee").prop("selectedIndex", 0).change();

                        var projectTable = document.getElementById(iProjectID).getElementsByTagName('tbody')[0];

                        var projectTableRow = projectTable.insertRow(0);
                        projectTableRow.id = data.iNewTaskID;

                        var projectTableRowCell1 = projectTableRow.insertCell(0);
                        var projectTableRowCell2 = projectTableRow.insertCell(1);
                        var projectTableRowCell3 = projectTableRow.insertCell(2);
                        var projectTableRowCell4 = projectTableRow.insertCell(3);

                        projectTableRowCell1.classList.add("table-action-cell-center");

                        projectTableRowCell2.classList.add("table-cell-center");
                        projectTableRowCell2.id = "cTaskTitleCell" + data.iNewTaskID;
                        projectTableRowCell2.setAttribute("onclick", "jsEditTaskName(this)");

                        projectTableRowCell3.classList.add("table-cell-center");
                        projectTableRowCell4.classList.add("table-cell-center");

                        projectTableRowCell1.innerHTML = "<input type='checkbox' id='" + data.iNewTaskID + "' class='checkbox-input-size-1 selected-tasks' />";
                        projectTableRowCell2.innerHTML = strTaskTitle;
                        projectTableRowCell3.innerHTML = "True";

                        var projectTableCell4DropDownList = "<select id='lstTaskTags" + data.iNewTaskID + "' class='select2 hide-search form-control block' onchange='jsUpdateSelectedTaskTagID(" + data.iNewTaskID + ", this);' >";
                        projectTableCell4DropDownList += "<option value=''>-- Select Task Type --</option>";
                        for (var i = 0; i < data.lstTaskTags.length; i++) {
                            projectTableCell4DropDownList += "<option value='" + data.lstTaskTags[i].iTaskTagID + "'>" + data.lstTaskTags[i].strTitle + "</option>";
                        }
                        projectTableCell4DropDownList += "</select>";
                        projectTableRowCell4.innerHTML = projectTableCell4DropDownList;

                        swal("Success!", "Task Added", "success");
                        $('#NewTaskAdd').modal('hide');
                    }
                    else {
                        swal("Error!", "Task could not be added. Please ensure all fields are correct.", "error");
                    }
                    
                }
            });
        }
        else {
            swal("", "Please complete all fields", "info");
        }

    }
</script>
    

<script type="text/javascript">

    function jsEditTaskName(TaskNameCell) {

        swal({
            title: "Change Task Name:",
            text: TaskNameCell.innerHTML,
            content: {
                element: "input",
                attributes: {
                    placeholder: "Task Name",
                    value: TaskNameCell.innerHTML,
                },
            },
            buttons: {
                cancel: {
                    text: "Cancel",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "OK",
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            closeOnClickOutside: true,
        })
        .then((value) => {
            if (value === false) return false;
            if (value === null) return false;
            if (value === "") return false;

            TaskNameCell.innerHTML = value;

            var strTaskID = TaskNameCell.id;
            var strNewTaskName = value;

            $.ajax({
                url: '@Url.Action("UpdateSelectedTaskName", "Management")',
                type: "POST",
                data: { "strTaskID": strTaskID, "strNewTaskName": strNewTaskName },
                success: function (data) {
                    // states is your JSON array
                    //Do nothing
                }
            });
        })
    }
</script>
    
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
 
}

