﻿@model SoftservePortalNew.View_Models.Management.clsClientChangeLogs

@{
    ViewBag.Title = "Client Change Logs";
}


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Client Change Logs
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Client Change Logs</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts basic-selectize">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="card-title" id="horz-layout-basic">Select a Client</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>

                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmClientChangeLogs", @name = "frmClientChangeLogs", @class = "form form-horizontal" }))
                            {
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        @if (Model.lstClients.Count > 0)
                                        {
                                            @Html.DropDownListFor(Model => Model.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- Select A Client --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                            <br />
                                                @Html.ValidationMessageFor(model => model.iClientID, "", new { @class = "text-danger" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(Model => Model.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- No Clients Available --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                            <br />
                                                @Html.ValidationMessageFor(model => model.iClientID, "", new { @class = "text-danger" })
                                        }
                                    </div>
                                </div>
                                <div class="form-actions center">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="icon-check"></i> Select
                                    </button>
                                </div>
                           }                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section scripts {
    @*@Scripts.Render("~/bundles/checkscripts")*@
    @Scripts.Render("~/bundles/datetimescripts")
    @*@Scripts.Render("~/bundles/selectscripts")*@
    @Scripts.Render("~/bundles/selectizescripts")
}