﻿@model SoftservePortalNew.View_Models.Management.clsEmailClientChangeLog

@{
    ViewBag.Title = "Email Client Change Log";
}

@*Crop Slim Stylesheet*@
@Styles.Render("~/Content/slimCropStylesheets")

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Email Client Change Log 
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Email Client Change Log</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts basic-selectize">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Client Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                                <form id="frmEmailClientChangeLog" name="frmEmailClientChangeLog" class="form form-horizontal">
                                    <div class="form-body">
                                        <h4 class="form-section"><i class="ft-user"></i> Client Info</h4>
                                        <h4>Email</h4>
                                        <div class="form-group row col-md-12"></div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strTitle">Project</label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(Model => Model.ClientProject.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Project", @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.ClientProject.strTitle, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strClientEmail">Client Email</label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(Model => Model.strClientEmail, new { htmlAttributes = new { @id = "strClientEmail", @placeholder = "Client Email", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.strClientEmail, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strEmailSubject">Email Subject</label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(Model => Model.strEmailSubject, new { htmlAttributes = new { @id = "strEmailSubject", @placeholder = "Email Subject", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.strEmailSubject, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strNewTasks">New Tasks</label>
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(Model => Model.strNewTasks, new { @id = "strNewTasks", @placeholder = "New Tasks", @class = "form-control", @rows = "10" })
                                                @Html.ValidationMessageFor(model => model.strNewTasks, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strEnhancedTasks">Enhanced Tasks</label>
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(Model => Model.strEnhancedTasks, new { @id = "strEnhancedTasks", @placeholder = "Enhanced Tasks", @class = "form-control", @rows = "10" })
                                                @Html.ValidationMessageFor(model => model.strEnhancedTasks, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strFixedTasks">Fixed Tasks</label>
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(Model => Model.strFixedTasks, new { @id = "strNewTasks", @placeholder = "Fixed Tasks", @class = "form-control", @rows = "10" })
                                                @Html.ValidationMessageFor(model => model.strFixedTasks, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strRemovedTasks">Removed Tasks</label>
                                            <div class="col-md-9">
                                                @Html.TextAreaFor(Model => Model.strRemovedTasks, new { @id = "strNewTasks", @placeholder = "Removed Tasks", @class = "form-control", @rows = "10" })
                                                @Html.ValidationMessageFor(model => model.strRemovedTasks, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <a href="@Url.Action("ClientChangeLogs", "Management")" type="button" class="btn btn-warning mr-1">
                                            <i class="icon-arrow-circle-left"></i> Client Change Logs
                                        </a>
                                        <a class="btn btn-primary mr-1" onclick="jsSendEmail()">
                                            <i class="icon-email2"></i> Send
                                        </a>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section scripts {

@Scripts.Render("~/bundles/sweetalertsscripts")    

<script type="text/javascript">
    function jsSendEmail() {

        var clsEmailClientChangeLog = $('#frmEmailClientChangeLog').serialize();

        $.ajax({
            url: '@Url.Action("SendEmailClientChangeLog", "Management")',
            type: "POST",
            data: clsEmailClientChangeLog,
            success: function (data) {
                // states is your JSON array
                if (data.bEmailSent == true) {
                    swal({
                        title: "",
                        text: "Email has been sent!",
                        icon: "success",
                        buttons: {
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "",
                                closeModal: true
                            }
                        }
                    }).then(isConfirm => {
                        if (isConfirm) {
                            window.location.href = "/Management/ClientChangeLogs";
                        } else {
                            window.location.href = "/Management/ClientChangeLogs";
                        }
                    });
                }
                else {
                    swal({
                        title: "",
                        text: "Email could not be sent.",
                        icon: "error",
                        buttons: {
                            confirm: {
                                text: "OK",
                                value: true,
                                visible: true,
                                className: "",
                                closeModal: true
                            }
                        }
                    }).then(isConfirm => {
                        if (isConfirm) {
                            //Do nothing
                        } else {
                            //Do nothing
                        }
                    });
                }
            }
        });
    }
</script>

}