﻿
@{
    Layout = null;
}

<div class="row">
    <!-- Simple Doughnut Chart -->
    <div class="col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">This Week vs. Last Week (By Sessions)</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block chartjs">
                    <canvas id="line-logarithmic" height="500"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Where are your users?</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <canvas id="analytics-doughnut-chart" height="400"></canvas>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">What are your top devices? </h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <canvas id="simple-pie-chart" height="300"></canvas>
                    <div class="row">
                        @*<div class="col-md-4 col-sm-4 col-4">
                                <div class="container" style="text-align:center">
                                    <i class="fas fa-desktop" style="font-size: 2.28rem;"></i><br />
                                    <label class="fonticon-classname">Desktop</label><br />
                                    <label id="desktop" class="fonticon-unit"></label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="container" style="text-align:center">
                                    <i class="fas fa-mobile-alt" style="font-size: 2.28rem;"></i><br />
                                    <label class="fonticon-classname">Mobile</label><br />
                                    <label id="mobile" class="fonticon-unit"></label>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="container" style="text-align:center">
                                    <i class="fas fa-tablet-alt" style="font-size: 2.28rem;"></i><br />
                                    <label class="fonticon-classname">Tablet</label><br />
                                    <label id="tablet" class="fonticon-unit"></label>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">What pages do your users visit? </h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div id="main-chart-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>


