﻿@model SoftservePortalNew.View_Models.Analytics.clsGogleAnalytics

@{ 
ViewBag.Title = "Google Analytics";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Google Analytics
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Google Analytics</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <!-- Section start -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Google Analytics</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <form class="form form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group mb-3">
                                                                <h5 class="text-center">Select Domain</h5>
                                                                @if (Model.lstDomains.Count > 0)
                                                                {
                                                                    @Html.DropDownListFor(Model => Model.iDomainID, new SelectList(Model.lstDomains, "iDomainID", "strTitle"), "-- Select A Domain --", new { @id = "lstDomains", @name = "lstDomains", @class = "select2 hide-search form-control block", @onchange = "jsGetDomainAnalytics()" })  <br />
                                                                    @Html.ValidationMessageFor(model => model.iDomainID, "", new { @class = "text-danger" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownListFor(Model => Model.iDomainID, new SelectList(Model.lstDomains, "iDomainID", "strTitle"), "-- No Domains Available --", new { @id = "lstDomains", @name = "lstDomains", @class = "select2 hide-search form-control block" })
                                                                    <br />
                                                                    @Html.ValidationMessageFor(model => model.iDomainID, "", new { @class = "text-danger" })
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-4"></div>
                                                    </div>
                                                    <div>
                                                        <p id="pCardText" class="card-text">
                                                            Google Analytics Report
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="card-content collapse show">
                                                    <div class="card-body">

                                                        <div id='divGoogleAnalytics'></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    @*<a href="@Url.Action("BlogPostAdd", "BlogPosts")" type="button" class="btn btn-primary">
                                        <i class="icon-plus"></i> Add
                                    </a>*@
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
<script type="text/javascript">

    function jsGetDomainAnalytics() {
        var iDomainID = $("#iDomainID").val();

        alert(iDomainID);

        $.ajax({
            url: '@Url.Action("GetDomainAnalytics", "Analytics")',
            type: "POST",
            data: { "iDomainID": iDomainID },
            success: function (data) {
                alert("GDA");
            }
        });
    }
</script>

<!-- Google Analytics -->
<script>
    function jsLoadGoogleAnalytics(propertyID) {
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
    }
</script>
<!-- End Google Analytics -->
}