﻿@model SoftservePortalNew.View_Models.Analytics.clsGogleAnalytics

@{ 
ViewBag.Title = "Google Analytics";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Google Analytics
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Google Analytics</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <!-- Section start -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Google Analytics</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <form class="form form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group mb-3">
                                                                <h5 class="text-center">Select Domain</h5>
                                                                @if (Model.lstDomains.Count > 0)
                                                                {
                                                                    <select id="lstDomains" class="select2 hide-search form-control block" onchange="jsGetDomainAnalytics()">
                                                                        <option value="">-- Select A Domain --</option>
                                                                        @foreach(var domain in Model.lstDomains)
                                                                        {
                                                                            <option value="@domain.iDomainID">@domain.strTitle</option>
                                                                        }
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select>
                                                                        @foreach (var domain in Model.lstDomains)
                                                                        {
                                                                            <option value="">-- No Domains Available --</option>
                                                                        }
                                                                    </select>
                                                                }
                                                                @*<section style="display:none;" id="auth-button"></section>*@
                                                            </div>
                                                        </div>
                                                        <div class="col-4"></div>
                                                    </div>
                                                    <div>
                                                        <p id="pCardText" class="card-text">
                                                            Google Analytics Report
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="card-content collapse show">
                                                    <div class="card-body">
                                                        <div id="divGoogleAnalyticsLoader" style="display:none;" class="card-block text-center">
                                                            <div class="loader-wrapper">
                                                                <div class="loader-container">
                                                                    <div class="ball-grid-pulse loader-primary">
                                                                        <div></div>
                                                                        <div></div>
                                                                        <div></div>
                                                                        <div></div>
                                                                        <div></div>
                                                                        <div></div>
                                                                        <div></div>
                                                                        <div></div>
                                                                        <div></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                        <div id='divGoogleAnalytics' style="display:none;" >
                                                            <div class="row">
                                                                <!-- Simple Doughnut Chart -->
                                                                <div class="col-md-8 col-sm-12">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h4 class="card-title">This Week vs. Last Week (By Sessions)</h4>
                                                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                                            <div class="heading-elements">
                                                                                <ul class="list-inline mb-0">
                                                                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <div class="card-block chartjs">
                                                                                <canvas id="line-logarithmic" height="500"></canvas>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-sm-12">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h4 class="card-title">Where are your users?</h4>
                                                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                                            <div class="heading-elements">
                                                                                <ul class="list-inline mb-0">
                                                                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <div class="card-block">
                                                                                <canvas id="analytics-doughnut-chart" height="400"></canvas>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-12">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h4 class="card-title">What are your top devices? </h4>
                                                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                                            <div class="heading-elements">
                                                                                <ul class="list-inline mb-0">
                                                                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <div class="card-block">
                                                                                <canvas id="simple-pie-chart" height="300"></canvas>
                                                                                <div class="row">
                                                                                    @*<div class="col-md-4 col-sm-4 col-4">
                                                                                        <div class="container" style="text-align:center">
                                                                                            <i class="fas fa-desktop" style="font-size: 2.28rem;"></i><br />
                                                                                            <label class="fonticon-classname">Desktop</label><br />
                                                                                            <label id="desktop" class="fonticon-unit"></label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-4 col-sm-4 col-4">
                                                                                        <div class="container" style="text-align:center">
                                                                                            <i class="fas fa-mobile-alt" style="font-size: 2.28rem;"></i><br />
                                                                                            <label class="fonticon-classname">Mobile</label><br />
                                                                                            <label id="mobile" class="fonticon-unit"></label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-4 col-sm-4 col-4">
                                                                                        <div class="container" style="text-align:center">
                                                                                            <i class="fas fa-tablet-alt" style="font-size: 2.28rem;"></i><br />
                                                                                            <label class="fonticon-classname">Tablet</label><br />
                                                                                            <label id="tablet" class="fonticon-unit"></label>
                                                                                        </div>
                                                                                    </div>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8 col-sm-12">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h4 class="card-title">What pages do your users visit? </h4>
                                                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                                            <div class="heading-elements">
                                                                                <ul class="list-inline mb-0">
                                                                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <div class="card-block">
                                                                                <div id="main-chart-container"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h4 class="card-title">Site Traffic </h4>
                                                                            <p>Sessions vs. Users - Last 30 Days</p>
                                                                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                                            <div class="heading-elements">
                                                                                <ul class="list-inline mb-0">
                                                                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                                                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                                                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-body">
                                                                            <div class="card-block">
                                                                                <div id="analytics-line-sessions-chart"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
  
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    @*<a href="@Url.Action("BlogPostAdd", "BlogPosts")" type="button" class="btn btn-primary">
                                        <i class="icon-plus"></i> Add
                                    </a>*@
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {

<script type="text/javascript">

    window.onload = function () {
        @{
            if (TempData["strGAToken"] != null && TempData["strGAPropertyID"] != null)
            {
                 <text>
                     var strGAToken = '@TempData["strGAToken"].ToString()';
                     var strGAPropertyID = '@TempData["strGAPropertyID"].ToString()';
                     jsLoadGoogleAnalytics(strGAToken, strGAPropertyID);
                 </text>

                if (TempData["iDomainID"] != null)
                {
                    <text>
                     var iDomainID = '@TempData["iDomainID"]';
                     $('#lstDomains').val(iDomainID);
                    </text>
                }
            }
        }

    }
</script>

<script type="text/javascript">

    function jsGetDomainAnalytics() {
        var iDomainID = $("#lstDomains").val();

        if (iDomainID != null && iDomainID != "") {

            $('#divGoogleAnalytics').hide();
            $('#divGoogleAnalyticsLoader').show();

            $.ajax({
                url: '@Url.Action("GetDomainGoogleAnalyticsReport", "Analytics")',
                type: "POST",
                data: { "iDomainID": iDomainID },
                success: function (data) {

                    window.location.href = "/Analytics/Google";
                }
            });
        }
        else {
            $('#divGoogleAnalytics').empty();
            $('#divGoogleAnalytics').hide();
            $('#divGoogleAnalyticsLoader').hide();
        }
    }
</script>

    <script type="text/javascript">
        function jsLoadGoogleAnalytics(token, propertyID) {

            var access_token = token; //server side
            var gaPropertyID = propertyID;

            (function (w, d, s, g, js, fs) {
                g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (f) { this.q.push(f); } };
                js = d.createElement(s); fs = d.getElementsByTagName(s)[0];
                js.src = 'https://apis.google.com/js/platform.js';
                fs.parentNode.insertBefore(js, fs); js.onload = function () { g.load('analytics'); };
            }(window, document, 'script'));

            gapi.analytics.ready(function () {

                //Authorize the user client side
                //var CLIENT_ID = '732265934811-8e5qcchg92qpebsurlcd63rg8fnge73l.apps.googleusercontent.com'; //Portal Analytics, Softserve Analytics OAuth2.0

                //gapi.analytics.auth.authorize({
                //    container: 'auth-button',
                //    clientid: CLIENT_ID,
                //});

                /**
                 * Authorize the user with an access token obtained server side.
                 */
                gapi.analytics.auth.authorize({
                    'serverAuth': {
                        'access_token': access_token
                    }
                });

                var scriptMoment = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js";
                renderTopCountriesChart();
                renderUsersWeeklyComparison();
                renderDevicesChart();
                /**
                 * Creates a new DataChart instance showing sessions over the past 30 days.
                 * It will be rendered inside an element with the id "chart-1-container".
                 */
                var mainChart = new gapi.analytics.googleCharts.DataChart({
                    query: {
                        'ids': gaPropertyID,
                        'dimensions': 'ga:pagePathLevel1',
                        'metrics': 'ga:pageviews',
                        'start-date': '30daysAgo',
                        'end-date': 'yesterday',
                        'sort': '-ga:pageviews',
                        'max-results': '6'
                    },
                    chart: {
                        type: 'TABLE',
                        container: 'main-chart-container',
                        options: {
                            width: '100%'
                        }
                    }
                });
                mainChart.execute();

                function renderDevicesChart() {
                    query({
                        'ids': gaPropertyID,
                        'dimensions': 'ga:deviceCategory',
                        'metrics': 'ga:sessions',
                        'start-date': '30daysAgo',
                        'end-date': 'yesterday',
                        'sort': '-ga:sessions',
                        'max-results': 5
                    })
                    .then(function (response) {
                        var Data = [];
                        var Labels = [];
                        var Colours = [];
                        var colors = ['#426ccc', '#d612d0', '#22f0c0', '#F7464A', '#fae900'];

                        response.rows.forEach(function (row, i) {
                            Data.push({
                                value: +row[1]
                            });
                            Labels.push({
                                label: row[0]
                            });
                            Colours.push({
                                color: colors[i]
                            });

                        });
                        console.log(Data);
                        console.log(Labels);
                        console.log(Colours);

                        //Get the context of the Chart canvas element we want to select
                        var ctx = $("#simple-pie-chart");

                        // Chart Options
                        var chartOptions = {
                            responsive: true,
                            maintainAspectRatio: false,
                            responsiveAnimationDuration: 500,
                        };

                        // Chart Data
                        var chartData = {
                            labels: Labels.map(a => a.label),
                            datasets: [{
                                label: "Device Categories",
                                data: Data.map(a => a.value),
                                backgroundColor: Colours.map(a => a.color)
                            }]
                        };

                        var config = {
                            type: 'pie',

                            // Chart Options
                            options: chartOptions,

                            data: chartData
                        };

                        // Create the chart
                        var pieSimpleChart = new Chart(ctx, config);
                        document.getElementById('desktop').innerHTML = Data[0].value;
                        document.getElementById('mobile').innerHTML = Data[1].value;
                        document.getElementById('tablet').innerHTML = Data[2].value;

                    });
                }

                function renderTopCountriesChart() {
                    query({
                        'ids': gaPropertyID,
                        'dimensions': 'ga:country',
                        'metrics': 'ga:sessions',
                        'sort': '-ga:sessions',
                        'max-results': 5
                    })
                    .then(function (response) {
                        var Data = [];
                        var Labels = [];
                        var Colours = [];
                        var colors = ['#426cf5', '#33d654', '#d632c0', '#fae900', '#F7464A'];

                        response.rows.forEach(function (row, i) {
                            //                            Data.push({
                            //    label: row[0],
                            //    value: +row[1],
                            //    color: colors[i]
                            //});
                            Data.push({
                                value: +row[1]
                            });
                            Labels.push({
                                label: row[0]
                            });
                            Colours.push({
                                color: colors[i]
                            });

                        });
                        console.log(Data);
                        console.log(Labels);
                        console.log(Colours);

                        var ctx = $("#analytics-doughnut-chart");

                        // Chart Options
                        var chartOptions = {
                            responsive: true,
                            maintainAspectRatio: false,
                            responsiveAnimationDuration: 500,
                        };

                        // Chart Data
                        var chartData = {
                            labels: Labels.map(a => a.label),
                            datasets: [{
                                label: "Sessions by Country",
                                data: Data.map(a => a.value),
                                backgroundColor: Colours.map(a => a.color)
                            }]
                        };
                        console.log(chartData);
                        var config = {
                            type: 'doughnut',

                            // Chart Options
                            options: chartOptions,

                            data: chartData
                        };

                        // Create the chart
                        var doughnutSimpleChart = new Chart(ctx, config);

                    });
                }

                function renderUsersWeeklyComparison() {

                    // Adjust `now` to experiment with different days, for testing only...
                    var now = moment(); // .subtract(3, 'day');

                    var thisWeek = query({
                        'ids': gaPropertyID,
                        'dimensions': 'ga:date,ga:nthDay',
                        'metrics': 'ga:sessions',
                        'start-date': moment(now).subtract(1, 'day').day(0).format('YYYY-MM-DD'),
                        'end-date': moment(now).format('YYYY-MM-DD')
                    });

                    var lastWeek = query({
                        'ids': gaPropertyID,
                        'dimensions': 'ga:date,ga:nthDay',
                        'metrics': 'ga:sessions',
                        'start-date': moment(now).subtract(1, 'day').day(0).subtract(1, 'week')
                            .format('YYYY-MM-DD'),
                        'end-date': moment(now).subtract(1, 'day').day(6).subtract(1, 'week')
                            .format('YYYY-MM-DD')
                    });

                    Promise.all([thisWeek, lastWeek]).then(function (results) {

                        var data1 = results[0].rows.map(function (row) { return +row[2]; });
                        var data2 = results[1].rows.map(function (row) { return +row[2]; });
                        var labels = results[1].rows.map(function (row) { return +row[0]; });

                        labels = labels.map(function (label) {
                            return moment(label, 'YYYYMMDD').format('ddd');
                        });


                        //Get the context of the Chart canvas element we want to select
                        var ctx = $("#line-logarithmic");

                        var chartOptions = {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                xAxes: [{
                                    display: true,
                                    gridLines: {
                                        color: "#f3f3f3",
                                        drawTicks: false,
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'day'
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    gridLines: {
                                        color: "#f3f3f3",
                                        drawTicks: false,
                                    },
                                    type: 'linear',
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'sessions'
                                    }
                                }]
                            }
                        };

                        var chartData = {
                            labels: labels,
                            datasets: [
                              {
                                  label: 'Last Week',
                                  fillColor: 'rgba(220,220,220,0.5)',
                                  strokeColor: 'rgba(220,220,220,1)',
                                  pointColor: 'rgba(220,220,220,1)',
                                  pointStrokeColor: '#fff',
                                  data: data2
                              },
                              {
                                  label: 'This Week',
                                  fillColor: 'rgba(151,187,205,0.5)',
                                  strokeColor: 'rgba(151,187,205,1)',
                                  pointColor: 'rgba(151,187,205,1)',
                                  pointStrokeColor: '#fff',
                                  data: data1
                              }
                            ]
                        };

                        var config = {
                            type: 'line',

                            // Chart Options
                            options: chartOptions,

                            // Chart Data
                            data: chartData
                        };

                        // Create the chart
                        var logarithmicChart = new Chart(ctx, config);

                    });
                }

                function query(params) {
                    return new Promise(function (resolve, reject) {
                        var data = new gapi.analytics.report.Data({ query: params });
                        data.once('success', function (response) { resolve(response); })
                            .once('error', function (response) { reject(response); })
                            .execute();
                    });
                }


                var dataChart1 = new gapi.analytics.googleCharts.DataChart({
                    query: {
                        'ids': gaPropertyID, // <-- Replace with the ids value for your view.
                        'start-date': '30daysAgo',
                        'end-date': 'yesterday',
                        'metrics': 'ga:sessions,ga:users',
                        'dimensions': 'ga:date'
                    },
                    chart: {
                        'container': 'analytics-line-sessions-chart',
                        'type': 'LINE',
                        'options': {
                            'width': '100%'
                        }
                    }
                });
                dataChart1.execute();
            });

            //Display Analytics
            $('#divGoogleAnalyticsLoader').hide();
            $('#divGoogleAnalytics').show();
        }

    </script>

<!-- BEGIN PAGE VENDOR JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="~/Content/app-assets/vendors/js/ui/headroom.min.js" type="text/javascript"></script>
<script src="~/Content/app-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
@*<script src="~/Content/app-assets/js/scripts/analytics.js"></script>*@
}