﻿@model SoftservePortalNew.Models.clsCIDocuments

<div class="col-xl-4 col-md-6 col-sm-12">
    @*<div class="card" style="height: 577.094px;">*@
        <div class="card">
        <div class="card-content">
            @if (Model.strPathToImages != null && Model.strPathToImages != "" && Model.strMasterImage != null && Model.strMasterImage != "")
            {
                <img class="card-img-top img-fluid" style="width:550px; height:350px;" src="../../@Model.strPathToImages/@Model.strMasterImage" alt="@Model.strTitle Image">
            }
            else
            {
                <span><i style="font-size:18em" class="icon-document"></i></span>
            }
            <div class="card-body">
                <h4 class="card-title">@Model.strTitle</h4>
                <p class="card-text">@Model.strDescription</p>
                <a href="@Url.Action("ClientCIDocumentsView", "CIDocuments", new { @id = Model.iCIDocumentID })" class="btn btn-primary">
                     View Documents
                </a>
                @*<a style="float:right;" href="#" class="btn btn-blue">
                    View Company Profile
                </a>*@
            </div>
        </div>
    </div>
</div>