﻿@model SoftservePortalNew.View_Models.CIDocuments.clsCIDocumentEdit

@{
    ViewBag.Title = "Edit CI Docuemnt";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Edit CI Document
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Edit CI Document</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">CI Document Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmCIDocumentEdit", @name = "frmCIDocumentEdit", @class = "form form-horizontal", @enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(Model => Model.clsCIDocument.iCIDocumentID)
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> CI Document Info</h4>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="lstClients">Clients</label>
                                        <div class="col-md-9">
                                            @if (Model.lstClients.Count > 0)
                                            {
                                                @Html.DropDownListFor(Model => Model.clsCIDocument.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- Select Client --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.clsCIDocument.iClientID, "", new { @class = "text-danger" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(Model => Model.clsCIDocument.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- No Clients Available --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.clsCIDocument.iClientID, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strTitle">CI Document Title</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsCIDocument.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "CI Document Title", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsCIDocument.strTitle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strDescription">CI Document Description</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsCIDocument.strDescription, new { htmlAttributes = new { @id = "strDescription", @placeholder = "CI Document Description", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsCIDocument.strDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div id="divCIDocumentsImage">
                                        @if (Model.strFullImagePath != null && Model.strFullImagePath != "")
                                        {
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control">Image</label>
                                                <div class="col-md-9">
                                                    <img id="imgCIDocumentImage" class="card-img-top img-fluid image-size-200" src="../../@Model.strFullImagePath" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"></label>
                                                <div class="col-md-9">
                                                    <a class="btn btn-primary" onclick="jsRemoveCurrentCIDocumentsImage()">
                                                        Remove Image
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">New CI Document Image</label>
                                            <div class="col-md-6">
                                                <input type="file" class="form-control" value="Upload" accept="image/*" id="inCIDocumentsImage" name="inCIDocumentsImage" />
                                            </div>
                                            <div class="col-md-3">
                                                <a class="btn btn-primary" onclick="jsClearCIDocumentsImage()">
                                                    Remove
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divCIDocuments">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Add CI Documents</label>
                                            <div class="col-md-6">
                                                <input type="file" class="form-control" value="Upload" multiple accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf, image/*" id="inCIDocuments" name="inCIDocuments" />
                                            </div>
                                            <div class="col-md-3">
                                                <a class="btn btn-primary" onclick="jsClearCIDocuments()">
                                                    Remove
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="chkbIsCIGuide">CI Guide Document</label>
                                        <div class="col-md-9">
                                            <fieldset>
                                                <input type="checkbox" id="chkbIsCIGuide" onclick="jsSetbIsCIGuide()">
                                            </fieldset>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(@Model => Model.clsCIDocument.bIsCIGuide)
                                    @Html.HiddenFor(Model => Model.strFullImagePath)
                                    <input class="form-control" id="inCIDocumentRowID" type="hidden" readonly="readonly" />
                                    <hr />
                                    <h4>Documents</h4>
                                    <div id="divCIDocuments">
                                        <div class="form-group row">
                                            <table id="tblCIDocuments" class="table table-striped table-bordered dom-jQuery-events">
                                                <thead>
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.lstDocumentsList.Count > 0)
                                                    {
                                                        var count = 1;
                                                        foreach (var CIDocument in Model.lstDocumentsList)
                                                        {
                                                            <tr id="tblRow@(count)">
                                                                <td class="table-cell-center">@CIDocument</td>
                                                                <td class="table-action-cell-center" style="font-size:1.8em;">
                                                                    <a href="#" data-toggle="modal" data-target="#ConfirmCIDocumentDelete" onclick="deleteItemConfirm(@count)"><i class="fa fa-trash-o"></i></a>
                                                                </td>
                                                            </tr>
                                                            count++;
                                                        }
                                                    }
                                                </tbody>
                                                <tfoot>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <a href="@Url.Action("CIDocuments", "CIDocuments")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="icon-check2"></i> Update
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Confirmation Modal -->
    <!-- Modal -->
    <div class="modal fade text-left" id="ConfirmCIDocumentDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel18">Confirm Delete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this item?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="jsDeleteCIDocument()">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {
     @Scripts.Render("~/bundles/datatablesscripts")

    <script type="text/javascript">
        function jsClearCIDocumentsImage() {
            $("#inCIDocumentsImage").val('');
        }

        function jsClearCIDocuments() {
            $("#inCIDocuments").val('');
        }
    </script>

<script type="text/javascript">
    function jsRemoveCurrentCIDocumentsImage() {
        var imgCIDocumentImage = document.getElementById('imgCIDocumentImage');
        if (imgCIDocumentImage != null) {
            imgCIDocumentImage.parentNode.removeChild(imgCIDocumentImage);
            $("#strFullImagePath").val("");
        }
    }
</script>

@*Confirm Delete*@
<script type="text/javascript">

    function deleteItemConfirm(CIDocument) {
        $("#inCIDocumentRowID").val(CIDocument);
    }
</script>

@*Delete*@
<script type="text/javascript">

    function jsDeleteCIDocument() {
        var iCIDocumentRowID = $("#inCIDocumentRowID").val();
        var iCIDocumentID = $("#clsCIDocument_iCIDocumentID").val();

        var tblRowID = "tblRow" + iCIDocumentRowID;
        var strItemTitle = $("#" + tblRowID).find("td").eq(0).html();

        var selectedTable = $('#tblCIDocuments').DataTable();
        selectedTable.row('#' + tblRowID).remove().draw(false);

        $.ajax({
            url: '@Url.Action("DeleteSelectedCIDocument", "CIDocuments")',
            type: "POST",
            data: { "iCIDocumentID": iCIDocumentID, "strItemTitle": strItemTitle },
            success: function (data) {
                //Do nothing
            }
        });
    }
</script>

<script type="text/javascript">

    function jsSetbIsCIGuide() {

        if ($('#chkbIsCIGuide').is(':checked')) {
            $("#clsCIDocument_bIsCIGuide").val(true);
        }
        else {
            $("#clsCIDocument_bIsCIGuide").val(false);
        }
    }
</script>

<script type="text/javascript">
    window.onload = function () {

        if ($("#clsCIDocument_bIsCIGuide").val().toString().toLowerCase() == "true") {
            $("#chkbIsCIGuide").prop("checked", true);
        }
        else {
            $("#chkbIsCIGuide").prop("checked", false);
        }        
    }
    </script>
        }