﻿@model SoftservePortalNew.View_Models.CIDocuments.clsClientAllCIDocumentsView

@{
    ViewBag.Title = "All CI Documents";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @Model.clsClient.strCompanyName CI Documents
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title"> All @Model.clsClient.strCompanyName CI Documents</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic"> All @Model.clsClient.strCompanyName CI Documents Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                                <form class="form form-horizontal">
                                    <div class="form-body">
                                        <button type="button" class="btn btn-danger btn-round mr-1 mb-1" onclick="jsDownloadCIDocument('@Model.strFullCoperateIdentityPackPath')">Download All</button>
                                        <div class="form-group row">
                                            @if (Model.lstDocumentsList.Count > 0)
                                            {
                                                var count = 1;
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>File</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.lstDocumentsList)
                                                            {
                                                                <tr>
                                                                    <td class="table-cell-center" scope="row">@count</td>
                                                                    <td class="table-cell-center">@Path.GetFileName(@item)</td>
                                                                    <td class="table-cell-center">
                                                                    @*<button type="button" class="btn btn-danger btn-round mr-1 mb-1" onclick="jsViewCIDocument('@Model.clsCIDocument.strPathToDocuments', '@item')">View</button>*@
                                                                    <button type="button" class="btn btn-danger btn-round mr-1 mb-1" onclick="jsDownloadCIDocument('@item')">Download</button>
                                                                    </td>
                                                                </tr>
                                                                count++;
                                                            }
                                                            <tr>
                                                                <td class="table-cell-center" scope="row">@count</td>
                                                                <td class="table-cell-center">@Path.GetFileName(Model.strFullCoperateIdentityPackName)</td>
                                                                <td class="table-cell-center">
                                                                    @*<button type="button" class="btn btn-danger btn-round mr-1 mb-1" onclick="jsViewCIDocument('@Model.clsCIDocument.strPathToDocuments', '@item')">View</button>*@
                                                                    <button type="button" class="btn btn-danger btn-round mr-1 mb-1" onclick="jsDownloadCIDocument('@Model.strFullCoperateIdentityPackPath')">Download</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <a href="@Url.Action("ClientCIDocuments", "CIDocuments")" type="button" class="btn btn-warning mr-1">
                                            <i class="icon-arrow-circle-left"></i> Back
                                        </a>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="aDownloadCIDocument" href="#" download style="display:none;"></a>
        @*<a id="aViewCIDocument" href="#" target="_blank" style="display:none;"></a>*@
    </section>
    
    <!-- Modal -->
    <div class="modal fade text-left" id="CIDocumentView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18"
         aria-hidden="true">
        <div class="modal-dialog cidocument-modal-size" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel18">Event Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divDocumentView">
                        @*<iframe style="width:100%; height:100%;" id="ifDocumentView" src=""></iframe>*@
                        <div id="divDocumentViewer">
                            @*<object id="obDocumentView" type="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf">*@
                            <object id="obDocumentView" type="application/pdf">
                                <p>This browser does not support this Document View. Please download the Document to view it.</p>
                            </object>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts { 
    @*<script type="text/javascript">
        function jsViewCIDocument(strPathToDocs, strDocName) {

            var strDocumentExtension = strDocName.split('.').pop();
            var strDocumentSource = "../../" + strPathToDocs + "/" + strDocName;

            //if (strDocumentExtension == "pdf") {

            //    $('#divDocumentViewer').empty();

            //    var pdfObject = document.createElement("object");
            //    pdfObject.setAttribute("type", "application/pdf");
            //    pdfObject.setAttribute("data", strDocumentSource);
            //    pdfObject.classList.add("cidocument-modal-document-size");

            //    $('#divDocumentViewer').append(pdfObject);
            //} //Word, Excel and Powerpoint Docs
            //else if (strDocumentExtension == "doc" || strDocumentExtension == "docx"
            //        || strDocumentExtension == "xls" || strDocumentExtension == "xlsx"
            //        || strDocumentExtension == "ppt" || strDocumentExtension == "pptx") {

            //    $('#divDocumentViewer').empty();
            //}
            $('#obDocumentView').attr('data', strDocumentSource);
            $('#CIDocumentView').modal('show');
        }
        
    </script>*@

    

<script type="text/javascript">
        function jsDownloadCIDocument(strPathToDocument) {

            var strDocumentSource = "../../" + strPathToDocument;

            $('#aDownloadCIDocument').attr('href', strDocumentSource);

            var downloadLink = document.getElementById("aDownloadCIDocument");
            downloadLink.click();
        }

</script>
}
