﻿@model SoftservePortalNew.View_Models.CIDocuments.clsClientCIDocuments


@{
    ViewBag.Title = "Client CI Documents";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        CI Documents
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">CI Documents</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="content-types">
        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <h4 class="text-uppercase">Your Business CI Documents</h4>
                <p>View Below and Select your documents you would like to view and download.</p>
            </div>
        </div>

        @if (Model.clsClient.lstCIDocuments.Count > 0)
        {
            <div id="divClientCIDocuments">
                <div id="rmhDiv1" class="row match-height">
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        @*<div class="card" style="height: 577.094px;">*@
                        <div class="card">
                            <div class="card-content">
                                @if (Model.clsClient.strPathToImages != null && Model.clsClient.strPathToImages != "" && Model.clsClient.strMasterImage != null && Model.clsClient.strMasterImage != "")
                                {
                                    <img class="card-img-top img-fluid" style="width:550px; height:350px;" src="../../@Model.clsClient.strPathToImages/@Model.clsClient.strMasterImage" alt="@Model.clsClient.strCompanyName Image">
                                }
                                else
                                {
                                    <span><i style="font-size:18em" class="icon-document"></i></span>
                                }
                                <div class="card-body">
                                    <h4 class="card-title">All CI Documents</h4>
                                    <p class="card-text">Download All Your Coperate Identity Documents Here</p>
                                    <a href="@Url.Action("ClientAllCIDocumentsView", "CIDocuments", new { @id = Model.clsClient.iClientID })" class="btn btn-primary">
                                        Download Documents
                                    </a>

                                    @if (Model.strCIGuideDocumentPath != null && Model.strCIGuideDocumentPath != ""
                                        && Model.strCIGuideDocumentName != null && Model.strCIGuideDocumentName != "")
                                    {
                                        <a style="float:right;" href="#" class="btn btn-blue" onclick="jsViewCIDocument('@Model.strCIGuideDocumentPath', '@Model.strCIGuideDocumentName')">
                                                View Company Presentation
                                            </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="rmhDiv2" class="row match-height">

                </div>
                <div id="rmhDiv3" class="row match-height">

                </div>
            </div>
            @Html.HiddenFor(Model => Model.clsClient.lstCIDocuments, new { htmlAttributes = new { @id = "lstCIDocuments", @name = "lstCIDocuments" } })
        }
        else
        {
            <h3>No Documents To Display</h3>
        }

        <a id="aViewCIDocument" href="#" target="_blank" style="display:none;"></a>
    </section>

    <a id="aCompanyProfileCIDocument" href="#" target="_blank" style="display:none;"></a>
</div>

@section scripts {

    <script type="text/javascript">
        window.onload = function () {

            var lstClientCIDocuments = @Html.Raw(Json.Encode(Model.clsClient.lstCIDocuments));

            $.ajax({
                url: '@Url.Action("GetClientCIDocuments", "CIDocuments")',
                type: "POST",
                data: {
                    "lstClientCIDocuments": lstClientCIDocuments
                },
                success: function (data) {
                    // states is your JSON array
                    var count = 1;
                    var divItemsID = "rmhDiv1";

                    if (data.lstClientCIDocsPartialViews.length > 0) {
                        for (var i=0; i < data.lstClientCIDocsPartialViews.length; i++) {
                            if (count >= 3) {
                                divItemsID = "rmhDiv2";
                            }
                            if (count >= 6) {
                                divItemsID = "rmhDiv3";
                            }

                            $("#" + divItemsID).append(data.lstClientCIDocsPartialViews[i]);
                            count++;
                        }
                    }
                }
            });
        }
    </script>

<script type="text/javascript">
        function jsViewCompanyProfileCIDocument(strPathToDocs, strDocName) {

            var strDocumentSource = "../../" + strPathToDocs + "/" + strDocName;

            $('#aCompanyProfileCIDocument').attr('href', strDocumentSource);

            var viewLink = document.getElementById("aCompanyProfileCIDocument");
            viewLink.click();
        }
</script>

<script type="text/javascript">
        function jsViewCIDocument(strPathToDocs, strDocName) {

            var strDocumentSource = "../../" + strPathToDocs + "/" + strDocName;

            $('#aViewCIDocument').attr('href', strDocumentSource);

            var viewLink = document.getElementById("aViewCIDocument");
            viewLink.click();
        }
</script>
}