﻿@model SoftservePortalNew.View_Models.Accounts.clsCompleteProfile

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Softserve Digital Development, Software Development, Design, SEO, Website Development, Desktop Development, Mobile, Android, iOS">
    <meta name="keywords" content="Softserve Digital Development, Software Development, Design, SEO, Website Development, Desktop Development, Mobile, Android, iOS">
    <meta name="author" content="Softserve Digital Development">
    <title>Complete Profile | Softserve</title>

    <!-- Login CSS -->
    @Styles.Render("~/Content/themeaccountscss")
    <!-- Theme Modernizr -->
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="vertical-layout vertical-compact-menu 1-column menu-expanded bg-full-screen-image blank-page blank-page"
      data-open="click" data-menu="vertical-compact-menu" data-col="1-column">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 p-0">
                            <div class="card border-grey custom-box-shadow card-border-radius border-lighten-3 m-0 login-container-background">
                                <div class="card-header border-0 login-container-background">
                                    <div class="card-title text-center">
                                        <div class="p-1">
                                            <img class="login-image-style" src="../../Content/app-assets/images/logo/imgSDD-Logo.png" alt="Softserve Digital Development">
                                        </div>
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span class="card-subtitle-span-background">Complete Your Profile</span>
                                    </h6>
                                </div>
                                <div class="card-content">
                                    <div class="card-body pt-0">
                                        @using (Html.BeginForm(null, null, new { @id = "frmCompleteProfile", @name = "frmCompleteProfile" }))
                                        {
                                            <fieldset class="form-group position-relative has-icon-left">
                                               @Html.EditorFor(Model => Model.strCompanyName, new { htmlAttributes = new { @id = "strCompanyName", @placeholder = "Company Name", @class = "form-control login-input-style" } })
                                            @Html.ValidationMessageFor(model => model.strCompanyName, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="icon-head"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.EditorFor(Model => Model.strContactName, new { htmlAttributes = new { @id = "strContactName", @placeholder = "Contact Name", @class = "form-control login-input-style" } })
                                                @Html.ValidationMessageFor(model => model.strContactName, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="icon-head"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.EditorFor(Model => Model.strEmail, new { htmlAttributes = new { @id = "strEmail", @placeholder = "Contact Email", @class = "form-control login-input-style" } })
                                                @Html.ValidationMessageFor(model => model.strEmail, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="icon-email"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.EditorFor(Model => Model.strContactNumber, new { htmlAttributes = new { @id = "strContactNumber", @placeholder = "Contact Number", @class = "form-control login-input-style" } })
                                                @Html.ValidationMessageFor(model => model.strContactNumber, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="icon-phone"></i>
                                                </div>
                                            </fieldset>
                                            <button type="submit" class="btn btn-outline-info btn-block login-button-outline-style"><i class="ft-unlock"></i> Complete</button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div>
                                <img src="~/Content/images/accounts/login_bottom.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/themeaccountsscripts")
</body>
</html>
