﻿@model SoftservePortalNew.View_Models.Accounts.clsRegister

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Softserve Digital Development, Software Development, Design, SEO, Website Development, Desktop Development, Mobile, Android, iOS">
    <meta name="keywords" content="Softserve Digital Development, Software Development, Design, SEO, Website Development, Desktop Development, Mobile, Android, iOS">
    <meta name="author" content="Softserve Digital Development">
    <title>Register | Softserve</title>

    <!-- Login CSS -->
    @Styles.Render("~/Content/themeaccountscss")
    <!-- Theme Modernizr -->
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="vertical-layout vertical-compact-menu 1-column menu-expanded bg-full-screen-image blank-page blank-page"
      data-open="click" data-menu="vertical-compact-menu" data-col="1-column">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 p-0 account-area-height">
                            <div class="card border-grey custom-box-shadow card-border-radius border-lighten-3 m-0 login-container-background">
                                <div class="card-header border-0 login-container-background">
                                    <div class="card-title text-center">
                                        <div class="p-1">
                                            <img class="login-image-style" src="../../Content/app-assets/images/logo/imgSDD-Logo.png" alt="Softserve Digital Development">
                                        </div>
                                    </div>
                                    @*<h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span class="card-subtitle-span-background">Register</span>
                                    </h6>*@
                                </div>
                                <div class="card-content">
                                    @*<div class="card-body pt-0 text-center">
                                        <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook login-social-outline-style">
                                            <span class="icon-facebook"></span>
                                        </a>
                                        <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-google login-social-outline-style">
                                            <span class="icon-google-plus"></span>
                                        </a>
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2">
                                        <span>OR Using Account Details</span>
                                    </p>*@
                                    <div class="card-body pt-0">
                                        @using (Html.BeginForm(null, null, new { @id = "frmRegister", @name = "frmRegister" }))
                                        {
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.EditorFor(Model => Model.strUsername, new { htmlAttributes = new { @id = "strUsername", @placeholder = "Username", @class = "form-control login-input-style" } })
                                                @Html.ValidationMessageFor(model => model.strUsername, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="icon-head"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.EditorFor(Model => Model.strEmail, new { htmlAttributes = new { @id = "strEmail", @placeholder = "Email", @class = "form-control login-input-style" } })
                                                @Html.ValidationMessageFor(model => model.strEmail, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="icon-email"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.EditorFor(Model => Model.strNewPassword, new { htmlAttributes = new { @id = "strNewPassword", @placeholder = "Password", @class = "form-control login-input-style" } })
                                                @Html.ValidationMessageFor(model => model.strNewPassword, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="icon-key2"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.EditorFor(Model => Model.strConfirmPassword, new { htmlAttributes = new { @id = "strConfirmPassword", @placeholder = "Confirm Password", @class = "form-control login-input-style" } })
                                                @Html.ValidationMessageFor(model => model.strConfirmPassword, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="icon-key2"></i>
                                                </div>
                                            </fieldset>
                                            <button type="submit" class="btn btn-outline-info btn-block login-button-outline-style"><i class="ft-unlock"></i> Register</button>
                                        }
                                    </div>
                                    @*<p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                        <span>Take Me Back</span>
                                    </p>*@
                                    <div class="card-body">
                                        <a href="@Url.Action("Login", "Accounts")" class="btn btn-outline-danger btn-block login-button-outline-style"><i class="ft-user"></i> Login</a>
                                    </div>
                                </div>
                            </div>
                            <div class="account_background">
                                <div class="ssd_account_image"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/themeaccountsscripts")

    @*ANIMATION*@
    <script type="text/javascript">

        var myMenu = document.querySelector(".account_background");
        myMenu.addEventListener("transitionend", OnTransitionEnd, false);

        function OnTransitionEnd() {
            myMenu.classList.remove("account_background--animatable");
        }
    </script>

    <script type="text/javascript">
        window.onload = function () {
            //LOAD ANIMATION
            myMenu.classList.add("account_background--animatable");
            if (!myMenu.classList.contains("account_background--visible")) {
                myMenu.classList.add("account_background--visible");
            } else {
                myMenu.classList.remove('account_background--visible');
            }
        }
    </script>
</body>
</html>
