﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Softserve Digital Development, Software Development, Design, SEO, Website Development, Desktop Development, Mobile, Android, iOS">
    <meta name="keywords" content="Softserve Digital Development, Software Development, Design, SEO, Website Development, Desktop Development, Mobile, Android, iOS">
    <meta name="author" content="Softserve Digital Development">
    <title>User Approved | Softserve</title>

    <!-- Login CSS -->
    @Styles.Render("~/Content/themeaccountscss")
    <!-- Theme Modernizr -->
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="vertical-layout vertical-compact-menu 1-column menu-expanded bg-full-screen-image blank-page blank-page"
      data-open="click" data-menu="vertical-compact-menu" data-col="1-column">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 p-0">
                            <div class="card border-grey custom-box-shadow card-border-radius border-lighten-3 m-0 login-container-background">
                                <div class="card-header border-0 login-container-background">
                                    <div class="card-title text-center">
                                        <div class="p-1">
                                            <img class="login-image-style" src="../../Content/app-assets/images/logo/imgSDD-Logo.png" alt="Softserve Digital Development">
                                        </div>
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>User Approved</span>
                                    </h6>
                                </div>
                                <div class="card-content">
                                    <div class="card-body pt-0">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <img src="~/Content/images/accounts/login_bottom.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/themeaccountsscripts")
</body>
</html>
