﻿@model SoftservePortalNew.View_Models.Accounts.clsVerification

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Softserve Digital Development, Software Development, Design, SEO, Website Development, Desktop Development, Mobile, Android, iOS">
    <meta name="keywords" content="Softserve Digital Development, Software Development, Design, SEO, Website Development, Desktop Development, Mobile, Android, iOS">
    <meta name="author" content="Softserve Digital Development">
    <title>Verification | Softserve</title>

    <!-- Login CSS -->
    @Styles.Render("~/Content/themeaccountscss")
    <!-- Theme Modernizr -->
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="vertical-layout vertical-compact-menu 1-column menu-expanded bg-full-screen-image blank-page blank-page"
      data-open="click" data-menu="vertical-compact-menu" data-col="1-column">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 p-0">
                            <div class="card border-grey custom-box-shadow card-border-radius border-lighten-3 m-0 login-container-background">
                                <div class="card-header border-0 login-container-background">
                                    <div class="card-title text-center">
                                        <div class="p-1">
                                            <img class="login-image-style" src="../../Content/app-assets/images/logo/imgSDD-Logo.png" alt="Softserve Digital Development">
                                        </div>
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>Please Enter Your Verification Key Sent to You via Email</span>
                                    </h6>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2">
                                        <span>(Verification Key is Case Sensitive)</span>
                                    </p>
                                </div>
                                <div class="card-content">
                                    <div class="card-body pt-0">
                                       @using (Html.BeginForm(null, null, new { @id = "frmVerification", @name = "frmVerification" }))
                                       {
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @Html.EditorFor(Model => Model.strVerificationKey, new { htmlAttributes = new { @id = "strVerificationKey", @placeholder = "Verification Key", @class = "form-control login-input-style" } })
                                                @Html.ValidationMessageFor(model => model.strVerificationKey, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="icon-key2"></i>
                                                </div>
                                            </fieldset>
                                            <p class="text-center">
                                                @Html.ValidationMessage("verificationError", new { @class = "text-danger" })
                                                @Html.ValidationMessage("verificationSuccess", new { @class = "text-verified-ok" })
                                            </p>
                                           if (TempData["bIsVerified"] != null)
                                           {
                                               if ((bool)TempData["bIsVerified"] == true)
                                               {
                                                <button type="submit" class="btn btn-outline-info btn-block login-button-outline-style"><i class="icon-unlock2"></i> Login</button>
                                               }
                                               else
                                               {
                                                <button type="submit" class="btn btn-outline-info btn-block login-button-outline-style"><i class="icon-unlock2"></i> Verify</button>
                                               }
                                           }
                                           else
                                           {
                                            <button type="submit" class="btn btn-outline-info btn-block login-button-outline-style"><i class="icon-unlock2"></i> Verify</button>
                                           }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div>
                                <img src="~/Content/images/accounts/login_bottom.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/themeaccountsscripts")
</body>
</html>
