﻿/*SOFTSERVE ADDED STYLE ITEMS*/
html {
    height: 100%;
}
.account_background {
    height:14em;
}

.ssd_account_image {
    /*background: url('../../../Documents/LoginImages/IceCreamPatternBackground.svg');*/
    background: url('../../../Content/images/accounts/login_bottom.png') no-repeat;
    position: absolute;
    right: 0;
    background-size: 100%;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    will-change: transform;
    pointer-events: auto;
    z-index:-1;
}

.account_background--visible .ssd_account_image {
    -webkit-transform: none;
            transform: none;
}

.account_background--animatable .ssd_account_image {
    transition: all 3000ms ease-in;
}

.account_background--visible.account_background--animatable  .ssd_account_image {
    transition: all 3000ms ease-out;
}

.login_box_style {
    font-family: 'Folks';
    font-size: 18px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(0, 0, 0, 0.1);
}


.center_div {
    
    text-align: center;
}
.body-sign {
   position: relative;
}

.redirect_style_anchor {
    font-family: 'Moon';
    font-size: 18px;
    cursor: pointer;
    color: white;
    font-weight: 400;
}

.login_logo_image {
    margin-bottom: 20px;
    width: 30%;
}

.textbox_font_size {
   font-size: 1.8rem !important;
}

