﻿/*

NOTE:
------
ADD CUSTOM STYLES

}*/

html body.bg-full-screen-image {
    background: url('../../images/login_background.png') no-repeat center center fixed;
    background-color: #E5FE30;
    background-size: cover;
}

.login-image-style {
    width:40%;
    /*margin: 4% 0;*/
}

.login-container-background {
    background-color: #4d78b8;
}

.card-subtitle-span-background {
     background-color: #4d78b8;
}

.border-grey.border-lighten-3 {
    border: none !important;
}

.line-on-side span {
   /*background: #3485FE;*/
   background: #4d78b8;
}

.text-xs-center {
    color: #ffffff !important;
}
form .form-control {
     border: 2px solid #ffffff;
}

.login-input-style {
    color: #ffffff;
}

.login-button-outline-style {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}

.login-social-outline-style {
    border: 1px solid #fff !important;
    color: #fff;
}

.login-bottom-style {
    background: url('../../images/login_bottom.png');
    /*height:208px;*/
    width:100%;
}
   
