/*================================================================================
	Item Name: Robust - Responsive Admin Theme
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Moon' !important;
}

body {
    font-family:'Folks' !important;
}*/

.vertical-compact-menu .main-menu .navigation > li > a > i {
    font-size: 2rem;
}

.header-navbar.navbar-darkblue {
    background: #4472b8;
}

    .header-navbar.navbar-darkblue.navbar-horizontal {
        background: #4472b8;
    }

    .header-navbar.navbar-darkblue .nav-search .form-control,
    .header-navbar.navbar-darkblue .nav-search .btn-secondary {
        color: #FFFFFF;
        background: #4472b8;
    }

    .header-navbar.navbar-darkblue .navbar-nav li {
        line-height: 1;
    }

    .header-navbar.navbar-darkblue .navbar-nav .active.nav-link {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .header-navbar.navbar-darkblue .navbar-nav .disabled.nav-link {
        color: #eceeef;
    }

    .header-navbar.navbar-darkblue .hamburger-inner,
    .header-navbar.navbar-darkblue .hamburger-inner::before,
    .header-navbar.navbar-darkblue .hamburger-inner::after, .header-navbar.navbar-semi-dark .hamburger-inner,
    .header-navbar.navbar-semi-dark .hamburger-inner::before,
    .header-navbar.navbar-semi-dark .hamburger-inner::after {
        background-color: #FFFFFF;
    }

    .header-navbar.navbar-darkblue .navbar-header .navbar-nav .nav-link, .header-navbar.navbar-semi-dark .navbar-header .navbar-nav .nav-link {
        color: #FFFFFF;
    }

    .header-navbar.navbar-darkblue .navbar-container .navbar-nav .nav-link, .header-navbar.navbar-semi-dark .navbar-container .navbar-nav .nav-link {
        color: #FFFFFF;
    }

/*
    COLOURS
*/

.colour-turquoise {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.colour-sunflower {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.colour-greensea {
    background-color: #16a085;
    border-color: #16a085;
}

.colour-orange {
    background-color: #f39c12;
    border-color: #f39c12;
}

.colour-emerald {
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.colour-nephritis {
    background-color: #27ae60;
    border-color: #27ae60;
}

.colour-carrot {
    background-color: #e67e22;
    border-color: #e67e22;
}

.colour-pumpkin {
    background-color: #d35400;
    border-color: #d35400;
}

.colour-peterriver {
    background-color: #3498db;
    border-color: #3498db;
}

.colour-belizehole {
    background-color: #2980b9;
    border-color: #2980b9;
}

.colour-alzarin {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.colour-pomegranate {
    background-color: #c0392b;
    border-color: #c0392b;
}

.colour-amethyst {
    background-color: #9b59b6;
    border-color: #9b59b6;
}

.colour-wisteria {
    background-color: #8e44ad;
    border-color: #8e44ad;
}

.colour-clouds {
    background-color: #ecf0f1;
    border-color: #ecf0f1;
}

.colour-belizehole {
    background-color: #2980b9;
    border-color: #2980b9;
}

.colour-silver {
    background-color: #bdc3c7;
    border-color: #bdc3c7;
}

.colour-wetasphalt {
    background-color: #34495e;
    border-color: #34495e;
}

.colour-midnightblue {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.colour-concrete {
    background-color: #95a5a6;
    border-color: #95a5a6;
}

.colour-asbestos {
    background-color: #7f8c8d;
    border-color: #7f8c8d;
}

.colour-unmellowyellow {
    background-color: #fffa65;
    border-color: #fffa65;
}

/*
    More Cool COLOURS
    baby blue           #4fc3f7
    green that matches  #37bc9b
    pink                #f06292
    mustard             #f6bb42

*/

.colour-pallete-blue {
    background-color: #15B3FF;
    border-color: #15B3FF;
}

.colour-pallete-green {
    background-color: #13E869;
    border-color: #13E869;
}

.colour-pallete-lime {
    background-color: #B5FF22;
    border-color: #B5FF22;
}

.colour-pallete-light-orange {
    background-color: #E8B513;
    border-color: #E8B513;
}

.colour-pallete-darker-orange {
    background-color: #FF7A31;
    border-color: #FF7A31;
}

/*
    Patterns and colours

*/

.pattern-rotatedsquares-with-purple {
    background: #397AFA url('../svg/Pattern(rotated squares)2.svg') repeat;
}

.pattern-triangle-with {
    background: #ecf0f1 url('../svg/Pattern(triangle)2.svg') repeat;
}

.pattern-lines-with-orange {
    background: #FF7A31 url('../svg/Pattern(lines)2.svg') repeat;
}

.pattern-cross-with-blue {
    background: top left #15B3FF url('../svg/Pattern(cross)2.svg') repeat;
}

.pattern-dots-with-green {
    background: #13E869 url('../svg/Pattern(dots)2.svg') repeat;
}

/*
    Colours and Button COLOUR OVERRIDING
    
    Colours that were changed:
    1.  397AFA  -->     967ADC
    2.  1A71DC  -->     7652D1
    3.  704ACF  -->     2E53CA
    4.  6035CA  -->     2249CA
    5.  502DAA  -->     2443AA

    #7A54D8
*/
.btn-primary {
    color: #fff;
    background-color: #397AFA;
    border-color: #397AFA;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #1A71DC;
        border-color: #2E53CA;
    }

    .btn-primary:focus, .btn-primary.focus {
        color: #fff;
        background-color: #1A71DC;
        border-color: #2E53CA;
    }

    .btn-primary:active, .btn-primary.active,
    .open > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #1A71DC;
        border-color: #2E53CA;
        background-image: none;
    }

        .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
        .open > .btn-primary.dropdown-toggle:hover,
        .open > .btn-primary.dropdown-toggle:focus,
        .open > .btn-primary.dropdown-toggle.focus {
            color: #fff;
            background-color: #2249CA;
            border-color: #2443AA;
        }

    .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled.focus {
        background-color: #397AFA;
        border-color: #397AFA;
    }

    .btn-primary.disabled:hover, .btn-primary:disabled:hover {
        background-color: #397AFA;
        border-color: #397AFA;
    }

.btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border-color: #818a91;
}

    .btn-secondary:hover {
        color: #373a3c;
        background-color: #e6e6e6;
        border-color: #636b72;
    }

    .btn-secondary:focus, .btn-secondary.focus {
        color: #373a3c;
        background-color: #e6e6e6;
        border-color: #636b72;
    }

    .btn-secondary:active, .btn-secondary.active,
    .open > .btn-secondary.dropdown-toggle {
        color: #373a3c;
        background-color: #e6e6e6;
        border-color: #636b72;
        background-image: none;
    }

        .btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus, .btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus,
        .open > .btn-secondary.dropdown-toggle:hover,
        .open > .btn-secondary.dropdown-toggle:focus,
        .open > .btn-secondary.dropdown-toggle.focus {
            color: #373a3c;
            background-color: #d4d4d4;
            border-color: #444a4e;
        }

    .btn-secondary.disabled:focus, .btn-secondary.disabled.focus, .btn-secondary:disabled:focus, .btn-secondary:disabled.focus {
        background-color: #fff;
        border-color: #818a91;
    }

    .btn-secondary.disabled:hover, .btn-secondary:disabled:hover {
        background-color: #fff;
        border-color: #818a91;
    }

.mega-dropdown-menu-z-index {
    z-index: 0 !important;
}

.navbar-header-z-index {
    z-index: 1;
}

li .navbar-col-3-spacing {
    padding-top: 4%;
}

@media (max-width : 1400px) {
    li .navbar-col-3-spacing {
        padding-top: 5%;
    }
}

@media (max-width : 1200px) {
    li .navbar-col-3-spacing {
        padding-top: 6%;
    }
}

@media (max-width : 1000px) {
    li .navbar-col-3-spacing {
        padding-top: 7%;
    }
}

/*

NOTE:
------
ADD CUSTOM STYLES FOR LOGIN

}*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Moon;
    font-weight: 500;
}

html body.bg-full-screen-image {
    background: url('../../images/accounts/login_background.png') no-repeat center center fixed;
    background-color: #E5FE30;
    background-size: cover;
}

.login-image-style {
    width:40%;
}

.login-container-background {
    /*background-color: #4d78b8;*/
     background-color: #507cbe;
}

.border-grey.border-lighten-3 {
    border: 1px solid #507cbe !important;
}

.card-subtitle span {
     background-color: #507cbe;
     color: white;
}

.login-social-outline-style {
    border: 1px solid #fff !important;
    color: #fff;
}

form .login-input-style  {
    background: #507cbe;
    border:2px solid #fff;
    color: #ffffff;
}
form .login-input-style::placeholder  {
    color: #eeeeee;
    opacity: 0.6;
}
form .login-input-style::-webkit-input-placeholder  {
    color: #eeeeee;
    opacity: 0.6;
}
form .login-input-style:-moz-placeholder  {
    color: #eeeeee;
    opacity: 0.6;
}
form .login-input-style::-moz-placeholder  {
    color: #eeeeee;
    opacity: 0.6;
}
form .login-input-style:-ms-input-placeholder {
    color: #eeeeee;
    opacity: 0.6;
}
form .login-input-style::-ms-input-placeholder  {
    color: #eeeeee;
    opacity: 0.6;
}

.login-text-colour {
    color: #ffffff !important;
}

.login-button-outline-style {
     border-color: #fff; 
    background-color: transparent;
    color: #fff;
}

.login-text-error {
    color: #ffffff !important;
}

.custom-box-shadow {
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 12px 15px 0px, rgba(0, 0, 0, 0.19) 0px 17px 50px 0px;*/
       box-shadow: none;
}

.card-border-radius {
    border-radius: 0;
}

form .login-input-style:focus ~ div i {
    color: #111111;
}

form .login-input-style:-webkit-autofill ~ div i, textarea:-webkit-autofill ~ div i, select:-webkit-autofill ~ div i {
    background-color: rgb(250, 255, 189) !important;
    background-image: none !important;
    color: #111111 !important;
}

form .login-input-style:focus::placeholder  {
    color: #111111;
    opacity: 0.6;
}
form .login-input-style:focus::-webkit-input-placeholder  {
    color: #111111;
    opacity: 0.6;
}
form .login-input-style:focus:-moz-placeholder  {
    color: #111111;
    opacity: 0.6;
}
form .login-input-style:focus::-moz-placeholder  {
    color: #111111;
    opacity: 0.6;
}
form .login-input-style:focus:-ms-input-placeholder {
    color: #111111;
    opacity: 0.6;
}
form .login-input-style:focus::-ms-input-placeholder  {
    color: #111111;
    opacity: 0.6;
}


.login-bottom-style {
    background: url('../../images/accounts/login_bottom.png');
    /*height:208px;*/
    width:100%;
}

.text-verified-ok {
    color: lawngreen;
}

.event-type-info {
    border-color: #0f3229;
    background-color: #ffffff;
    color: #0f3229;
}

/*.card-height-600 {
    height: 600px;
}*/

.textarea-resize-disable {
    resize:none;
}

.event-listing-size-set {
    height:100%;
}

.event-listing-inner-size-set {
    overflow-y: auto;
    height: 250px;
}

.table-cell-center {
    vertical-align: middle !important;
}

.table-action-cell-center {
    vertical-align: middle !important;
    text-align: center !important;
}

.blog-image-size {
    width:200px;
    height:200px;
}

.blog-video-size {
     width:200px;
    height:200px;
}

.crop-image-size-300 {
    width:300px;
}

.crop-image-size-200 {
    width:200px;
}

.image-size {
     width:300px;
    height:300px;
}

.image-size-200 {
    width:200px;
    height:200px;
}

.image-size-300 {
    width:300px;
    height:300px;
}

.sce-facebook {
    color: #3b5998 !important;
}
.sce-border-facebook {
    border: 1px solid #3b5998 !important;
}

.sce-googleplus {
    color: #d34836 !important;
}
.sce-border-googleplus {
    border: 1px solid #d34836 !important;
}

.sce-instagram {
    color: #fb3958 !important;
}
.sce-border-instagram {
    border: 1px solid #fb3958 !important;
}

.sce-twitter {
   color: #00aced  !important;
}
.sce-border-twitter {
    border: 1px solid #00aced !important;
}

.checkbox-input-size-1 {
    margin-top:5px;
    width: 1.5em;
    height: 1.5em;
}

.avatar-selection {
    width:40px;
}

.avatar-selection:hover {
    border-color: #967ADC !important;
    background-color: transparent;
    box-shadow: 0px 1px 20px 1px rgba(59, 175, 218, 0.6);
    border-radius: 0.21rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1.5px solid transparent;
}

.avatar-select {
    border-color: #967ADC !important;
    background-color: transparent;
    box-shadow: 0px 1px 20px 1px rgba(59, 175, 218, 0.6);
    border-radius: 0.21rem;
    border: 1.5px solid transparent;
}

.cidocument-modal-size {
    max-width: 70%;
}

.cidocument-modal-document-size {
    width:100%; 
    height: 48em;
}

.line-on-side {
    margin: 10px 0 10px;
}

.account-area-height {
    height: 50em;
}

