﻿@{
    ViewBag.Title = "About";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        About
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Domain Management</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <p>Use this area to provide additional information.</p>
</div>


