﻿@{
    ViewBag.Title = "Home";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        Home
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title"> Tasty Solutions</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <!-- Background variants section start -->
    <section id="bg-variants">
        <div class="row">
            <div class="col-md-12 mt-3 mb-1">
                <h4>Not every challenge has a one size fits all solution</h4>
                <p>
                    However, many of challenges have simple solutions. Here are some of
                    the challenges we help our clients with every day.
                </p>
            </div>
        </div>
        <div class="row match-height">
            <div class="col-md-6 col-sm-12">
                <div class="card text-white bg-primary text-center">
                    <div class="card-content">
                        <div class="card-body pt-3">
                            <img src="../Content/app-assets/images/elements/01.png" alt="element 01" width="190"
                                 class="float-xs-left">
                            <h4 class="card-title mt-3">Lookin' Good or could look better?</h4>
                            <p class="card-text">Want your business to look better than your competition?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card text-white bg-success text-center">
                    <div class="card-content">
                        <div class="card-body">
                            <img src="../Content/app-assets/images/elements/06.png" alt="element 02" width="225"
                                 class="mb-1">
                            <h3 class="card-title">Is your brand beautiful?</h3>
                            <p class="card-text">Does it need a refresh?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card text-white bg-danger text-center">
                    <div class="card-content">
                        <div class="card-body pt-3">
                            <img src="../Content/app-assets/images/elements/14.png" alt="element 03" width="170"
                                 class="float-xs-right">
                            <h4 class="card-title mt-3">Brand Minute</h4>
                            <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                            <button class="btn btn-danger btn-darken-3">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card text-white bg-info text-center">
                    <div class="card-content">
                        <img src="../Content/app-assets/images/elements/07.png" alt="element 04" width="210"
                             class="float-xs-left mt-3">
                        <div class="card-body pt-3">
                            <h4 class="card-title mt-3">New Arriaval</h4>
                            <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                            <button class="btn btn-info btn-darken-3">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card text-white bg-warning text-center">
                    <div class="card-content">
                        <div class="card-body">
                            <img src="../Content/app-assets/images/elements/04.png" alt="element 05" width="250"
                                 class="mb-1">
                            <h4 class="card-title">Storage Device</h4>
                            <p class="card-text">945 items</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="card text-white bg-blue text-center">
                    <div class="card-content">
                        <div class="card-body pt-3">
                            <img src="../Content/app-assets/images/elements/11.png" alt="element 06" width="190"
                                 class="float-xs-right">
                            <h4 class="card-title mt-3">New Arriaval</h4>
                            <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                            <button class="btn btn-indigo btn-darken-3 white">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Background variants section end -->
</div>