﻿
@{
    ViewBag.Title = "ChangeLogAndUpdates";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Change Log
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Change Log</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <div class="card">
        <div class="card-header">
            <h4 id="v10" class="card-title">Version 2.0</h4>
            <p>Date: [2018-03-24]</p>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-content" aria-expanded="true">
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li>Added: Simple Line Icons</li>
                        <li>Added: Chat application page</li>
                        <li>Added: Email application page</li>
                        <li>Added: Checkout Page</li>
                        <li>Added: Pricing Page</li>
                        <li>Added: New cards & widgets</li>
                        <li>Added: New components</li>
                        <li>Added: Square and Round buttons in components</li>
                        <li>Added: popper js</li>
                        <li>Added: Dynamic assets and app-assets path for pug</li>
                        <li>Added: Customizer for checking various option in demo</li>
                        <li>Updated: Updated to Bootstrap 4 stable</li>
                        <li>Updated: Converted all Jade files to Pug</li>
                        <li>Updated: Updated Grunt and Gulp packages</li>
                        <li>Updated: jQuery to latest version</li>
                        <li>Updated: Bootstrap js</li>
                        <li>Updated: chartJS</li>
                        <li>Updated: chartist</li>
                        <li>Updated: DataTables</li>
                        <li>Updated: Sweet alert plugin</li>
                        <li>Updated: Ratings plugin</li>
                        <li>Updated: Noui slider</li>
                        <li>Updated: Dropzone file uploader</li>
                        <li>Updated: Image cropper</li>
                        <li>Updated: Documentation</li>
                        <li>Updated: jquery.twbspagination js</li>
                        <li>Updated: imagesloaded.pkgd js</li>
                        <li>Updated: video js & css</li>
                        <li>Updated: bootstrap-maxlength</li>
                        <li>Updated: jquery.repeater js</li>
                        <li>Updated: Select2 js</li>
                        <li>Updated: jquery validation js</li>
                        <li>Updated: masonry.pkgd js</li>
                        <li>Updated: photo-swipe</li>
                        <li>Updated: daterangepicker js</li>
                        <li>Updated: bootstrap-datetimepicker js & css</li>
                        <li>Updated: moment-with-locales js</li>
                        <li>Updated: animate css</li>
                        <li>Updated: Improved menu collapse/expand animation</li>
                        <li>Updated: Updated Documentation</li>
                        <li>Updated: Changed font face from system fonts to Muli & Open Sans</li>
                        <li>Updated: Updated spacing & Styling</li>
                        <li>Fixed: Horizontal timeline</li>
                        <li>Fixed: Top spacing on small screen for horizontal layouts.</li>
                        <li>Fixed: Starter kit error on console on click of reload button.</li>
                        <li>Fixed: Center align footer on horizontal center layout.</li>
                        <li>
                            Fixed: Align properly send button on mega menu contact form for
                            RTL.
                        </li>
                        <li>Fixed: In RTL, Collapse menu icon alignment fixed</li>
                        <li>Fixed: Color variable changes from assets scss file was not affecting</li>
                        <li>Removed: Ionicons</li>
                        <li>Removed: FPS Line Icons</li>
                        <li>Removed: Ico Moon</li>
                        <li>Removed: Evil Icons</li>
                        <li>Removed: Linecons</li>
                        <li>Removed: tether js</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


