﻿@model SoftservePortalNew.View_Models.BlogPosts.clsBlogPostAdd

@{
    ViewBag.Title = "BlogPostAdd";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Add Blog Post
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Add Blog Post</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts basic-selectize">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Blog Post Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                            @using (Html.BeginForm("BlogPostAdd", "BlogPosts", FormMethod.Post, new { @id = "frmBlogPostAdd", @name = "frmBlogPostAdd", @class = "form form-horizontal", @enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Blog Post Info</h4>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strTitle">Blog Title</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsBlogPost.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Blog Title", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsBlogPost.strTitle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strTagLine">Tag Line</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsBlogPost.strTagLine, new { htmlAttributes = new { @id = "strTagLine", @placeholder = "Tag Line", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsBlogPost.strTagLine, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strDescription">Blog Description</label>
                                        <div class="col-md-9">
                                            @Html.TextAreaFor(Model => Model.clsBlogPost.strDescription, new { @id = "strDescription", @placeholder = "Blog Description", @class = "form-control", @rows = "5" })
                                            @Html.ValidationMessageFor(model => model.clsBlogPost.strDescription, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strReleaseDate">Release Date</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <span class="fa fa-calendar-o"></span>
                                                    </span>
                                                </div>
                                                @Html.EditorFor(Model => Model.strReleaseDate, new { htmlAttributes = new { @id = "strReleaseDate", @placeholder = "Select Release Date", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.strReleaseDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="lstBlogTypes">Blog Type</label>
                                        <div class="col-md-9">
                                            @if (Model.lstBlogTypes.Count > 0)
                                            {
                                                @Html.DropDownListFor(Model => Model.clsBlogPost.iBlogTypeID, new SelectList(Model.lstBlogTypes, "iBlogTypeID", "strTitle"), "-- Select Blog Type --", new { @id = "lstBlogTypes", @name = "lstBlogTypes", @class = "select2 hide-search form-control block", @onchange = "jsSelectedBlogType()" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.clsBlogPost.iBlogTypeID, "", new { @class = "text-danger" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(Model => Model.clsBlogPost.iBlogTypeID, new SelectList(Model.lstBlogTypes, "iBlogTypeID", "strTitle"), "-- No Blog Types Available --", new { @id = "lstBlogTypes", @name = "lstBlogTypes", @class = "select2 hide-search form-control block" })
                                                <br />
                                                @Html.ValidationMessageFor(model => model.clsBlogPost.iBlogTypeID, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                    <div id="divBlogImage" style="display:none;">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Blog Image</label>
                                            <div class="col-md-6">
                                                <input type="file" class="form-control" value="Upload" accept="image/*" id="inBlogImage" name="inBlogImage" />
                                            </div>
                                            <div class="col-md-3">
                                                <a class="btn btn-primary" onclick="jsClearBlogImage()">
                                                    Remove
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divBlogAudio" style="display:none;">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Blog Audio</label>
                                            <div class="col-md-6">
                                                <input type="file" class="form-control" value="Upload" accept="audio/*" id="inBlogAudio" name="inBlogAudio" />
                                            </div>
                                            <div class="col-md-3">
                                                <a class="btn btn-primary" onclick="jsClearBlogAudio()">
                                                    Remove
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control"></label>
                                            <div class="col-md-9">
                                                <p>Adding a Audio Link URL will be used instead of a Blog Audio and will overwite the Blog Audio Upload</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strAudioURLLink">Audio Link URL</label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(Model => Model.clsBlogPost.strAudioURLLink, new { htmlAttributes = new { @id = "strAudioURLLink", @placeholder = "Audio Link URL", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.clsBlogPost.strAudioURLLink, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divBlogVideo" style="display:none;">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Blog Video</label>
                                            <div class="col-md-6">
                                                <input type="file" class="form-control" value="Upload" accept="video/*" id="inBlogVideo" name="inBlogVideo" />
                                            </div>
                                            <div class="col-md-3">
                                                <a class="btn btn-primary" onclick="jsClearBlogVideo()">
                                                    Remove
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control"></label>
                                            <div class="col-md-9">
                                                <p>Adding a Video Link URL will be used instead of a Blog Video and will overwite the Blog Video Upload</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="strVideoURLLink">Video Link URL</label>
                                            <div class="col-md-9">
                                                @Html.EditorFor(Model => Model.clsBlogPost.strVideoURLLink, new { htmlAttributes = new { @id = "strVideoURLLink", @placeholder = "Video Link URL", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.clsBlogPost.strVideoURLLink, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control">Blog Tags</label>
                                        <div class="col-md-9">
                                            <p>
                                                Add tags seperated by a comma
                                            </p>
                                            <select id="lstBlogTags" multiple onchange="jsGetSelectedTags()">
                                                @if (Model.lstBlogTags.Count > 0)
                                                {
                                                    <option value="">Add Blog Tags</option>
                                                    foreach (var BlogTag in Model.lstBlogTags)
                                                    {
                                                        <option value="@BlogTag.iBlogTagID">@BlogTag.strTitle</option>
                                                    }
                                                }
                                            </select>
                                            @Html.HiddenFor(Model => Model.clsBlogPost.strTags)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="chkbDisplayBlog">Display Blog</label>
                                        <div class="col-md-9">
                                            <fieldset>
                                                <input type="checkbox" id="chkbDisplayBlog" onclick="jsSetbDisplay()">
                                            </fieldset>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(Model => Model.clsBlogPost.bDisplay)
                                </div>
                                <div class="form-actions right">
                                    <a href="@Url.Action("BlogPosts", "BlogPosts")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="icon-plus"></i> Add
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section scripts {
    @*@Scripts.Render("~/bundles/checkscripts")*@
    @Scripts.Render("~/bundles/datetimescripts")
    @*@Scripts.Render("~/bundles/selectscripts")*@
    @Scripts.Render("~/bundles/selectizescripts")

@*Format*@
<script type="text/javascript">

    // Format options
    $('#strReleaseDate').pickadate({
		// Escape any 'rule' characters with an exclamation mark (!).
        format: 'dd mmmm yyyy',
		formatSubmit: 'mm/dd/yyyy',
		hiddenPrefix: 'prefix__',
		hiddenSuffix: '__suffix'
    });

    // Plugin with remove button
    $('#lstBlogTags').selectize({
        plugins: ['remove_button'],
        persist: false,
        create: true,
    });

</script>

    
<script type="text/javascript">
    function jsSelectedBlogType() {
        var strSelectedBlogType = $("#lstBlogTypes option:selected").text();
        if (strSelectedBlogType.toString().toLowerCase() == "text") {
            $("#divBlogAudio").hide();
            $("#divBlogVideo").hide();

            $("#strAudioURLLink").val('');
            $("#strVideoURLLink").val('');

            jsClearBlogAudio();
            jsClearBlogVideo();

            $("#divBlogImage").show();
        }
        else if (strSelectedBlogType.toString().toLowerCase() == "audio") {
            $("#divBlogImage").hide();
            $("#divBlogVideo").hide();

            $("#strVideoURLLink").val('');

            jsClearBlogImage();
            jsClearBlogVideo();

            $("#divBlogAudio").show();
        }
        else if (strSelectedBlogType.toString().toLowerCase() == "video") {
            $("#divBlogImage").hide();
            $("#divBlogAudio").hide();

            $("#strAudioURLLink").val('');

            jsClearBlogImage();
            jsClearBlogAudio();

            $("#divBlogVideo").show();
        }
        else {
            $("#divBlogImage").hide();
            $("#divBlogAudio").hide();
            $("#divBlogVideo").hide();

            $("#strAudioURLLink").val('');
            $("#strVideoURLLink").val('');

            jsClearBlogImage();
            jsClearBlogAudio();
            jsClearBlogVideo();
        }
    }
</script>

<script type="text/javascript">

    function jsSetbDisplay() {

        if ($('#chkbDisplayBlog').is(':checked')) {
            $("#clsBlogPost_bDisplay").val(true);
        }
        else {
            $("#clsBlogPost_bDisplay").val(false);
        }
    }
</script>
<script type="text/javascript">

    function jsGetSelectedTags() {

        var aSelectedItems = [];
        $('#lstBlogTags :selected').each(function (i, selected) {
            aSelectedItems[i] = $(selected).text();
        });

        $("#clsBlogPost_strTags").val(aSelectedItems.toString());
    }
</script>

<script type="text/javascript">
        function jsClearBlogImage() {
            $("#inBlogImage").val('');
        }
</script>

<script type="text/javascript">
        function jsClearBlogVideo() {
            $("#inBlogVideo").val('');
        }
</script>
<script type="text/javascript">
        function jsClearBlogAudio() {
            $("#inBlogAudio").val('');
        }
</script>
    
}