﻿@model SoftservePortalNew.View_Models.SocialCalendar.clsClientSocialCalendar

@{
    ViewBag.Title = "Client Social Calendar";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Client Social Calendar
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">@Model.strClientCompanyName Social Calendar</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <!-- Full calendar advance example section start -->
    <section id="advance-examples">
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4">
                                <h2 class="card-title">@Model.strClientCompanyName Social Calendar</h2>
                            </div>
                            <div class="col-4">
                                <div class="form-group mb-3">
                                    <h5 class="text-center">Select Client</h5>
                                    @if (Model.lstClients.Count > 0)
                                    {
                                        @Html.DropDownListFor(Model => Model.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- Select A Client --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block", @onchange = "jsGetClientSocialCalendar()" })  <br />
                                        @Html.ValidationMessageFor(model => model.iClientID, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(Model => Model.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- No Clients Available --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                        <br />
                                        @Html.ValidationMessageFor(model => model.iClientID, "", new { @class = "text-danger" })
                                    }
                                </div>
                            </div>
                            <div class="col-4"></div>
                        </div>
                       <div>
                           <p class="card-text">
                               Add an event to the Social Calendar.
                           </p>
                       </div>
                    </div>

                    <div class="card-content collapse show">
                        <div class="card-body">
                            
                            <div id='fc-softservesocial'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- // Full calendar advance example section end -->
    <!-- Add Social Calendar Event Modal -->
    <!-- Button trigger modal -->
    <button id="btnSocialCalendarEventAdd" type="button" class="btn btn-outline-primary block btn-lg" style="display:none;" data-toggle="modal"
            data-target="#SocialCalendarEventAdd">
        Add Event
    </button>
    <!-- Modal -->
    <div class="modal fade text-left" id="SocialCalendarEventAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel34">Add Event</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="#">
                    <div class="modal-body">
                        <label>Event Title: </label>
                        <div class="form-group">
                            <input id="inEventTitle" type="text" placeholder="Event Title" class="form-control">
                        </div>
                        <label>Event Type: </label>
                        <div class="form-group">
                            <select class="select2 hide-search form-control block" id="selEventType" style="width: 100%">
                                <option value="">-- Select Event Type --</option>
                                @if (Model.lstSocialCalendarEventsTypes.Count > 0)
                                {
                                    foreach (var SocialCalendarEvent in Model.lstSocialCalendarEventsTypes)
                                    {
                                        <option value="@SocialCalendarEvent.iSocialCalendarEventsTypeID">@SocialCalendarEvent.strTitle</option>
                                    }
                                }
                                else
                                {
                                    <option value="">-- No Social Calendar Events Available --</option>
                                }
                            </select>

                        </div>
                        <label>Event Description: </label>
                        <div class="form-group">
                            <textarea id="inEventDescription" type="text" placeholder="Event Description" rows="4" class="form-control textarea-resize-disable"></textarea>
                        </div>
                        <label>Event Keywords: </label>
                        <div class="form-group">
                            <textarea id="inEventKeywords" type="text" placeholder="Event Keywords" rows="4" class="form-control textarea-resize-disable"></textarea>
                        </div>
                        <label>Event Link: </label>
                        <div class="form-group">
                            <input id="inEventLinks" type="text" placeholder="Event Link" class="form-control">
                        </div>
                        <label>Repeat Event: </label>
                        <div class="form-group">
                            <select class="select2 hide-search form-control block" id="selRepeatEventType" style="width: 100%">
                                <option value="">-- Select Repeat Event Type --</option>
                                @*<option value="Daily">Daily</option>*@
                                <option value="Weekly">Weekly</option>
                                @*<option value="Biweekly">Biweekly</option>*@
                                <option value="Monthly">Monthly</option>
                            </select>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="inCloseModal" type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal"
                               value="close">
                        <input id="inAddEvent" class="btn btn-outline-primary btn-lg" value="Add" data-dismiss="modal">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Social Calendar Event Info Modal -->
    <!-- Button trigger modal -->
    <button id="btnSocialCalendarEventInfo" type="button" class="btn btn-outline-success block btn-lg" style="display:none;" data-toggle="modal"
            data-target="#SocialCalendarEventInfo">
        Launch Modal
    </button>
    <!-- Modal -->
    <div class="modal fade text-left" id="SocialCalendarEventInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel18">Event Information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Event Title</h5>
                    <div class="form-group">
                        <input id="inEventInfoTitle" type="text" class="form-control" readonly="readonly">
                    </div>
                    <h5>Event Type</h5>
                    <div id="divEventTypeInfo" class="alert event-type-info">

                    </div>
                    <h5>Event Description</h5>
                    <div class="form-group">
                        <textarea id="inEventInfoDescription" type="text" placeholder="** NONE **" class="form-control textarea-resize-disable" rows="4" readonly="readonly"></textarea>
                    </div>
                    <h5>Event Keywords</h5>
                    <div class="form-group">
                        <textarea id="inEventInfoKeywords" type="text" placeholder="** NONE **" class="form-control textarea-resize-disable" rows="4" readonly="readonly"></textarea>
                    </div>
                    <h5>Event Link</h5>
                    <div class="form-group">
                        <input id="inEventInfoLinks" type="text" placeholder="** NONE **" class="form-control" readonly="readonly">
                    </div>
                    <h5>Repeat Event</h5>
                    <div class="form-group">
                        <input id="inRepeatEventInfoLinks" type="text" placeholder="** NONE **" class="form-control" readonly="readonly">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal" onclick="jsSocialCalendarEventInfoClose()">Close</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="jsUpdateSocialCalendarEventInfo()">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Social Calendar Event Update Modal -->
    <!-- Button trigger modal -->
    <button id="btnSocialCalendarEventUpdate" type="button" class="btn btn-outline-success block btn-lg" style="display:none;" data-toggle="modal"
            data-target="#SocialCalendarEventUpdate">
        Launch Modal
    </button>
    <!-- Modal -->
    <div class="modal fade text-left" id="SocialCalendarEventUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel18">Event Update</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Event Title: </h5>
                    <div class="form-group">
                        <input id="inEventUpdateTitle" type="text" placeholder="Event Title" class="form-control">
                    </div>
                    <h5>Event Type</h5>
                    <label>Event Type: </label>
                    <div class="form-group">
                        <select class="select2 hide-search form-control block" id="selEventTypeUpdate" style="width: 100%">
                            <option value="">-- Select Event Type --</option>
                            @if (Model.lstSocialCalendarEventsTypes.Count > 0)
                            {
                                foreach (var SocialCalendarEvent in Model.lstSocialCalendarEventsTypes)
                                {
                                    <option value="@SocialCalendarEvent.iSocialCalendarEventsTypeID">@SocialCalendarEvent.strTitle</option>
                                }
                            }
                            else
                            {
                                <option value="">-- No Social Calendar Events Available --</option>
                            }
                        </select>
                    </div>
                    <h5>Event Description: </h5>
                    <div class="form-group">
                        <textarea id="inEventUpdateDescription" type="text" placeholder="Event Description" rows="4" class="form-control textarea-resize-disable"></textarea>
                    </div>
                    <h5>Event Keywords: </h5>
                    <div class="form-group">
                        <textarea id="inEventUpdateKeywords" type="text" placeholder="Event Keywords" rows="4" class="form-control textarea-resize-disable"></textarea>
                    </div>
                    <h5>Event Link: </h5>
                    <div class="form-group">
                        <input id="inEventUpdateLinks" type="text" placeholder="Event Link" class="form-control">
                    </div>
                    <h5>Repeat Event: </h5>
                    <div class="form-group">
                        <select class="select2 hide-search form-control block" id="selRepeatEventTypeUpdate" style="width: 100%">
                            <option value="">-- Select Repeat Event Type --</option>
                            @*<option value="Daily">Daily</option>*@
                            <option value="Weekly">Weekly</option>
                            @*<option value="Biweekly">Biweekly</option>*@
                            <option value="Monthly">Monthly</option>
                        </select>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal" onclick="jsUpdateSocialCalendarEventInfoClose()">Close</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="jsSaveSocialCalendarEventInfo()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <input class="form-control" id="inEventEditID" style="display:none" readonly="readonly" />
</div>


@section scripts {
    @Scripts.Render("~/bundles/calendarscripts")
    @Scripts.Render("~/bundles/selectscripts")
    @Scripts.Render("~/bundles/sweetalertsscripts") 

@*Social Calendar Event Info*@
<script type="text/javascript">

    function jsGetClientSocialCalendar() {

        var iSelectedClientID = $('#lstClients').val();

        if (iSelectedClientID != null && iSelectedClientID != "") {
            $.ajax({
                url: '@Url.Action("GetClientSocialCalendar", "SocialCalendar")',
                type: "POST",
                data: { "iSelectedClientID": iSelectedClientID },
                success: function (data) {
                    // states is your JSON array
                    if (data.bClientExists == true) {
                        window.location.href = "/SocialCalendar/ClientSocialCalendar/";
                    }
                    else {
                        swal("Error!", "Could not get Client's Event Details.", "error");
                    }
                }
            });
        }
        }

</script>

    @*Add Social Calendar Event*@
    <script type="text/javascript">

        function jsAddSocialCalendarEvent(start, end) {
            var dfd = jQuery.Deferred();

            $('#SocialCalendarEventAdd').modal('show');

            var EventInfo = null;
            var EventTitle = "";
            var EventType = "";
            var RepeatEvent = null;

            //Add Event
            $('#inAddEvent').off('click').click(function () {

                if ($('#inEventTitle').val().toString() != null && $('#inEventTitle').val().toString() != "") {
                    EventTitle = $('#inEventTitle').val();
                    EventType = $('#selEventType').val();

                    var strTitle = $('#inEventTitle').val().toString();
                    var strEventStart = start.format().toString();
                    var strEventEnd = end.format().toString();
                    var strEventType = $('#selEventType').val().toString();

                    var strEventDescription = $('#inEventDescription').val().toString();
                    var strEventKeywords = $('#inEventKeywords').val().toString();
                    var strEventLinks = $('#inEventLinks').val().toString();
                    var strRepeatEventType = $('#selRepeatEventType').val().toString();

                    $.ajax({
                        url: '@Url.Action("AddSocialCalendarEvent", "SocialCalendar")',
                        type: "POST",
                        data: {
                            "strTitle": strTitle, "strEventStart": strEventStart, "strEventEnd": strEventEnd, "strEventType": strEventType,
                            "strEventDescription": strEventDescription, "strEventKeywords": strEventKeywords, "strEventLinks": strEventLinks,
                            "strRepeatEventType": strRepeatEventType
                        },
                        success: function (data) {
                            // states is your JSON array
                            if (data.bEventAdded == true && data.bEventExists == false) {

                                EventInfo = {
                                    EventID: data.iEventID.toString(),
                                    EventTitle: EventTitle,
                                    EventType: EventType,
                                    RepeatEvent: data.bIsRepeatEvent
                                };

                                dfd.resolve(EventInfo);
                            }
                            else if (data.bEventAdded == false && data.bEventExists == true) {

                                //Clear Items
                                $('#inEventTitle').val("");
                                $("#selEventType").prop("selectedIndex", 0).change();
                                $('#inEventDescription').val("");
                                $('#inEventKeywords').val("");
                                $('#inEventLinks').val("");
                                $("#selRepeatEventType").prop("selectedIndex", 0).change();

                                EventID = "";
                                EventTitle = "";
                                EventType = "";
                                EventInfo = {
                                    EventID: EventID,
                                    EventTitle: EventTitle,
                                    EventType: EventType
                                };

                                swal("Error!", "The event with the specified Date and Time already exists.", "error");
                                dfd.reject(EventInfo);
                            }
                            else {

                                //Clear Items
                                $('#inEventTitle').val("");
                                $("#selEventType").prop("selectedIndex", 0).change();
                                $('#inEventDescription').val("");
                                $('#inEventKeywords').val("");
                                $('#inEventLinks').val("");
                                $("#selRepeatEventType").prop("selectedIndex", 0).change();

                                EventID = "";
                                EventTitle = "";
                                EventType = "";
                                EventInfo = {
                                    EventID: EventID,
                                    EventTitle: EventTitle,
                                    EventType: EventType
                                };

                                swal("Error!", "Could not add event.", "error");
                                dfd.reject(EventInfo);
                            }
                        }
                    });
                }
                else {

                    //Clear Items
                    $('#inEventTitle').val("");
                    $("#selEventType").prop("selectedIndex", 0).change();
                    $('#inEventDescription').val("");
                    $('#inEventKeywords').val("");
                    $('#inEventLinks').val("");
                    $("#selRepeatEventType").prop("selectedIndex", 0).change();

                    EventID = "";
                    EventTitle = "";
                    EventType = "";
                    EventInfo = {
                        EventTitle: EventTitle,
                        EventType: EventType
                    };

                    dfd.reject(EventInfo);
                }
            });

            $('#inCloseModal').off('click').click(function () {

                //Clear Items
                $('#inEventTitle').val("");
                $("#selEventType").prop("selectedIndex", 0).change();
                $('#inEventDescription').val("");
                $('#inEventKeywords').val("");
                $('#inEventLinks').val("");
                $("#selRepeatEventType").prop("selectedIndex", 0).change();

                EventID = "";
                EventTitle = "";
                EventType = "";
                EventInfo = {
                    EventTitle: EventTitle,
                    EventType: EventType
                };

                dfd.reject(EventInfo);
            });

            return dfd.promise();
        }

    </script>

    

    @*Social Calendar Event Info*@
    <script type="text/javascript">

    function jsUpdateSocialCalendarEventInfo() {

        $('#SocialCalendarEventUpdate').modal('show');
        }

    function jsSocialCalendarEventInfoClose() {
        //Clear Event Info Items
        $('#inEventEditID').val("");
        $('#inEventInfoTitle').val("");
        //Clear Event Info Event Type Items
        $('#divEventTypeInfo').text("");
        $('#divEventTypeInfo').css("background-color", "#ffffff");
        $('#inEventInfoDescription').val("");
        $('#inEventInfoKeywords').val("");
        $('#inEventInfoLinks').val("");

        //Clear Event Update
        $('#inEventUpdateTitle').text("");
        $("#selEventTypeUpdate").prop("selectedIndex", 0).change();
        $('#inEventUpdateDescription').text("");
        $('#inEventUpdateKeywords').text("");
        $('#inEventUpdateLinks').text("");

    }

    </script>

    @*Update Social Calendar Event Info*@
    <script type="text/javascript">

    function jsSaveSocialCalendarEventInfo() {

        var strEventID = $('#inEventEditID').val();
        var strTitle = $('#inEventUpdateTitle').val().toString();
        var strEventType = $('#selEventTypeUpdate').val().toString();
        var strEventDescription = $('#inEventUpdateDescription').val().toString();
        var strEventKeywords = $('#inEventUpdateKeywords').val().toString();
        var strEventLinks = $('#inEventUpdateLinks').val().toString();


        $.ajax({
            url: '@Url.Action("SaveSocialCalendarEventInfo", "SocialCalendar")',
            type: "POST",
            data: {
                "strEventID": strEventID, "strTitle": strTitle, "strEventType": strEventType,
                "strEventDescription": strEventDescription, "strEventKeywords": strEventKeywords, "strEventLinks": strEventLinks
            },
            success: function (data) {
                // states is your JSON array

                if (data.bEventUpdated == true) {
                    //Do nothing
                    window.location.href = "/SocialCalendar/ClientSocialCalendar/";
                }
                else if (data.bEventUpdated == false) {
                    swal("Error!", "Could not update event.", "error");
                }
                else {
                    swal("Error!", "Could not update event.", "error");
                }
            }
        });


    }

    function jsUpdateSocialCalendarEventInfoClose() {
        //Clear Event Info Items
        $('#inEventEditID').val("");
        $('#inEventInfoTitle').val("");
        $('#divEventTypeInfo').text("");
        $('#divEventTypeInfo').css("background-color", "#ffffff");
        $('#inEventInfoDescription').val("");
        $('#inEventInfoKeywords').val("");
        $('#inEventInfoLinks').val("");

        //Clear Event Update
        $('#inEventUpdateTitle').text("");
        $("#selEventTypeUpdate").prop("selectedIndex", 0).change();
        $('#inEventUpdateDescription').text("");
        $('#inEventUpdateKeywords').text("");
        $('#inEventUpdateLinks').text("");
    }

    </script>

    @*Softserve Social*@
    <script type="text/javascript">
    /****************************************
    *			Softserve Social			*
    ****************************************/
    $('#fc-softservesocial').fullCalendar({

        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        selectHelper: true,
        select: function (start, end) {
            var info = jsAddSocialCalendarEvent(start, end);
            info.then(function (EventInfo) {
                var title = EventInfo.EventTitle.toString();
                var eventData;
                if (title) {
                    eventData = {
                        id: EventInfo.EventID.toString(),
                        title: title,
                        start: start,
                        end: end
                    };
                    if (EventInfo.RepeatEvent == true) {
                        window.location.href = "/SocialCalendar/ClientSocialCalendar/";
                    }
                    else {
                        //Update Calendar
                        $('#fc-softservesocial').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }

                }
                //Clear Items
                $('#fc-softservesocial').fullCalendar('unselect');
                $('#inEventTitle').val("");
                $("#selEventType").prop("selectedIndex", 0).change();
                $('#inEventDescription').val("");
                $('#inEventKeywords').val("");
                $('#inEventLinks').val("");
                $("#selRepeatEventType").prop("selectedIndex", 0).change();
            });
        },
        eventDrop: function (event, delta, revertFunc) {

            var strEventID = event.id.toString();
            var strTitle = event.title.toString();
            var strEventStart = event.start.format().toString();
            var strEventEnd = event.end.format().toString();

            $.ajax({
                url: '@Url.Action("UpdateSocialCalendarEventDateTime", "SocialCalendar")',
                type: "POST",
                data: { "strEventID": strEventID, "strEventStart": strEventStart, "strEventEnd": strEventEnd },
                success: function (data) {
                    // states is your JSON array

                    if (data.bEventUpdated == true) {
                        //Do nothing
                    }
                    else if (data.bEventUpdated == false) {
                        swal("Error!", "Could not update event.", "error");
                        revertFunc();
                    }
                    else {
                        swal("Error!", "Could not update event.", "error");
                        revertFunc();
                    }
                }
            });

            //if (!confirm("Are you sure about this change?")) {
            //    revertFunc();
            //}

        },
        eventResize: function(event, delta, revertFunc) {

            var strEventID = event.id.toString();
            var strTitle = event.title.toString();
            var strEventStart = event.start.format().toString();
            var strEventEnd = event.end.format().toString();

            $.ajax({
                url: '@Url.Action("UpdateSocialCalendarEventDateTime", "SocialCalendar")',
                type: "POST",
                data: { "strEventID": strEventID, "strEventStart": strEventStart, "strEventEnd": strEventEnd },
                success: function (data) {
                    // states is your JSON array

                    if (data.bEventUpdated == true) {
                        //Do nothing
                    }
                    else if (data.bEventUpdated == false) {
                        swal("Error!", "Could not update event.", "error");
                        revertFunc();
                    }
                    else {
                        swal("Error!", "Could not update event.", "error");
                        revertFunc();
                    }
                }
            });
        },
        eventClick: function(calEvent, jsEvent, view) {

            //Clear Event Info Items
            $('#inEventEditID').val("");
            $('#inEventInfoTitle').val("");
            $('#divEventTypeInfo').text("");
            $('#divEventTypeInfo').css("background-color", "#ffffff");
            $('#inEventInfoDescription').val("");
            $('#inEventInfoKeywords').val("");
            $('#inEventInfoLinks').val("");

            //Clear Event Update Items
            $('#inEventUpdateTitle').text("");
            $("#selEventTypeUpdate").prop("selectedIndex", 0).change();
            $('#inEventUpdateDescription').text("");
            $('#inEventUpdateKeywords').text("");
            $('#inEventUpdateLinks').text("");

            var strEventID = calEvent.id.toString();

            $.ajax({
                url: '@Url.Action("GetSocialCalendarEventInfo", "SocialCalendar")',
                type: "GET",
                data: { "strEventID": strEventID },
                success: function (data) {
                    // states is your JSON array

                    if (data.bEventExists == true) {
                        $('#SocialCalendarEventInfo').modal('show');

                        //Event Info and Event Type Colour
                        $('#inEventEditID').val(data.clsSocialCalendarEvent.iSocialCalendarEventID.toString());
                        $('#inEventInfoTitle').val(data.clsSocialCalendarEvent.strTitle.toString());
                        if (data.clsSocialCalendarEvent.clsSocialCalendarEventsType != null) {

                            //Convert string to decimal int and set opacity
                            var color = data.clsSocialCalendarEvent.clsSocialCalendarEventsType.strColour.toString();
                            var rgbaCol = 'rgba(' + parseInt(color.slice(-6, -4), 16)
                                + ',' + parseInt(color.slice(-4, -2), 16)
                                + ',' + parseInt(color.slice(-2), 16)
                                + ',0.7)';

                            $('#divEventTypeInfo').text(data.clsSocialCalendarEvent.clsSocialCalendarEventsType.strTitle.toString());
                            $('#divEventTypeInfo').css("background-color", rgbaCol);
                        }
                        else {
                            $('#divEventTypeInfo').text("** NONE **");
                            $('#divEventTypeInfo').css("background-color", "#ffffff");
                        }
                        $('#inEventInfoDescription').val(data.clsSocialCalendarEvent.strDescription);
                        $('#inEventInfoKeywords').val(data.clsSocialCalendarEvent.strKeywords);
                        $('#inEventInfoLinks').val(data.clsSocialCalendarEvent.strLinks);

                        //Event Update
                        $('#inEventUpdateTitle').val(data.clsSocialCalendarEvent.strTitle.toString());
                        if (data.clsSocialCalendarEvent.clsSocialCalendarEventsType != null) {
                            $("#selEventTypeUpdate").prop("selectedIndex", data.clsSocialCalendarEvent.clsSocialCalendarEventsType.iSocialCalendarEventsTypeID).change();
                        }
                        $('#inEventUpdateDescription').val(data.clsSocialCalendarEvent.strDescription);
                        $('#inEventUpdateKeywords').val(data.clsSocialCalendarEvent.strKeywords);
                        $('#inEventUpdateLinks').val(data.clsSocialCalendarEvent.strLinks);

                    }
                    else if (data.bEventExists == false) {
                        //Event Info
                        $('#inEventEditID').val("");
                        $('#inEventInfoTitle').val("");
                        $('#divEventTypeInfo').text("");
                        $('#divEventTypeInfo').css("background-color", "#ffffff");
                        $('#inEventInfoDescription').val("");
                        $('#inEventInfoKeywords').val("");
                        $('#inEventInfoLinks').val("");

                        //Event Update
                        $('#inEventUpdateTitle').text("");
                        $("#selEventTypeUpdate").prop("selectedIndex", 0).change();
                        $('#inEventUpdateDescription').text("");
                        $('#inEventUpdateKeywords').text("");
                        $('#inEventUpdateLinks').text("");

                        swal("Error!", "Could not display event information.", "error");
                        revertFunc();
                    }
                    else {
                        //Event Info
                        $('#inEventEditID').val("");
                        $('#inEventInfoTitle').val("");
                        $('#divEventTypeInfo').text("");
                        $('#divEventTypeInfo').css("background-color", "#ffffff");
                        $('#inEventInfoDescription').val("");
                        $('#inEventInfoKeywords').val("");
                        $('#inEventInfoLinks').val("");

                        //Event Update
                        $('#inEventUpdateTitle').text("");
                        $("#selEventTypeUpdate").prop("selectedIndex", 0).change();
                        $('#inEventUpdateDescription').text("");
                        $('#inEventUpdateKeywords').text("");
                        $('#inEventUpdateLinks').text("");

                        swal("Error!", "Could not display event information.", "error");
                        revertFunc();
                    }
                }
            });
        },
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: function (start, end, timezone, callback) {
            $.ajax({
                url: '@Url.Action("GetClientSocialCalendarEvents", "SocialCalendar")',
                type: "GET",
                success: function (data) {
                    // states is your JSON array
                    callback(data.lstSocialCalendarEvents);
                }
            });
        }
    });
    </script>

}


