﻿
@{
    ViewBag.Title = "Social Calendar Events";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Social Calendar Events
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Social Calendar Events</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <!-- Calendar section start -->
    <section id="clndr-examples">
        <div class="row">
            <!-- Adjacent -->
            <div id="divSocialCalendarEvent1" class="col-xl-6 col-lg-12 col-sm-12" style="display:none;">
                <div class="card card-height-600">
                    <div class="card-header">
                        <h4 class="card-title" id="hCardTitle1"></h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Events
                        </p>
                        <div id="SocialCalendar1" class="overflow-hidden bg-grey bg-lighten-3"></div>
                    </div>
                </div>
            </div>
            <div id="divSocialCalendarEvent2" class="col-xl-6 col-lg-12 col-sm-12" style="display:none;">
                <div class="card card-height-600">
                    <div class="card-header">
                        <h4 class="card-title" id="hCardTitle2"></h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Events
                        </p>
                        <div id="SocialCalendar2" class="overflow-hidden bg-grey bg-lighten-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Adjacent -->
            <div id="divSocialCalendarEvent3" class="col-xl-6 col-lg-12 col-sm-12" style="display:none;">
                <div class="card card-height-600">
                    <div class="card-header">
                        <h4 class="card-title" id="hCardTitle3"></h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Events
                        </p>
                        <div id="SocialCalendar3" class="overflow-hidden bg-grey bg-lighten-3"></div>
                    </div>
                </div>
            </div>
            <div id="divSocialCalendarEvent4" class="col-xl-6 col-lg-12 col-sm-12" style="display:none;">
                <div class="card card-height-600">
                    <div class="card-header">
                        <h4 class="card-title" id="hCardTitle4"></h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Events
                        </p>
                        <div id="SocialCalendar4" class="overflow-hidden bg-grey bg-lighten-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="clndr" class="clearfix">
            <script type="text/template" id="clndr-template">
                <div class="clndr-controls">
                    <div class="clndr-previous-button">&lt;</div>
                    <div class="clndr-next-button">&gt;</div>
                    <div class="current-month">
                        <%= month %>
                        <%= year %>
                    </div>
                </div>
                <div class="clndr-grid">
                    <div class="days-of-the-week clearfix">
                        <% _.each(daysOfTheWeek, function(day) { %>
                        <div class="header-day">
                            <%= day %>
                        </div>
                        <% }); %>
                    </div>
                    <div class="days">
                        <% _.each(days, function(day) { %>
                        <div class="<%= day.classes %>" id="<%= day.id %>">
                            <span class="day-number">
                                <%= day.day %>
                            </span>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <div class="event-listing">
                    <div class="event-listing-title">Event this month</div>
                    <div class="event-listing-inner-size-set">
                        <% _.each(eventsThisMonth, function(event) { %>
                        <div class="event-item font-small-3">
                            <div class="event-item-day font-small-2">
                                <%= event.startDate %>
                            </div>
                            <div class="event-item-name text-bold-600">
                                <%= event.title %>
                            </div>
                            <div class="event-item-location">
                                <%= event.location %>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </script>
        </div>
    </section>
    <!-- Calendar section end -->
</div>


@section scripts {

    @Scripts.Render("~/bundles/clndrscripts")

    <script type="text/javascript">

        /****************************************
        *			Adjacent CLNDR			*
        ****************************************/

        $('#SocialCalendar1').clndr({
            template: $('#clndr-template').html(),
            showAdjacentMonths: true,
            adjacentDaysChangeMonth: true,
            forceSixRows: true
        });

        $('#SocialCalendar2').clndr({
            template: $('#clndr-template').html(),
            showAdjacentMonths: true,
            adjacentDaysChangeMonth: true,
            forceSixRows: true
        });

        $('#SocialCalendar3').clndr({
            template: $('#clndr-template').html(),
            showAdjacentMonths: true,
            adjacentDaysChangeMonth: true,
            forceSixRows: true
        });

        $('#SocialCalendar4').clndr({
            template: $('#clndr-template').html(),
            showAdjacentMonths: true,
            adjacentDaysChangeMonth: true,
            forceSixRows: true
        });

    </script>

<script type="text/javascript">

    function jsGetSocialCalendarViewEventItems() {
        //Clear Event Info Items
        $.ajax({
            url: '@Url.Action("GetSocialCalendarViewEventItems", "SocialCalendar")',
            type: "GET",
            success: function (data) {
                // states is your JSON array
                var count = 1;
                if (data.clsSocialCalendarView.lstSocialCalendarEventsViewItemsFacebook.length > 0) {

                    var SocialCalendarID = "SocialCalendar" + count;
                    var divSocialCalendarEventID = "divSocialCalendarEvent" + count;
                    var CardTitleID = "hCardTitle" + count;

                    var socialCalendar = $('#' + SocialCalendarID).clndr();
                    socialCalendar.setEvents(data.clsSocialCalendarView.lstSocialCalendarEventsViewItemsFacebook);
                    $('#' + CardTitleID).text("Facebook");
                    $('#' + divSocialCalendarEventID).show();

                    count++;
                }
                if (data.clsSocialCalendarView.lstSocialCalendarEventsViewItemsInstagram.length > 0) {

                    var SocialCalendarID = "SocialCalendar" + count;
                    var divSocialCalendarEventID = "divSocialCalendarEvent" + count;
                    var CardTitleID = "hCardTitle" + count;

                    var socialCalendar = $('#' + SocialCalendarID).clndr();
                    socialCalendar.setEvents(data.clsSocialCalendarView.lstSocialCalendarEventsViewItemsInstagram);
                    $('#' + CardTitleID).text("Instagram");
                    $('#' + divSocialCalendarEventID).show();

                    count++;
                }
                if (data.clsSocialCalendarView.lstSocialCalendarEventsViewItemsTwitter.length > 0) {
                    
                    var SocialCalendarID = "SocialCalendar" + count;
                    var divSocialCalendarEventID = "divSocialCalendarEvent" + count;
                    var CardTitleID = "hCardTitle" + count;

                    var socialCalendar = $('#' + SocialCalendarID).clndr();
                    socialCalendar.setEvents(data.clsSocialCalendarView.lstSocialCalendarEventsViewItemsTwitter);
                    $('#' + CardTitleID).text("Twitter");
                    $('#' + divSocialCalendarEventID).show();

                    count++;
                }
                if (data.clsSocialCalendarView.lstSocialCalendarEventsViewItemsGooglePus.length > 0) {

                    var SocialCalendarID = "SocialCalendar" + count;
                    var divSocialCalendarEventID = "divSocialCalendarEvent" + count;
                    var CardTitleID = "hCardTitle" + count;

                    var socialCalendar = $('#' + SocialCalendarID).clndr();
                    socialCalendar.setEvents(data.clsSocialCalendarView.lstSocialCalendarEventsViewItemsGooglePus);
                    $('#' + CardTitleID).text("Google Plus");
                    $('#' + divSocialCalendarEventID).show();

                    count++;
                }
            }
        });
    }

    window.onload = function () {
        jsGetSocialCalendarViewEventItems();
    }

</script>
}