﻿@model SoftservePortalNew.Models.clsDomainEndings

@{
    ViewBag.Title = "DomainEndingEdit";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Edit Domain Ending
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Edit Domain Ending</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Domain Ending Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmDomainEndingEdit", @name = "frmDomainEndingEdit", @class = "form form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(Model => Model.iDomainEndingID)
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Domain Ending Info</h4>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strTitle">Domain Ending Title</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Domain Ending Title", @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <a href="@Url.Action("DomainEndings", "DomainEndings")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="icon-check2"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>