﻿
@{
    ViewBag.Title = "Showcase";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Showcase
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title"> Showcase</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <!-- Card overlay section start -->
    <section id="card-overlay">
        <div class="row">
            <div class="col-md-12 mt-3 mb-1">
                <h4>Our Delectable Showcase</h4>
                <p>
                    Showcasing all our previous Client projects and our high quality solutions.
                </p>
            </div>
        </div>
        <div class="row match-height">
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="../Content/app-assets/images/carousel/09.jpg"
                             alt="Card image cap" />
                        <div class="card-block">
                            <h4 class="card-title">Top Image Cap</h4>
                            <p class="card-text">
                                Jelly-o sesame snaps cheesecake topping. Cupcake fruitcake macaroon
                                donut pastry gummies tiramisu chocolate bar muffin. Dessert
                                bonbon caramels brownie chocolate bar chocolate tart dragée.
                            </p>
                            <p class="card-text">
                                Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate
                                bar muffin.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <div class="card-block">
                            <h4 class="card-title">Bottom Image Cap</h4>
                            <p class="card-text">
                                Jelly-o sesame snaps cheesecake topping. Cupcake fruitcake macaroon
                                donut pastry gummies tiramisu chocolate bar muffin. Dessert
                                bonbon caramels brownie chocolate bar chocolate tart dragée.
                            </p>
                            <p class="card-text">
                                Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate
                                bar muffin.
                            </p>
                            <p class="card-text mt-1">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                        <img class="card-img-bottom img-fluid" src="../Content/app-assets/images/carousel/15.jpg"
                             alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
        <div class="row match-height">
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="../Content/app-assets/images/carousel/06.jpg"
                             alt="Card image">
                        <div class="card-img-overlay overlay-yellow">
                            <h4 class="card-title">Card Image Overlay</h4>
                            <p class="card-text">
                                Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy
                                chupa chups.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="card no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="../Content/app-assets/images/carousel/05.jpg"
                             alt="Card image">
                        <div class="card-img-overlay overlay-orange overlay-lighten-2">
                            <h4 class="card-title">Card Image Overlay</h4>
                            <p class="card-text">
                                Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy
                                chupa chups.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="card card-inverse no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="../Content/app-assets/images/carousel/05.jpg"
                             alt="Card image">
                        <div class="card-img-overlay overlay-warning">
                            <h4 class="card-title">Inverse Text</h4>
                            <p class="card-text">
                                Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy
                                chupa chups.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class="card card-inverse no-border box-shadow-0">
                    <div class="card-body">
                        <img class="card-img img-fluid" src="../Content/app-assets/images/carousel/09.jpg"
                             alt="Card image">
                        <div class="card-img-overlay overlay-brown">
                            <h4 class="card-title">Inverse Text</h4>
                            <p class="card-text">
                                Sugar plum tiramisu sweet. Cake jelly marshmallow cotton candy
                                chupa chups.
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Card overlay section end -->
    <!-- Basic example section start -->
    <section id="basic-examples">
        <div class="row">
            <div class="col-xs-12 mt-1 mb-3">
                <h4>Basic Examples</h4>
                <p>
                    Cards require a small amount of markup and classes to provide you with
                    as much control as possible. These classes and markup are flexible
                    though and can typically be remixed and extended with ease. For example,
                    if your card has no flush content like images, feel free to put the
                    <code>.card-block</code> class on the <code>.card</code> element
                    to consolidate your markup.
                </p>
                <hr>
            </div>
        </div>
        <div class="row match-height">
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top img-fluid" src="../Content/app-assets/images/carousel/06.jpg"
                             alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Icing powder caramels macaroon. Toffee sugar plum brownie pastry
                                gummies jelly.
                            </p>
                            <a href="#" class="btn btn-outline-deep-orange">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <img class="card-img img-fluid mb-1" src="../Content/app-assets/images/carousel/08.jpg"
                                 alt="Card image cap">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">
                                Sweet halvah dragée jelly-o halvah carrot cake oat cake. Donut
                                jujubes jelly chocolate cake marzipan chocolate chocolate bar.
                            </p>
                            <a href="#" class="btn btn-outline-teal">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                        </div>
                        <img class="img-fluid" src="../Content/app-assets/images/carousel/10.jpg" alt="Card image cap">
                        <div class="card-block">
                            <p class="card-text">Bear claw sesame snaps gummies chocolate.</p>
                            <a href="#" class="card-link pink">Card link</a>
                            <a href="#" class="card-link pink">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                            <img class="img-fluid my-1" src="../Content/app-assets/images/carousel/09.jpg" alt="Card image cap">
                            <p class="card-text">Topping dessert marshmallow gummi bears chupa chups marzipan.</p>
                            <a href="#" class="card-link indigo darken-2">Card link</a>
                            <a href="#" class="card-link indigo darken-2">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic example section end -->
</div>


