﻿
@{
    ViewBag.Title = "Clients";
}
<div class="content-header row">
    <div class="breadcrumb-wrapper col-xs-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="#"> Client Management</a>
            </li>
        </ol>
    </div>
    <div class="content-header-left col-md-6 col-xs-12">
        <h2 class="content-header-title mb-0">View your clients</h2>
        <p class="text-muted mb-0">View and manage your clients</p>
    </div>
    <div class="content-header-right text-md-right col-md-6 col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-round btn-primary"><i class="icon-cog3 pr-1"></i> Settings</button>
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="btn btn-round btn-primary dropdown-toggle">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Action</a><a href="#" class="dropdown-item">Another action</a>
                <a href="#" class="dropdown-item">Something else here</a>
                <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Separated link</a>
            </div>
        </div>
    </div>
    <div class="content-header-lead col-xs-12 mt-2">
        <p class="lead">
            Manage your clients
        </p>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Client Info</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="card-text">
                                <p>
                                    Add and manage users
                                </p>
                            </div>
                            <form class="form form-horizontal">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-head"></i> Personal Info</h4>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="clientinput1">First Name</label>
                                        <div class="col-md-9">
                                            <input type="text" id="clientinput1" class="form-control border-primary" placeholder="First Name"
                                                   name="fname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="clientinput2">Last Name</label>
                                        <div class="col-md-9">
                                            <input type="text" id="clientinput2" class="form-control border-primary" placeholder="Last Name"
                                                   name="lname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="clientinput3">E-mail</label>
                                        <div class="col-md-9">
                                            <input type="text" id="clientinput3" class="form-control border-primary" placeholder="E-mail" name="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="clientinput4">Contact Number</label>
                                        <div class="col-md-9">
                                            <input type="text" id="clientinput4" class="form-control border-primary" placeholder="Phone" name="phone">
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="icon-mail6"></i> Contact Info And Bio</h4>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="clientinput5">Company</label>
                                        <div class="col-md-9">
                                            <input type="text" id="clientinput5" class="form-control border-primary" placeholder="Company Name"
                                                   name="company">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="clientinput6">Address</label>
                                        <div class="col-md-9">
                                            <input type="text" id="clientinput6" class="form-control border-primary" placeholder="Address"
                                                   name="address">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="clientinput7">Email</label>
                                        <div class="col-md-9">
                                            <input type="text" id="clientinput7" class="form-control border-primary" placeholder="Email"
                                                   name="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="clientinput8">Website</label>
                                        <div class="col-md-9">
                                            <input type="text" id="clientinput8" class="form-control border-primary" placeholder="http://"
                                                   name="website">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="clientinput9">Bio</label>
                                        <div class="col-md-9">
                                            <textarea id="clientinput9" rows="6" class="form-control col-md-9 border-primary" name="bio"
                                                      placeholder="Bio"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn btn-warning mr-1">
                                        <i class="icon-cross2"></i> Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="icon-check2"></i> Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


