﻿@model SoftservePortalNew.View_Models.Users.clsUserEdit

@{
    ViewBag.Title = "UserEdit";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Edit User
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Edit User</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts basic-selectize">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">User Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                              <form class="form form-horizontal">
                                  <div class="form-body">
                                      <h4 class="form-section"><i class="ft-user"></i> User Info</h4>
                                      <div class="form-group row">
                                          <label class="col-md-3 label-control" for="strFirstName">Profile Image</label>
                                          <div class="col-md-6">
                                              <section class="panel">
                                                  <div class="thumb-info mb-md">
                                                      <div id="cropImageDiv" class="crop-image-size-300">
                                                          @if (Model.strFullImagePath != null && Model.strFullImagePath != "")
                                                          {
                                                              <img id="imgCrop" src="../../@Model.strFullImagePath" class="rounded img-responsive" alt="Logo">
                                                          }
                                                          else
                                                          {
                                                              <img id="imgCrop" src="../../Documents/Default_Images/default_imageNoTrans.png" class="rounded img-responsive" alt="Logo">
                                                          }
                                                      </div>
                                                  </div>
                                              </section>
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-3 label-control" for="strTitle">First Name</label>
                                          <div class="col-md-9">
                                              @Html.EditorFor(Model => Model.clsUser.strFirstName, new { htmlAttributes = new { @id = "strFirstName", @placeholder = "First Name", @class = "form-control", @readonly = "readonly" } })
                                              @Html.ValidationMessageFor(model => model.clsUser.strFirstName, "", new { @class = "text-danger" })
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-3 label-control" for="strSurname">Surname</label>
                                          <div class="col-md-9">
                                              @Html.EditorFor(Model => Model.clsUser.strSurname, new { htmlAttributes = new { @id = "strSurname", @placeholder = "Surname", @class = "form-control", @readonly = "readonly" } })
                                              @Html.ValidationMessageFor(model => model.clsUser.strSurname, "", new { @class = "text-danger" })
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-3 label-control" for="strEmailAddress">Email</label>
                                          <div class="col-md-9">
                                              @Html.EditorFor(Model => Model.clsUser.strEmailAddress, new { htmlAttributes = new { @id = "strEmailAddress", @placeholder = "Email", @class = "form-control", @readonly = "readonly" } })
                                              @Html.ValidationMessageFor(model => model.clsUser.strEmailAddress, "", new { @class = "text-danger" })
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-actions right">
                                      <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-warning mr-1">
                                          <i class="icon-arrow-circle-left"></i> Back
                                      </a>
                                      <a href="@Url.Action("UserProfileEdit", "Users")" class="btn btn-primary">
                                          <i class="icon-check2"></i> Edit
                                      </a>
                                  </div>
                              </form>
                             
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section scripts {

}