﻿@model SoftservePortalNew.View_Models.Users.clsUserEdit

@{
    ViewBag.Title = "UserEdit";
}

@*Crop Slim Stylesheet*@
@Styles.Render("~/Content/slimCropStylesheets")

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Edit User
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Edit User</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts basic-selectize">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">User Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmUserProfileEdit", @name = "frmUserProfileEdit", @class = "form form-horizontal" }))
                            {
                                @Html.HiddenFor(Model => Model.clsUser.iUserID)
                                <div class="form-body">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"></label>
                                                <div class="col-md-9">
                                                    <div row="row">
                                                        <a id="btnUploadProfileImage" class="btn btn-primary mr-1" onclick="jsUploadProfileImage()">Upload Image</a>
                                                        <a id="btnSelectAvatarImage" class="btn btn-primary mr-1" onclick="jsSelectAvatarImage()">Select Avatar</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="divProfileImage" class="form-group row">
                                                <label class="col-md-3 label-control" for="strFirstName">Profile Image</label>
                                                <div class="col-md-9">
                                                    <section class="panel">
                                                        <div class="thumb-info mb-md">
                                                            <div id="cropImageDiv" class="slim crop-image-size-300"
                                                                 data-size="300,300"
                                                                 data-download="true"
                                                                 data-label="Click to Upload or Drop Image Here"
                                                                 data-will-transform="getImageData">
                                                                <input type="file" />
                                                                @if (Model.strFullImagePath != null && Model.strFullImagePath != "")
                                                                {
                                                                    <img id="imgCrop" src="../../../@Model.strFullImagePath" class="rounded img-responsive" alt="Logo">
                                                                }
                                                                else
                                                                {
                                                                    <img id="imgCrop" src="../../../Documents/Default_Images/default_imageNoTrans.png" class="rounded img-responsive" alt="Logo">
                                                                }
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                            <div id="divAvatarImage" class="form-group row" style="display:none;">
                                                <label class="col-md-3 label-control">Avatar</label>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="card">
                                                            <div class="card-header">
                                                            </div>
                                                            <div class="card-content">
                                                                <div class="card-body" onclick="jsSelectAvatarImage()">
                                                                    <img id="imgSelecedAvatar" style="width:300px;" src="../../Documents/Avatars/001-man-13.png" alt="001-man-13">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="strTitle">First Name</label>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(Model => Model.clsUser.strFirstName, new { htmlAttributes = new { @id = "strFirstName", @placeholder = "First Name", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.clsUser.strFirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="strSurname">Surname</label>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(Model => Model.clsUser.strSurname, new { htmlAttributes = new { @id = "strSurname", @placeholder = "Surname", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.clsUser.strSurname, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="strEmailAddress">Email</label>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(Model => Model.clsUser.strEmailAddress, new { htmlAttributes = new { @id = "strEmailAddress", @placeholder = "Email", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.clsUser.strEmailAddress, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="strOldPassword">Old Password</label>
                                                <div class="col-md-9">
                                                    <p>Update Password. No New Password entered will result in email being used as the password</p>
                                                    @Html.EditorFor(Model => Model.strOldPassword, new { htmlAttributes = new { @id = "strOldPassword", @placeholder = "Old Password", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.strOldPassword, "", new { @class = "text-danger" })
                                                    @Html.ValidationMessage("userPasswordError", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="strNewPassword">New Password</label>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(Model => Model.strNewPassword, new { htmlAttributes = new { @id = "strNewPassword", @placeholder = "New Password", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.strNewPassword, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="strConfirmPassword">Confirm Password</label>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(Model => Model.strConfirmPassword, new { htmlAttributes = new { @id = "strConfirmPassword", @placeholder = "Confirm Password", @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.strConfirmPassword, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.strCropImageName)
                                @Html.HiddenFor(model => model.strCropImageData)
                                @Html.HiddenFor(model => model.bIsProfileImageSelected)
                                @Html.HiddenFor(model => model.bIsAvatarImageSelected)
                                @Html.HiddenFor(model => model.strAvatarImageName)
                                <input id="inAvatarImageSource" type="hidden" />

                                <div class="form-actions right">
                                    <a href="@Url.Action("UserProfile", "Users")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="icon-check2"></i> Update
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SelectAvatar Modal -->
    <!-- Button trigger modal -->
    <button id="btnAvatarSelect" type="button" class="btn btn-outline-primary block btn-lg" style="display:none;" data-toggle="modal"
            data-target="#AvatarSelect">
        Select Avatar
    </button>
    <!-- Modal -->
    <div class="modal fade text-left" id="AvatarSelect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel34">Select Avatar</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/001-man-13.png" alt="001-man-13">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/002-woman-14.png" alt="002-woman-14">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/003-woman-13.png" alt="003-woman-13">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/004-woman-12.png" alt="004-woman-12">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/005-woman-11.png" alt="005-woman-11">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/006-woman-10.png" alt="006-woman-10">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/007-woman-9.png" alt="007-woman-9">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/008-woman-8.png" alt="008-woman-8">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/009-woman-7.png" alt="009-woman-7">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/010-woman-6.png" alt="010-woman-6">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/011-woman-5.png" alt="011-woman-5">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/012-woman-4.png" alt="012-woman-4">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/013-woman-3.png" alt="013-woman-3">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/014-man-12.png" alt="014-man-12">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/015-man-11.png" alt="015-man-11">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/016-man-10.png" alt="016-man-10">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/017-man-9.png" alt="017-man-9">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/018-man-8.png" alt="018-man-8">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/019-man-7.png" alt="019-man-7">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/020-man-6.png" alt="020-man-6">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/021-man-5.png" alt="021-man-5">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/022-man-4.png" alt="022-man-4">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/023-man-3.png" alt="023-man-3">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/024-man-2.png" alt="024-man-2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/025-man-1.png" alt="025-man-1">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/026-man.png" alt="026-man">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/027-boy-6.png" alt="027-boy-6">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/028-boy-5.png" alt="028-boy-5">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/029-boy-4.png" alt="029-boy-4">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/030-boy-3.png" alt="030-boy-3">
                                </div>
                            </div>
                            <div id="divTesttt" class="row">
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/031-boy-2.png" alt="031-boy-2">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/032-boy-1.png" alt="032-boy-1">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/033-boy.png" alt="033-boy">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/034-woman-2.png" alt="034-woman-2">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/035-woman-1.png" alt="035-woman-1">
                                </div>
                                <div class="col">
                                    <img class="avatar-selection" src="../../Documents/Avatars/036-woman.png" alt="036-woman">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="inCloseModal" type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal"
                               value="close">
                        <input id="inSelectAvatar" class="btn btn-outline-primary btn-lg" value="Select" onclick="jsSelectedAvatar()" data-dismiss="modal">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section scripts {
    @*Crop Slim Script*@
    @Scripts.Render("~/bundles/slimCropScripts")

    @*Avatar Selection*@
    <script type="text/javascript">
        //Single Click Function On Avatar
        $(".modal-body .container .avatar-selection").click(function () {

            $(".modal-body .container .avatar-selection").removeClass("avatar-select");
            $(this).addClass("avatar-select");

            $("#strAvatarImageName").val($(this).attr("alt"));
            $("#inAvatarImageSource").val($(this).attr("src"));
        });

        //Double Click Function On Avatar
        $('.modal-body .container .avatar-selection').dblclick(function () {

            $(".modal-body .container .avatar-selection").removeClass("avatar-select");
            $(this).addClass("avatar-select");

            $("#strAvatarImageName").val($(this).attr("alt"));
            $("#inAvatarImageSource").val($(this).attr("src"));

            $('#AvatarSelect').modal('hide');

            $("#imgSelecedAvatar").attr("src", $(this).attr("src"));
        });
    </script>

    <script type="text/javascript">

    function jsUploadProfileImage() {
        $("#bIsProfileImageSelected").val(true);
        $("#bIsAvatarImageSelected").val(false);

        $(".modal-body .container .avatar-selection").removeClass("avatar-select");
        $("#strAvatarImageName").val("");
        $("#inAvatarImageSource").val("");

        $("#divAvatarImage").hide();
        $("#divProfileImage").show();
    }

    function jsSelectAvatarImage() {
        $("#bIsProfileImageSelected").val(false);
        $("#bIsAvatarImageSelected").val(true);

        $("#divProfileImage").hide();
        $("#divAvatarImage").show();

        if ($("#inAvatarImageSource").val() == null || $("#inAvatarImageSource").val() == "") {
            $("#inAvatarImageSource").val("../../Documents/Avatars/001-man-13.png");
            $("#imgSelecedAvatar").attr("src", "../../Documents/Avatars/001-man-13.png");
        }

        if ($("#strAvatarImageName").val() == null || $("#strAvatarImageName").val() == "")
            $("#strAvatarImageName").val("001-man-13");

        $('#AvatarSelect').modal('show');
    }
</script>

    <script type="text/javascript">

        function jsSelectedAvatar() {
            $("#imgSelecedAvatar").attr("src", $("#inAvatarImageSource").val());
        }
    </script>

    @**** CROP IMAGE FUNCTION ****@
    <script type="text/javascript">

    function getImageData(data, ready) {
        var dataString = data.output.image.toDataURL();
        $("#strCropImageName").val(data.input.name);
        $("#strCropImageData").val(dataString);
        // continue saving the data
        ready(data);
    }
    </script>

<script type="text/javascript">
        window.onload = function () {
            //Default Profile Image Set
            $("#bIsProfileImageSelected").val(true);

            //CLEAR IMAGE DATA ON DELETE
            $(".slim-btn-remove").click(function () {
                $("#strCropImageName").val(null);
                $("#strCropImageData").val(null);
            });
        }
</script>
}