﻿@model IEnumerable<SoftservePortalNew.Models.clsUsers>

@{
    ViewBag.Title = "Users";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Users
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Users</h3>
    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <!-- Section start -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Users</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <p class="card-text">
                                List of Users
                            </p>
                            <form class="form form-horizontal">
                                <div class="form-body">
                                    <table id="tblUsers" class="table table-striped table-bordered dom-jQuery-events">
                                        <thead>
                                            <tr>
                                                <th>First Name</th>
                                                <th>Surname</th>
                                                <th>Email</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() > 0)
                                            {
                                                foreach (var User in Model)
                                                {
                                                    <tr id="@User.iUserID">
                                                        <td class="table-cell-center">@User.strFirstName</td>
                                                        <td class="table-cell-center">@User.strSurname</td>
                                                        <td class="table-cell-center">@User.strEmailAddress</td>
                                                        <td class="table-action-cell-center" style="font-size:1.8em;">
                                                            <a href="@Url.Action("UserEdit", "Users", new { @id = @User.iUserID })"><i class="fa fa-pencil"></i></a>
                                                            &nbsp;&nbsp;&nbsp;
                                                            <a id="@User.iUserID" href="#" data-toggle="modal" data-target="#ConfirmUserDelete" onclick="deleteItemConfirm(@User.iUserID)"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="form-actions right">
                                    <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    <a href="@Url.Action("UserAdd", "Users")" type="button" class="btn btn-primary">
                                        <i class="icon-plus"></i> Add
                                    </a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section end -->
    <!-- Confirmation Modal -->
    <!-- Modal -->
    <div class="modal fade text-left" id="ConfirmUserDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel18">Confirm Delete</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this item?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="jsDeleteUser()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <input class="form-control" id="inUserID" style="display:none" readonly="readonly" />
</div>

@section scripts {
    @Scripts.Render("~/bundles/datatablesscripts")

    @*Confirm Delete*@
    <script type="text/javascript">

    function deleteItemConfirm(UserID) {
        $("#inUserID").val(UserID);
    }
    </script>

    @*Delete*@
    <script type="text/javascript">

    function jsDeleteUser() {
        var iUserID = $("#inUserID").val();

        var selectedTable = $('#tblUsers').DataTable();
        selectedTable.row('#' + iUserID).remove().draw(false);

        $.ajax({
            url: '@Url.Action("UserDelete", "Users")',
            type: "POST",
            data: {"iUserID": iUserID},
            success: function (data) {
                //Do nothing
            }
        });
    }
    </script>
}

