﻿@model SoftservePortalNew.View_Models.Domains.clsDomainRecommendationsList

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="horz-layout-basic">Domain Recommendations</h4>
                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collpase show">
                <div class="card-body">
                    <div class="card-text">
                        <p>
                        </p>
                    </div>
                    <form>
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-user"></i> Your Site Not Available? Try any one of these Domains below</h4>

                            <div class="form-group row">

                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <div id="project-task-list_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                            <div class="row">
                                                @*<div class="col-sm-12 col-md-6"><div class="dataTables_length" id="project-task-list_length"><label>Show <select name="project-task-list_length" aria-controls="project-task-list" class="form-control form-control-sm select2-hidden-accessible" tabindex="-1" aria-hidden="true"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 75px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-project-task-list_length-zx-container"><span class="select2-selection__rendered" id="select2-project-task-list_length-zx-container" title="10">10</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="project-task-list_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="project-task-list"></label></div></div></div><div class="row">*@
                                                <div class="col-sm-12">
                                                    <table id="project-task-list" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle dataTable" role="grid" aria-describedby="project-task-list_info" style="position: relative;">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Domain">Domain</th>
                                                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Status">Status</th>
                                                                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="Price">Price</th>
                                                                <th class="sorting_disabled text-center" rowspan="1" colspan="1" aria-label="Actions">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.lstclsDomainRecommendationsCOZA.Count > 0)
                                                            {
                                                                <tr class="group">
                                                                    <td colspan="8">
                                                                        <h6 class="mb-0">
                                                                            Available .co.za Domains
                                                                        </h6>
                                                                    </td>
                                                                </tr>
                                                                foreach (var item in Model.lstclsDomainRecommendationsCOZA)
                                                                {
                                                                    <tr role="row">
                                                                        <td>
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">@item.strDomainName</h5>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-success my-0 text-bold-600">AVAILABLE</p>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">R @item.dblPrice</h5>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button id="btnPurchaseDomain" class="btn btn-primary">
                                                                                <i class="icon-check2"></i> Purchase
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }

                                                            @if (Model.lstclsDomainRecommendationsWEBZA.Count > 0)
                                                            {
                                                                <tr class="group">
                                                                    <td colspan="8">
                                                                        <h6 class="mb-0">
                                                                            Available .web.za Domains
                                                                        </h6>
                                                                    </td>
                                                                </tr>
                                                                foreach (var item in Model.lstclsDomainRecommendationsWEBZA)
                                                                {
                                                                    <tr role="row">
                                                                        <td>
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">@item.strDomainName</h5>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-success my-0 text-bold-600">AVAILABLE</p>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">R @item.dblPrice</h5>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button id="btnPurchaseDomain" class="btn btn-primary">
                                                                                <i class="icon-check2"></i> Purchase
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }

                                                            @if (Model.lstclsDomainRecommendationsNETZA.Count > 0)
                                                            {
                                                                <tr class="group">
                                                                    <td colspan="8">
                                                                        <h6 class="mb-0">
                                                                            Available .net.za Domains
                                                                        </h6>
                                                                    </td>
                                                                </tr>
                                                                foreach (var item in Model.lstclsDomainRecommendationsNETZA)
                                                                {
                                                                    <tr role="row">
                                                                        <td>
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">@item.strDomainName</h5>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-success my-0 text-bold-600">AVAILABLE</p>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">R @item.dblPrice</h5>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button id="btnPurchaseDomain" class="btn btn-primary">
                                                                                <i class="icon-check2"></i> Purchase
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }

                                                            @if (Model.lstclsDomainRecommendationsORGZA.Count > 0)
                                                            {
                                                                <tr class="group">
                                                                    <td colspan="8">
                                                                        <h6 class="mb-0">
                                                                            Available .org.za Domains
                                                                        </h6>
                                                                    </td>
                                                                </tr>
                                                                foreach (var item in Model.lstclsDomainRecommendationsORGZA)
                                                                {
                                                                    <tr role="row">
                                                                        <td>
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">@item.strDomainName</h5>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-success my-0 text-bold-600">AVAILABLE</p>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">R @item.dblPrice</h5>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button id="btnPurchaseDomain" class="btn btn-primary">
                                                                                <i class="icon-check2"></i> Purchase
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }

                                                            @if (Model.lstclsDomainRecommendationsJOBURG.Count > 0)
                                                            {
                                                                <tr class="group">
                                                                    <td colspan="8">
                                                                        <h6 class="mb-0">
                                                                            Available .joburg Domains
                                                                        </h6>
                                                                    </td>
                                                                </tr>
                                                                foreach (var item in Model.lstclsDomainRecommendationsJOBURG)
                                                                {
                                                                    <tr role="row">
                                                                        <td>
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">@item.strDomainName</h5>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-success my-0 text-bold-600">AVAILABLE</p>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">R @item.dblPrice</h5>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button id="btnPurchaseDomain" class="btn btn-primary">
                                                                                <i class="icon-check2"></i> Purchase
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }

                                                            @if (Model.lstclsDomainRecommendationsDURBAN.Count > 0)
                                                            {
                                                                <tr class="group">
                                                                    <td colspan="8">
                                                                        <h6 class="mb-0">
                                                                            Available .durban Domains
                                                                        </h6>
                                                                    </td>
                                                                </tr>
                                                                foreach (var item in Model.lstclsDomainRecommendationsDURBAN)
                                                                {
                                                                    <tr role="row">
                                                                        <td>
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">@item.strDomainName</h5>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-success my-0 text-bold-600">AVAILABLE</p>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">R @item.dblPrice</h5>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button id="btnPurchaseDomain" class="btn btn-primary">
                                                                                <i class="icon-check2"></i> Purchase
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }

                                                            @if (Model.lstclsDomainRecommendationsCAPETOWN.Count > 0)
                                                            {
                                                                <tr class="group">
                                                                    <td colspan="8">
                                                                        <h6 class="mb-0">
                                                                            Available .capetown Domains
                                                                        </h6>
                                                                    </td>
                                                                </tr>
                                                                foreach (var item in Model.lstclsDomainRecommendationsCAPETOWN)
                                                                {
                                                                    <tr role="row">
                                                                        <td>
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">@item.strDomainName</h5>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-success my-0 text-bold-600">AVAILABLE</p>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">R @item.dblPrice</h5>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button id="btnPurchaseDomain" class="btn btn-primary">
                                                                                <i class="icon-check2"></i> Purchase
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }

                                                            @if (Model.lstclsDomainRecommendationsAFRICA.Count > 0)
                                                            {
                                                                <tr class="group">
                                                                    <td colspan="8">
                                                                        <h6 class="mb-0">
                                                                            Available .africa Domains
                                                                        </h6>
                                                                    </td>
                                                                </tr>
                                                                foreach (var item in Model.lstclsDomainRecommendationsAFRICA)
                                                                {
                                                                    <tr role="row">
                                                                        <td>
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">@item.strDomainName</h5>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-success my-0 text-bold-600">AVAILABLE</p>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <h5 style="font-family:Folks;" class="my-0 text-bold-600">R @item.dblPrice</h5>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button id="btnPurchaseDomain" class="btn btn-primary">
                                                                                <i class="icon-check2"></i> Purchase
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            @*<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="project-task-list_info" role="status" aria-live="polite">Showing 1 to 10 of 28 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="project-task-list_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="project-task-list_previous"><a href="#" aria-controls="project-task-list" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="project-task-list" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="project-task-list" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="project-task-list" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item next" id="project-task-list_next"><a href="#" aria-controls="project-task-list" data-dt-idx="4" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>