﻿@model SoftservePortalNew.View_Models.Domains.clsDomainPurchases

@{
    ViewBag.Title = "DomainPurchase";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Domain Purchase
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Domain Purchase</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Domain Purchase</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                            @using (Html.BeginForm(null, null, new { @id = "frmDomainPurchase", @name = "frmDomainPurchase" }, FormMethod.Post, new { @class = "form form-horizontal" }))
                            {
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i> Domain Availability</h4>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="strDomainName">Domain</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            @Html.EditorFor(Model => Model.strDomainName, new { htmlAttributes = new { @id = "strDomainName", @placeholder = "Enter Domain Name Here", @class = "form-control", @onchange = "jsDisablePurchaseButton()" } })
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon7">.co.za</span>
                                            </div>
                                            <div class="input-group-append">
                                                <button onclick="jsCheckDomainAvailability()" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.strDomainName, "", new { @class = "text-danger" })
                                        @Html.ValidationMessage("domainError", new { @id= "domainError", @class = "text-danger" })
                                        <br />
                                        <h2 style="color:limegreen; font-family:Folks; display:none;" id="h2DomainAvailable">Domain is Available </h2>
                                        <h2 style="color:red; font-family:Folks; display:none;" id="h2DomainNotAvailable">Domain is not Available </h2>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(Model => Model.bIsDomainAvailable)
                            <div class="form-actions right">
                                <button onclick="jsOnClick()" type="button" class="btn btn-warning mr-1">
                                    <i class="icon-cross2"></i> Cancel
                                </button>
                                <button id="btnPurchaseDomain" disabled type="submit" class="btn btn-primary">
                                    <i class="icon-check2"></i> Purchase
                                </button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="domainRecommendation">
        
    </section>
</div>

<script type="text/javascript">
    function jsCheckDomainAvailability() {

        var strDomainName = $("#strDomainName").val();
        if (strDomainName != null && strDomainName != "") {
            //Change when adding many more domains
            //if (/^((?:(?:(?:\w[\.\-\+]?)*)\w)+)((?:(?:(?:\w[\.\-\+]?){0,62})\w)+)\.(\w{2,6})$/.test(strDomainName)) {
            $("#domainError").text("");
            $.ajax({
                url: '@Url.Action("DomainAvailability", "Domains")',
                type: "POST",
                data: { "strDomainName": strDomainName },
                success: function (data) {
                    // states is your JSON array
                    if (data.isValidDomain) {
                        if (data.bIsDomainAvailable) {
                            $("#h2DomainAvailable").show();
                            $("#h2DomainAvailable").text("YOUR DOMAIN NAME " + data.strDomainName.toUpperCase() + " IS AVAILABLE");
                            $("#h2DomainNotAvailable").hide();
                            $("#h2DomainNotAvailable").text("");
                            $('#domainRecommendation').html("");
                        }
                        else {
                            $("#h2DomainAvailable").hide();
                            $("#h2DomainAvailable").text("");
                            $("#h2DomainNotAvailable").show();
                            $("#h2DomainNotAvailable").text("YOUR DOMAIN NAME " + data.strDomainName.toUpperCase() + " IS NOT AVAILABLE");

                            $.ajax({
                                url: '@Url.Action("_DomainRecommendations", "Domains")',
                                type: "POST",
                                data: { "strDomainName": data.strDomainName },
                                success: function (data2) {
                                    // states is your JSON array
                                    $('#domainRecommendation').html(data2);
                                }
                            });
                        }
                    }
                    else {
                        $("#domainError").text("Please enter a valid Domain Name");
                        $("#h2DomainAvailable").hide();
                        $("#h2DomainAvailable").text("");
                        $("#h2DomainNotAvailable").hide();
                        $("#h2DomainNotAvailable").text("");
                        $('#domainRecommendation').html("");
                    }
                }
            });
        }
    }
</script>

<script type="text/javascript">
    function jsDisablePurchaseButton() {

        //alert("sss");
    }

    //window.onload = function () {
    //    jQuery('#strDomainName').on('input', function () {
    //        //alert("D");
    //    });
    //}
</script>