﻿
@{
    ViewBag.Title = "DomainManagement";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Domain Management
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Domain Management</h3>
        
    </div>
    @*<div class="content-header-right col-md-6 col-12">
        <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
            <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
            <div class="form-control-position"><i class="fa fa-search"></i></div>
        </fieldset>
    </div>*@
</div>
<div class="content-body">
    <!-- Multi-column ordering table -->
    <section id="multi-column">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Multi-column ordering</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <p class="card-text">
                                DataTables allows ordering by multiple columns at the same time,
                                which can be activated in a number of different ways
                            </p>
                            <table class="table table-striped table-bordered multi-ordering">
                                <thead>
                                    <tr>
                                        <th>Domain Name</th>
                                        <th>IP Address</th>
                                        <th>Registrar</th>
                                        <th>email</th>
                                        <th>Expiry Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Domain 1</td>
                                        <td>123.01.2.01</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>19 January 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Domain 2</td>
                                        <td>123.01.2.02</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>30 April 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Domain 3</td>
                                        <td>123.01.2.03</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>02 January 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Domain 4</td>
                                        <td>123.01.2.04</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>04 June 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Domain 5</td>
                                        <td>123.01.2.05</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>19 August 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Domain 6</td>
                                        <td>123.01.2.06</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>21 February 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Domain 7</td>
                                        <td>123.01.2.07</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>19 January 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Domain 8</td>
                                        <td>123.01.2.08</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>08 August 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Domain 9</td>
                                        <td>123.01.2.09</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>01 September 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Domain 10</td>
                                        <td>123.01.2.10</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>20 September 2019</td>
                                    </tr>
                                    <tr>
                                        <td>Domain 11</td>
                                        <td>123.01.2.11</td>
                                        <td>Andrew</td>
                                        <td>hello@softservedigital.co.za</td>
                                        <td>06 September 2019</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Multi-column ordering table -->
</div>

@section scripts {
    @Scripts.Render("~/bundles/datatablesscripts")
}




