﻿@model SoftservePortalNew.View_Models.Domains.clsDomainAdd

@{
    ViewBag.Title = "Add Domain";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Add Domain
                    </li>
                </ol>
            </div>
        </div>
        <h3 class="content-header-title">Add Domain</h3>

    </div>
    @*<div class="content-header-right col-md-6 col-12">
            <fieldset class="form-group relative has-icon-left col-md-5 col-12 float-right p-0">
                <input class="form-control" id="iconLeft" type="text" placeholder="Search...">
                <div class="form-control-position"><i class="fa fa-search"></i></div>
            </fieldset>
        </div>*@
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="horz-layout-basic">Domain Info</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                @*<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>*@
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                @*<li><a data-action="close"><i class="ft-x"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                </p>
                            </div>
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmDomainAdd", @name = "frmDomainAdd", @class = "form form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Domain Info</h4>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="lstClients">Client</label>
                                        <div class="col-md-9">
                                            @if (Model.lstClients.Count > 0)
                                            {
                                                @Html.DropDownListFor(Model => Model.clsDomain.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- Select Client --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                                @Html.ValidationMessageFor(model => model.clsDomain.iClientID, "", new { @class = "text-danger" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(Model => Model.clsDomain.iClientID, new SelectList(Model.lstClients, "iClientID", "strCompanyName"), "-- No Clients Available --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                                @Html.ValidationMessageFor(model => model.clsDomain.iClientID, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strTitle">Domain Name</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsDomain.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Domain Name", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsDomain.strTitle, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="lstDomainEndings">Domain Endings</label>
                                        <div class="col-md-9">
                                            @if (Model.lstClients.Count > 0)
                                            {
                                                @Html.DropDownListFor(Model => Model.clsDomain.iDomainEndingID, new SelectList(Model.lstDomainEndings, "iDomainEndingID", "strTitle"), "-- Select Domain Ending --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                                @Html.ValidationMessageFor(model => model.clsDomain.iDomainEndingID, "", new { @class = "text-danger" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(Model => Model.clsDomain.iDomainEndingID, new SelectList(Model.lstDomainEndings, "iDomainEndingID", "strTitle"), "-- No Domain Endings Available --", new { @id = "lstClients", @name = "lstClients", @class = "select2 hide-search form-control block" })
                                                @Html.ValidationMessageFor(model => model.clsDomain.iDomainEndingID, "", new { @class = "text-danger" })
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="strGoogleAnalyticsCode">Google Analytics Code</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(Model => Model.clsDomain.strGoogleAnalyticsCode, new { htmlAttributes = new { @id = "strGoogleAnalyticsCode", @placeholder = "Google Analytics Code", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.clsDomain.strGoogleAnalyticsCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="chkbIsAutoRenew">Domain Auto Renew</label>
                                        <div class="col-md-9">
                                            <fieldset>
                                                <input type="checkbox" id="chkbIsAutoRenew" onclick="jsSetbIsAutoRenew()">
                                            </fieldset>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(Model => Model.clsDomain.bAutoRenew)
                                </div>
                                <div class="form-actions right">
                                    <a href="@Url.Action("Domains", "Domains")" type="button" class="btn btn-warning mr-1">
                                        <i class="icon-arrow-circle-left"></i> Back
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="icon-plus"></i> Add
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div>

@section scripts {
    <script type="text/javascript">

        function jsSetbIsAutoRenew() {

            if ($('#chkbIsAutoRenew').is(':checked')) {
            $("#clsDomain_bAutoRenew").val(true);
        }
        else {
            $("#clsDomain_bAutoRenew").val(false);
        }
    }
</script>
}