﻿@model SoftservePortalNew.View_Models.LayoutPartialViews.clsLogoutPartialView

<!-- Menu When Logged In - Log out -->
<li class="dropdown dropdown-notification nav-item">
    <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
        <i class="ficon ft-bell"></i>
        <span class="badge badge-pill badge-default badge-danger badge-default badge-up notification-count">&nbsp;</span> @*This is the notification badge tag*@
    </a>
    <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
        <li class="dropdown-menu-header">
            <h6 class="dropdown-header m-0">
                <span class="grey darken-2">Notifications</span>
            </h6>
            <span class="notification-tag badge badge-default badge-danger float-right m-0 notification-count">&nbsp; New</span> @*This is the notification dropdown tag*@
        </li>
        <li class="scrollable-container media-list w-100">
            @* place nested foreach here to iterate through notification items*@
            @* maybe sort them using filter input*@
            <a href="javascript:void(0)">
                <div class="media">
                    <div class="media-left align-self-center"><i class="ft-plus-square icon-bg-circle bg-cyan"></i></div>
                    <div class="media-body">
                        <h6 class="media-heading">You have new order!</h6>
                        <p class="notification-text font-small-3 text-muted">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">30 minutes ago</time>
                        </small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="media">
                    <div class="media-left align-self-center"><i class="ft-download-cloud icon-bg-circle bg-red bg-darken-1"></i></div>
                    <div class="media-body">
                        <h6 class="media-heading red darken-1">99% Server load</h6>
                        <p class="notification-text font-small-3 text-muted">Aliquam tincidunt mauris eu risus.</p>
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Five hour ago</time>
                        </small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="media">
                    <div class="media-left align-self-center"><i class="ft-alert-triangle icon-bg-circle bg-yellow bg-darken-3"></i></div>
                    <div class="media-body">
                        <h6 class="media-heading yellow darken-3">Warning notifixation</h6>
                        <p class="notification-text font-small-3 text-muted">Vestibulum auctor dapibus neque.</p>
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time>
                        </small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="media">
                    <div class="media-left align-self-center"><i class="ft-check-circle icon-bg-circle bg-cyan"></i></div>
                    <div class="media-body">
                        <h6 class="media-heading">Complete the task</h6>
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Last week</time>
                        </small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="media">
                    <div class="media-left align-self-center"><i class="ft-file icon-bg-circle bg-teal"></i></div>
                    <div class="media-body">
                        <h6 class="media-heading">Generate monthly report</h6>
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Last month</time>
                        </small>
                    </div>
                </div>
            </a>
        </li>
        <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all notifications</a></li>
    </ul>
</li>
<li class="dropdown dropdown-notification nav-item">
    <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
        <i class="ficon ft-mail"></i>
        <span class="badge badge-pill badge-default badge-info badge-default badge-up">5 </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
        <li class="dropdown-menu-header">
            <h6 class="dropdown-header m-0">
                <span class="grey darken-2">Messages</span>
            </h6>
            <span class="notification-tag badge badge-default badge-warning float-right m-0">4 New</span>
        </li>
        <li class="scrollable-container media-list w-100">
            <a href="javascript:void(0)">
                <div class="media">
                    <div class="media-left">
                        <span class="avatar avatar-sm avatar-online rounded-circle">
                            <img src="../Content/app-assets/images/portrait/small/avatar-s-19.png"
                                 alt="avatar"><i></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Margaret Govan</h6>
                        <p class="notification-text font-small-3 text-muted">I like your portfolio, let's start.</p>
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time>
                        </small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="media">
                    <div class="media-left">
                        <span class="avatar avatar-sm avatar-busy rounded-circle">
                            <img src="../Content/app-assets/images/portrait/small/avatar-s-2.png"
                                 alt="avatar"><i></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Bret Lezama</h6>
                        <p class="notification-text font-small-3 text-muted">I have seen your work, there is</p>
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Tuesday</time>
                        </small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="media">
                    <div class="media-left">
                        <span class="avatar avatar-sm avatar-online rounded-circle">
                            <img src="../Content/app-assets/images/portrait/small/avatar-s-3.png"
                                 alt="avatar"><i></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Carie Berra</h6>
                        <p class="notification-text font-small-3 text-muted">Can we have call in this week ?</p>
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Friday</time>
                        </small>
                    </div>
                </div>
            </a>
            <a href="javascript:void(0)">
                <div class="media">
                    <div class="media-left">
                        <span class="avatar avatar-sm avatar-away rounded-circle">
                            <img src="../Content/app-assets/images/portrait/small/avatar-s-6.png"
                                 alt="avatar"><i></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Eric Alsobrook</h6>
                        <p class="notification-text font-small-3 text-muted">We have project party this saturday.</p>
                        <small>
                            <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">last month</time>
                        </small>
                    </div>
                </div>
            </a>
        </li>
        <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all messages</a></li>
    </ul>
</li>
<li class="dropdown dropdown-user nav-item">
    <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
        @*<span class="avatar avatar-online">*@
        <span class="avatar">
            @if (Model.strImagePath != null && Model.strImagePath != "")
            {
                <img style="background-color:white;" src="../../@Model.strImagePath" alt="ProfileImage"><i></i>

            }
            else
            {
                <img style="background-color:white;" src="../../Documents/Default_Images/default_imageNoTrans.png" alt="ProfileImage"><i></i>
            }
        </span>
        <span class="user-name">@Model.strName</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        @if (Model.bIsUser == true)
        {
            <a class="dropdown-item" href="@Url.Action("UserProfileEdit", "Users")"><i class="ft-user"></i> Edit Profile</a>
        }
        else if (Model.bIsClient == true)
        {
            <a class="dropdown-item" href="@Url.Action("ClientProfileEdit", "Clients")"><i class="ft-user"></i> Edit Profile</a>
        }

        <a class="dropdown-item" href="#"><i class="ft-mail"></i>My Inbox</a>
        <a class="dropdown-item" href="#"><i class="ft-check-square"></i> Task</a><a class="dropdown-item"
                                                                                     href="#"><i class="ft-message-square"></i>Chats</a>
        <div class="dropdown-divider"></div><a class="dropdown-item" href="@Url.Action("Logout", "Accounts")"><i class="ft-power"></i> Logout</a>
    </div>
</li>

@* Add Jquery Library *@
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="/SignalR/Hubs"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@* Add css  *@
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style type="text/css">
    /*Added css for design notification area, you can design by your self*/
    /* COPY css content from youtube video description*/
    .noti-content {
        position: fixed;
        right: 100px;
        background: #e5e5e5;
        border-radius: 4px;
        top: 47px;
        width: 250px;
        display: none;
        border: 1px solid #9E988B;
    }

    ul#notiContent {
        max-height: 200px;
        overflow: auto;
        padding: 0px;
        margin: 0px;
        padding-left: 20px;
    }

        ul#notiContent li {
            margin: 3px;
            padding: 6px;
            background: #fff;
        }

    .noti-top-arrow {
        border-color: transparent;
        border-bottom-color: #F5DEB3;
        border-style: dashed dashed solid;
        border-width: 0 8.5px 8.5px;
        position: absolute;
        right: 32px;
        top: -8px;
    }

    span.noti {
        color: #FF2323;
        margin: 15px;
        position: fixed;
        right: 100px;
        font-size: 18px;
        cursor: pointer;
    }

    span.notification-count {
        position: relative;
        top: -3px;
    }
</style>

@* Add jquery code for Get Notification & setup signalr *@
<script type="text/javascript">
        $(function () {
            // Click on notification icon for show notification
            $('span.noti').click(function (e) {
                e.stopPropagation();
                $('.noti-content').show();
                var count = 0;
                count = parseInt($('span.notification-count').html()) || 0;
                //only load notification if not already loaded
                if (count > 0) {
                    updateNotification();
                }
                $('span.notification-count', this).html('&nbsp;');
            })
            // hide notifications
            $('html').click(function () {
                $('.noti-content').hide();
            })
            // update notification
            function updateNotification() {
                $('#notiContent').empty();
                $('#notiContent').append($('<li>Loading...</li>'));

                $.ajax({
                    type: 'GET',
                    url: '/home/GetNotificationContacts',
                    success: function (response) {
                        $('#notiContent').empty();
                        if (response.length  == 0) {
                            $('#notiContent').append($('<li>No data available</li>'));
                        }
                        $.each(response, function (index, value) {
                            $('#notiContent').append($('<li>New contact : ' + value.ContactName + ' (' + value.ContactNo + ') added</li>'));
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
            // update notification count
            function updateNotificationCount() {
                var count = 0;
                count = parseInt($('span.notification-count').html()) || 0;
                count++;
                $('span.notification-count').html(count);
            }
            // signalr js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                console.log('Notification hub started');
            });

            //signalr method for push server message to client
            notificationHub.client.notify = function (message) {
                if (message && message.toLowerCase() == "added") {
                    updateNotificationCount();
                }
            }

        })
</script>