﻿
<!-- Menu When not Logged In - icon-fingerprint -->
<li class="nav-item">
    <a href="@Url.Action("Login", "Accounts")" class="nav-link dropdown-user-link"><i class="icon-fingerprint" style="font-size:xx-large;vertical-align:middle"></i><span class="user-name" style="font-size:20px;vertical-align:middle;margin-top:6px;">Login</span></a>
</li>