﻿@*** -- CLIENT MENU -- ***@

<!-- main menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item">
                <a href="#"><i class="icon-icecream"></i><span data-i18n="nav.dash.main" class="menu-title">Tasty Solutions</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("Home", "Solutions")" data-i18n="nav.dash.domainmanagement" class="menu-item">Tasty Solutions</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Showcase", "Solutions")" data-i18n="nav.dash.domainmanagement" class="menu-item">Showcase</a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item">
                <a href="@Url.Action("ClientProfile", "Clients")"><i class="icon-profile"></i><span data-i18n="nav.dash.main" class="menu-title">Profile</span></a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Google", "Analytics")"><i class="icon-line-chart"></i><span data-i18n="nav.category.charts_maps" class="menu-title">Analytics</span></a>
            </li>
            <li class="nav-item">
                <a href="#"><i class="icon-world"></i><span data-i18n="nav.dash.main" class="menu-title">Domains</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("DomainManagement", "Domains")" data-i18n="nav.dash.domainmanagement" class="menu-item">Domain Management</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DomainPurchase", "Domains")" data-i18n="nav.dash.domainmanagement" class="menu-item">Domain Purchase</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("ClientSocialMediaReport", "Clients")"><i class="icon-timeline"></i><span data-i18n="nav.category.charts_maps" class="menu-title">SM Report</span></a>
            </li>
            
            <li class="nav-item">
                <a href="#"><i class="icon-docs"></i><span data-i18n="nav.dash.main" class="menu-title">CI Documents</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("ClientCIDocuments", "CIDocuments")" data-i18n="nav.dash.users" class="menu-item">Client Documents</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("SocialCalendarView", "SocialCalendar")"><i class="icon-calendar-o"></i><span data-i18n="nav.dash.main" class="menu-title">Social Calendar</span></a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("OurTeam", "SoftserveDigital")"><i class="icon-bowtie"></i><span data-i18n="nav.templates.main" class="menu-title">Meet our team</span></a>
            </li>
        </ul>
    </div>
    <!-- / main menu content-->
</div>

<!-- / main menu-->