﻿@*** -- USER MENU -- ***@

<!-- main menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            @*<li class="nav-item">
                <a href="#"><i class="icon-icecream"></i><span data-i18n="nav.dash.main" class="menu-title">Tasty Solutions</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("Home", "Solutions")" data-i18n="nav.dash.domainmanagement" class="menu-item">Tasty Solutions</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Showcase", "Solutions")" data-i18n="nav.dash.domainmanagement" class="menu-item">Showcase</a>
                    </li>
                </ul>
            </li>*@
            <li class="nav-item">
                <a href="@Url.Action("UserProfile", "Users")"><i class="icon-profile"></i><span data-i18n="nav.dash.main" class="menu-title">Profile</span></a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Google", "Analytics")"><i class="icon-line-chart"></i><span data-i18n="nav.category.charts_maps" class="menu-title">Analytics</span></a>
            </li>
            <li class="nav-item">
                <a href="#"><i class="icon-world"></i><span data-i18n="nav.dash.main" class="menu-title">Domains</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("DomainManagement", "Domains")" data-i18n="nav.dash.domainmanagement" class="menu-item">Domain Management</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DomainPurchase", "Domains")" data-i18n="nav.dash.domainmanagement" class="menu-item">Domain Purchase</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Domains", "Domains")" data-i18n="nav.dash.domainmanagement" class="menu-item">Domains</a>
                    </li>
                    <li>
                        <a href="@Url.Action("DomainEndings", "DomainEndings")" data-i18n="nav.dash.domainmanagement" class="menu-item">Domain Endings</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#"><i class="icon-user"></i><span data-i18n="nav.dash.main" class="menu-title">Users</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("Users", "Users")" data-i18n="nav.dash.users" class="menu-item">Users</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Clients", "Clients")" data-i18n="nav.dash.clients" class="menu-item">Clients</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#"><i class="icon-blog"></i><span data-i18n="nav.dash.main" class="menu-title">Blogs</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("BlogTypes", "BlogTypes")" data-i18n="nav.dash.users" class="menu-item">Blog Types</a>
                    </li>
                    <li>
                        <a href="@Url.Action("BlogTags", "BlogTags")" data-i18n="nav.dash.users" class="menu-item">Blog Tags</a>
                    </li>
                    <li>
                        <a href="@Url.Action("BlogPosts", "BlogPosts")" data-i18n="nav.dash.clients" class="menu-item">Blog Posts</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("ClientChangeLogs", "Management")"><i class="icon-timeline"></i><span data-i18n="nav.category.charts_maps" class="menu-title">Change Log</span></a>
            </li>
            
            <li class="nav-item">
                <a href="#"><i class="icon-calendar-o"></i><span data-i18n="nav.dash.main" class="menu-title">Social Calendar</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("SocialCalendarClients", "SocialCalendar")" data-i18n="nav.dash.users" class="menu-item">Social Calendar</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#"><i class="icon-docs"></i><span data-i18n="nav.dash.main" class="menu-title">CI Documents</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("CIDocuments", "CIDocuments")" data-i18n="nav.dash.users" class="menu-item">Client Documents</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#"><i class="icon-notification"></i><span data-i18n="nav.dash.main" class="menu-title">Notifications</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("Notifications", "Notifications")" data-i18n="nav.dash.users" class="menu-item">Client Notifications</a>
                    </li>
                    <li>
                        <a href="@Url.Action("NotificationTypes", "NotificationTypes")" data-i18n="nav.dash.users" class="menu-item">Notification Types</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#"><i class="icon-link"></i><span data-i18n="nav.dash.main" class="menu-title">Client Links</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="@Url.Action("ClientLinks", "ClientLinks")" data-i18n="nav.dash.users" class="menu-item">Client Links</a>
                    </li>
                    @*<li>
                    <a href="@Url.Action("SocialCalendarView", "SocialCalendar")" data-i18n="nav.dash.clients" class="menu-item">Social Calendar View</a>
                </li>*@
                </ul>
            </li>
            
            <li class="nav-item">
                <a href="@Url.Action("OurTeam", "SoftserveDigital")"><i class="icon-bowtie"></i><span data-i18n="nav.templates.main" class="menu-title">Meet our team</span></a>
            </li>
        </ul>
    </div>
    <!-- / main menu content-->
</div>

<!-- / main menu-->